<div class="row" start-tour="intro">
    <div class="col-xs-6">
        <button class="btn btn-default btn-block front-register-btn" ng-click="goToView('register')"
         ng-hide="isLoggedIn()" ng-bind="'navigation.register' | trans"></button>
    </div>
    <div class="col-xs-6">
        <button class="btn btn-default btn-block front-login-btn" ng-click="goToView('login')"
         ng-hide="canViewGraph()" ng-bind="'navigation.login' | trans"></button>
    </div>
</div>

<img src="img/front.png" class="img-responsive front-illustration"/>
