<div ng-controller="MatchCtrl">
    <div class="well text-center matchScoreDisplay pageSection" ng-if="scoreData" ng-click="showFullScore = !showFullScore">
        <div class="scoreElement">
            <span ng-bind="'score.totalScore'|trans"></span>:
            <span class="blueScore" ng-bind="scoreData.blue.score"></span> :
            <span class="greenScore" ng-bind="scoreData.green.score"></span>
        </div>
        <div class="scoreElement" ng-show="showFullScore">
            <div>
                <span ng-bind="'score.players'|trans"></span>:
                <span class="blueScore" ng-bind="scoreData.blue.users"></span> :
                <span class="greenScore" ng-bind="scoreData.green.users"></span>
            </div>
            <div>
                <span ng-bind="'score.captured'|trans"></span>:
                <span class="blueScore" ng-bind="scoreData.blue.captured"></span> :
                <span class="greenScore" ng-bind="scoreData.green.captured"></span>
            </div>
            <div>
                <span ng-bind="'score.babies'|trans"></span>:
                <span class="blueScore" ng-bind="scoreData.blue.babies"></span> :
                <span class="greenScore" ng-bind="scoreData.green.babies"></span>
            </div>
        </div>
        <div class="showFullScoreToggle">
            <span class="glyphicon glyphicon-chevron-down" ng-hide="showFullScore"></span>
            <span class="glyphicon glyphicon-chevron-up" ng-show="showFullScore"></span>
        </div>
    </div>
</div>
