<div class="vg-location-tasks">
    <ul ng-if="vm.tasks.length > 0" class="vg-location-products__list">
        <li ng-repeat="task in vm.tasks | limitTo: (vm.isTasksListExpanded ? undefined : vm.limit)"
         class="vg-location-products__list-item">
            <vg-location-tasks-item vg-task="task"></vg-location-tasks-item>
        </li>
    </ul>

    <div class="vg-location-products__expand-list-container">
        <button
         class="vg-location-products__more-products"
         ng-if="vm.tasks.length > vm.limit"
         ng-click="vm.onExpandCollapseToggleClick()"
         ng-class="{'vg-location-products__more-products--expanded': vm.isTasksListExpanded}">
            <vg-icon class="vg-location-products__more-products__icon"
             vg-name="'chevron-small-down'">
            </vg-icon>
            <span class="vg-location-products__more-products__text">
                <span ng-show="!vm.isTasksListExpanded">
                    {{ 'location.tasks.moreTasks' | translate: {numTasks: vm.tasks.length - vm.limit} }}
                </span>
                <span ng-show="vm.isTasksListExpanded">
                    {{ 'location.tasks.lessTasks' | translate }}
                </span>
            </span>
        </button>
    </div>

</div>
