<div class="container--offset-top-box-nav">
    <div class="top-box top-box--full-width top-box--fixed container main-container">
        <div class="top-box--full-width__border-offset">
            <div class="btn-group--top-box btn-group--top-box--list">
                <button type="button" class="btn-map btn btn-default btn-default--transparent"
                 ng-click="locationListVm.legacyGlobals.goToView('map/')"
                 title="{{ 'action.showMap.description' | translate }}">
                    <span class="glyphicon glyphicon-map-marker"></span><br/>
                    <span class="small">{{ 'action.showMap.name' | translate }}</span>
                </button>
                <vg-filter-button></vg-filter-button>
            </div>
        </div>
    </div>

    <h1 class="h4">
        {{ 'locationList.title' | translate }}
    </h1>

    <p ng-if="locationListVm.wholeWorld" class="location-list__description">
        {{ 'locationList.descriptionWholeWorld' | translate }}
    </p>
    <p ng-if="locationListVm.displayRadius" class="location-list__description">
        {{ 'locationList.description' |
        translate:{radius: locationListVm.displayRadius, place: locationListVm.displayName} }}
    </p>

    <p ng-if="locationListVm.noResults">
        {{ locationListVm.noResults | translate }}
    </p>

    <div ng-if="locationListVm.numShownLocations > 0">
        <vg-accordion>
            <vg-accordion-item
             ng-repeat="location in locationListVm.list | limitTo:locationListVm.numShownLocations track by location.id"
             vg-on-open-toggle="locationListVm.onOpenToggle(location, isOpen)"
             vg-tracking-category="locationList.location"
             class="location-list__location"
            >
                <vg-accordion-item-header>
                    <vg-location-title
                     vg-location="location"
                     vg-address-type="{{ locationListVm.addressType }}">
                    </vg-location-title>
                </vg-accordion-item-header>
                <vg-accordion-item-body>
                    <p ng-if="location.getShortDescription()">
                        {{ location.getShortDescription() }}
                    </p>

                    <vg-location-product-summary
                     vg-location="location"
                     vg-limit-to="3">
                    </vg-location-product-summary>

                    <vg-location-visit-button vg-location="location"></vg-location-visit-button>
                </vg-accordion-item-body>
            </vg-accordion-item>
        </vg-accordion>

        <div ng-show="locationListVm.numShownLocations < locationListVm.list.length">
            <p>
                {{
                'locationList.moreLocationsAvailable' |
                translate:{ available: locationListVm.list.length - locationListVm.numShownLocations}
                }}
            </p>

            <p>
                <button type="button" class="btn btn-block btn-default"
                 ng-click="locationListVm.showMore()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span>{{ 'locationList.showMore' | translate }}</span>
                </button>
            </p>
        </div>
        <p ng-show="locationListVm.numShownLocations >= locationListVm.list.length">
            {{
            'locationList.allLocationsShown' |
            translate:{ available: locationListVm.list.length }
            }}
        </p>
    </div>
</div>
