<div
 ng-if="locationProductSummaryVm.location.getProducts().length > 0"
 class="location-product-summary bottom-spaced"
>
    <div
     ng-repeat="product in locationProductSummaryVm.location.getProducts() |
        limitTo:locationProductSummaryVm.limitTo
        track by product.id"
     class="clearfix product--{{ product.availability }}"
    >
        <vg-average-rating
         average="product.rating.average"
         num-ratings="product.rating.numRatings">
        </vg-average-rating>
        <div class="product-description">
            {{ product.name }}
        </div>

    </div>
</div>
