<!-- TODO WIP: <vg-location-edit-end></vg-location-edit-end>-->
<vg-location-edit-overlay
 ng-if="$ctrl.editTask"
 vg-is-questionnaire="false"
 vg-edit-task="$ctrl.editTask"
 vg-location="$ctrl.location"
 vg-product="$ctrl.editProduct"
 vg-on-close="$ctrl.closeEditOverlay()">
</vg-location-edit-overlay>

<vg-card class="vg-location-details__card">
    <div class="modification-banner" ng-if="$ctrl.editMode">
        <div class="row">
            <div class="col-xs-8">
                <h1 class="h4">{{ 'location.edit' | translate }}</h1>
            </div>
            <div class="col-xs-4">
                <button ng-click="$ctrl.toggleEditMode()" class="btn btn-finish">
                    {{ 'location.finish' | translate }}
                </button>
            </div>
        </div>
    </div>

    <div>
        <vg-location-header vg-location="$ctrl.location" ng-if="!$ctrl.editMode"></vg-location-header>
        <vg-location-header-edit vg-location="$ctrl.location" ng-if="$ctrl.editMode"></vg-location-header-edit>

        <div class="vg-location-details__description" ng-class="{ 'is-edit-mode': $ctrl.editMode }">
            <div ng-if="$ctrl.editMode" class="card__right-float">
                <button class="remove-btn" ng-click="$ctrl.startTask('SetLocationDescription')">
                    <span class="edit-icon">
                        <vg-icon vg-name="'pen'"></vg-icon>
                    </span>
                </button>
            </div>

            <div class="vg-location-details__description__content"
             ng-if="$ctrl.location.description">{{ $ctrl.location.description }}</div>
            <div ng-if="!$ctrl.location.description">
                <button type="button" class="btn-link-style btn-link-style--add-icon"
                 ng-click="$ctrl.startTask('SetLocationDescription')">
                    <vg-icon vg-name="'add'"></vg-icon>
                    {{ 'location.description.add' | translate }}
                </button>
            </div>
        </div>
    </div>
</vg-card>
<vg-card class="vg-location-details__card">
    <vg-location-rating-chick ng-class="{'vg-location-details__card--disabled' : $ctrl.editMode}">
    </vg-location-rating-chick>
</vg-card>
<vg-card class="vg-location-details__card vg-location-details__card--products">
    <h2 class="vg-location-products__title">
        <vg-icon vg-name="'gastronomyProduct'" class="vg-location-products__title-icon"></vg-icon>
        <span class="vg-location-products__title-text">
        {{ 'location.products.title' | translate }}
    </span>
    </h2>
    <vg-location-tags vg-tags="$ctrl.location.getSortedTags()" class="location-tags-card"></vg-location-tags>
    <vg-location-products vg-location="$ctrl.location" vg-limit="1"></vg-location-products>
</vg-card>
<vg-card class="vg-location-details__card vg-location-details__card--veganize-tasks"
 ng-class="{'vg-location-details__card--disabled' : $ctrl.editMode}">
    <h2 class="vg-location-products__title">
        <vg-icon vg-name="'missions'" class="vg-location-products__title-icon vg-location-products__veganize-icon"></vg-icon>
        <span class="vg-location-products__title-text">
            {{ 'location.veganize.title' | translate }}
        </span>
    </h2>
    <vg-location-veganize-tasks vg-tasks="$ctrl.veganizeTasks" vg-limit="1" class="location-veganize-tasks-card">
    </vg-location-veganize-tasks>
</vg-card>
<vg-card class="vg-location-details__card vg-location-details__card--map">
    <vg-location-map-preview vg-location="$ctrl.location" vg-on-click="$ctrl.mapClickHandler()">
    </vg-location-map-preview>
</vg-card>
<!-- TODO: implement open route in map -->
<!--<vg-card class="vg-location-details__card">-->
    <!--<div ng-class="{'vg-location-details__card&#45;&#45;disabled': $ctrl.editMode}">-->
        <!--<a href="#">-->
            <!--<vg-icon vg-name="'route'" class="vg-location-details_icon"></vg-icon>-->
            <!--{{ 'action.openInMapApp' | translate }}-->
        <!--</a>-->
    <!--</div>-->
<!--</vg-card>-->

<vg-card class="vg-location-details__card" ng-if="$ctrl.location.website || $ctrl.editMode">
    <div ng-if="$ctrl.editMode" class="card__right-float">
        <button class="remove-btn" ng-click="$ctrl.startTask('SetLocationWebsite')">
            <span class="edit-icon">
                <vg-icon vg-name="'pen'"></vg-icon>
            </span>
        </button>
    </div>
    <a ng-if="$ctrl.location.website" ng-href="{{ $ctrl.location.website }}" target="_blank">
        <vg-icon vg-name="'home'" class="vg-location-details_icon"></vg-icon>
        {{ $ctrl.location.website }}
    </a>
    <div ng-if="!$ctrl.location.website">
        <vg-icon vg-name="'home'" class="vg-location-details_icon"></vg-icon>
        <em>{{ 'location.website.missing' | translate }}</em>
    </div>
</vg-card>

<vg-card class="vg-location-details__card" ng-if="$ctrl.editMode">
    <div class="card__right-float">
        <button class="remove-btn" ng-click="$ctrl.startTask('SetLocationExistence')">
            <span class="edit-icon">
                <vg-icon vg-name="'pen'"></vg-icon>
            </span>
        </button>
    </div>
    <div>
        <vg-icon vg-name="'cross-big'" class="vg-location-details_icon"
         ng-if="$ctrl.location.getExistence() !== 'existing'">
        </vg-icon>
        <vg-icon vg-name="'checkmark'" class="vg-location-details_icon"
         ng-if="$ctrl.location.getExistence() === 'existing'">
        </vg-icon>
        {{ 'location.existence.' + $ctrl.location.getExistence() | translate }}
    </div>
</vg-card>

<div class="vg-location-details__footer-wrapper">
    <div class="last-update" ng-if="$ctrl.location.updatedAt">
        <vg-icon vg-name="'clock'"></vg-icon>
        <div class="text">
            {{ 'location.updatedAt' | translate }}:
            {{ $ctrl.location.updatedAt | date:'dd.MM.yyyy' }}
        </div>
    </div>
    <div class="contributor" ng-if="$ctrl.location.creator">
        <vg-icon vg-name="'profile'"></vg-icon>
        <div class="text">
            {{ 'location.creator.label' | translate }}
            <a ng-href="/veganaut/{{ $ctrl.location.creator.id }}">{{ $ctrl.location.creator.nickname }}</a>
        </div>
    </div>
    <div class="contributors" ng-if="$ctrl.location.contributors.length > 0">
        {{ 'location.contributors.label' | translate }}
        <span ng-repeat="contributor in $ctrl.location.contributors | limitTo: ($ctrl.showAllContributors ? undefined : 3) track by contributor.id">
            <a ng-href="/veganaut/{{ contributor.id }}">{{ contributor.nickname }}</a><span ng-if="!$last">,</span>
        </span>
        <span ng-if="$ctrl.location.contributors.length > 3 && !$ctrl.showAllContributors">
            {{ 'location.contributors.and' | translate }}
            <a href="" ng-click="$ctrl.showAllContributors = true">
                {{ 'location.contributors.more' | translate:{ count: ($ctrl.location.contributors.length - 3) } }}&hellip;
            </a>
        </span>
    </div>
</div>

<div class="overlay-modal-bottom vg-location-details__img">
    <img src="img/background/landscape.svg">
</div>
