@import '../components/locationHeader/locationHeaderComponent.less';
@import '../components/locationProducts/locationProductsComponent.less';

.vg-location-details__card {
    display: block;
    a {
        color: @color-text;
    }
}

.vg-location-details__edit-mode-banner {
    background: @color-accent;
    color: #ffffff;
    height: 55px;
    padding: 0 16px;
    position: fixed;
    z-index: 1010;
    width: 100%;
    max-width: @maxContainerWidth;

    h1 {
        margin-top: 18px;
    }

    .btn-finish {
        color: @color-accent;
        height: 29px;
        border-radius: 5px;
        background: #ffffff;
        font-size: 12px;
        margin-top: 12px;
        float: right;
        margin-right: 5px;
    }
}

.vg-location-details__card--disabled {
    opacity: 0.3 !important;
    pointer-events: none !important;
}

.vg-location-details__card--map .vg-card {
    padding: 0;
}

.vg-location-details__card--website .vg-card a {
    .vg-typography-display-3();
}

.location-tags-card {
    border-top: 1px solid @color-horizontal-separator;
    border-bottom: 1px solid @color-horizontal-separator;
    margin: 0 -@vg-card-spacing;
    display: block;
}

.vg-location-details_icon {
    margin-right: 16px;
    svg {
        width: 18px;
        height: 18px;
        fill: @_color-teal
    }
}

.vg-location-details__img img {
    position: relative !important;
    margin-top: 20px !important;
    opacity: 1 !important;
}

.vg-location-details__card--header.is-edit-mode {
    padding-top: 55px;
}

.vg-location-details__description {
    .vg-location-details__description__content {
        white-space: pre-wrap;
    }

    &.is-edit-mode {
        padding-top: 16px;
    }
}

.vg-location-details__footer-wrapper {
    padding-top: 20px;
    font-size: 12px;
    color: @_color-dark-grey;
    line-height: 15px;
    text-align: center;

    svg {
        width: 13px;
        height: 13px;
    }

    .last-update, .contributor {
        display: flex;
        align-items: center;
        justify-content: center;

        .text {
            margin-top: -4px;
        }

        vg-icon {
            padding-right: 10px;
        }
    }

    .contributor {
        margin-top: 30px;
    }
    .contributors {
        margin-top: 15px;
    }
}
