<div ng-if="locationScoreCtrl.location"
 class="location-score container"
 ng-class="{ 'location-score--user-is-owner': locationScoreCtrl.userIsOwner() }">
    <div class="location-score__left" ng-style="locationScoreCtrl.getLeftStyle()">
        {{ locationScoreCtrl.getLeftPoints() }}
    </div>
    <div class="location-score__right">
        {{ locationScoreCtrl.getRightPoints() }}
    </div>
    <div class="location-score__owner">
        <a href="/veganaut/{{ locationScoreCtrl.location.owner.id }}">
            <span ng-if="locationScoreCtrl.userIsOwner()"
             class="location-score__owner__icon">
                <span class="glyphicon glyphicon-user"></span></span>{{ locationScoreCtrl.location.owner.nickname }}
        </a>
    </div>
</div>
