<div class="location-rating-chick">
    <img src="img/background/space-hills.svg">
    <p>
        <strong>
            <!-- TODO WIP: implement this-->
            Wie beurteilst du das Angebot dieser Location aus veganautischer Sicht?
        </strong>
    </p>
    <button type="button" class="btn-primary btn-small">
        Jetzt beantworten
    </button>
    <div class="space-chick" ng-include="'img/chicken/chicken-with-cord.svg'">
    </div>
    <div class="question-hint" ng-include="'img/chicken/questionhint.svg'">
    </div>

</div>
