<table class="table table-condensed table--community">
    <thead>
    <tr>
        <th colspan="2">{{ rankingTableVm.title }}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in rankingTableVm.topRanks track by row.rank"
     vg-ranking-table-row="row"
     vg-tracking-category="{{ rankingTableVm.trackingCategory }}">
    </tr>

    <tr ng-if="rankingTableVm.showMoreMiddle" class="table--community__show-more">
        <td colspan="2">
            <button class="btn btn-link" ng-click="rankingTableVm.showMoreTop()">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <button class="btn btn-link" ng-click="rankingTableVm.showMoreBefore()">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
        </td>
    </tr>

    <tr ng-repeat="row in rankingTableVm.playerRanks track by row.rank"
     vg-ranking-table-row="row"
     vg-tracking-category="{{ rankingTableVm.trackingCategory }}">
    </tr>

    <tr ng-if="rankingTableVm.showMoreEnd" class="table--community__show-more">
        <td colspan="2">
            <button class="btn btn-link" ng-click="rankingTableVm.showMoreAfter()">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>
