button.btn.btn {
    font-size: inherit;
}

.btn .glyphicon {
    margin-right: 4px;
    vertical-align: middle;
}

.btn.btn-icon .glyphicon {
    margin-right: 0;
}


// Mixins taken directly from bootstrap

// button-variant from https://github.com/twbs/bootstrap/blob/master/less/mixins/buttons.less
.button-variant(@color; @background; @border) {
    color: @color;
    background-color: @background;
    border-color: @border;
    -webkit-transition: transform 0.5s easeinout;
    transition: transform 0.5s easeinout;

    border-radius: 2px;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open > .dropdown-toggle & {
        color: @color;
        background-color: darken(@background, 3%);
        border-color: darken(@border, 1%);

        .glyphicon {
            -webkit-transition: transform 0.5s easeinout;
            transition: transform 0.5s easeinout;
            transform: scale(1.2) translateY(0.5px);
        }
    }
    &:active,
    &.active,
    .open > .dropdown-toggle & {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: @background;
            border-color: @border;
        }
    }

    .badge {
        color: @background;
        background-color: @color;
    }
}

button.active.active {
    background-color: @colorDark;
    color: @colorLight;
    box-shadow: none;
}

// Team button if no team is defined (black)
.btn-team {
    .button-variant(#fff; #333; darken(#333, 5%));
}

.btn-default {
    .button-variant(@colorDark; @colorLight; @colorLighter);
}

button.menu-button.menu-button {
    .button-variant(@colorDark; @colorLight; @colorLighter);
}