.veganaut-file {
    display: none;
}

.main-logo {
    display: inline-block;
    fill: @colorDark;
    width: 150px;
    height: 45px;
    padding-top: 10px;
    text-align: left;
    color: @colorDark;
}
