.full-viewport {
    position: absolute;
    top: @navbarHeight;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-container {
    margin-top: @navbarHeight + 10px;
}

.main-container, .navbar-container {
    max-width: @maxContainerWidth;
}

.alert-container {
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 1010;
}

.alert {
    margin-bottom: 10px;
}

.menu-backdrop {
    z-index: 1020;
}

.navbar-header {
    float: none;
}

.navbar-toggle {
    display: block;
}

.navbar-footer {
    margin: 10px 0;
}

.page-section {
    margin-bottom: 5px;
}

.top-box {
    background-color: @bootstrapGreyBackground;
    top: -10px;
    left: 0;
    right: 0;
    border: 1px solid @bootstrapGreyBorder;
    padding-top: 10px;
    position: fixed;
    z-index: 1000;
}
