// Mixing to create a marker with the given size, opacity and z-index
.marker-style(@size, @opacity) {
    opacity: @opacity;
    border-radius: @size / 2;
    width: @size;
    height: @size;
    margin-left: -@size / 2;
    margin-top: -@size / 2;

    // Align the icon nicely, formula comes from trial & error
    .marker__icon--type {
        top: round(@size / 2) - 8px;
    }
}

// Define all the sizes, opacities and z-indices of the markers for different offer qualities
@sizeQuality0: 22px;
@sizeQuality1: 22px;
@sizeQuality2: 23px;
@sizeQuality3: 25px;
@sizeQuality4: 27px;
@sizeQuality5: 28px;
@sizeDisabled: 16px;
@sizeActive: 32px;
@opacityQuality0: 0.4;
@opacityQuality1: 0.4;
@opacityQuality2: 0.48;
@opacityQuality3: 0.56;
@opacityQuality4: 0.64;
@opacityQuality5: 0.72;
@opacityDisabled: 0.4;
@opacityActive: 1;

.marker {
    color: white;
    border: 1px solid #fff;

    // Create all the marker styles based on the location quality
    // This should be done with a loop, but less makes this less readable than having it copy pasted.
    &.marker--quality-0 {
        .marker-style(@sizeQuality0, @opacityQuality0);
    }
    &.marker--quality-1 {
        .marker-style(@sizeQuality1, @opacityQuality1);
    }
    &.marker--quality-2 {
        .marker-style(@sizeQuality2, @opacityQuality2);
    }
    &.marker--quality-3 {
        .marker-style(@sizeQuality3, @opacityQuality3);
    }
    &.marker--quality-4 {
        .marker-style(@sizeQuality4, @opacityQuality4);
    }
    &.marker--quality-5 {
        .marker-style(@sizeQuality5, @opacityQuality5);
    }

    // Icon representing the location type inside the marker
    .marker__icon--type {
        width: 100%;
        text-align: center;
        top: 3px;
        left: -1px;
    }

    &.marker--editing {
        border-color: #000;
    }

    &.marker--disabled {
        display: none; // Not showing disabled markers for now until we figure out how we want to show them
        .marker-style(@sizeDisabled, @opacityDisabled);
        background-color: grey;
        cursor: inherit;

        .marker__icon {
            display: none;
        }
    }

    // Create hover and active style for the enabled marker
    &.marker--enabled {
        &:hover, &.marker--active {
            .marker-style(@sizeActive, @opacityActive);
            border-width: 4px;

            // Correct the icon location because of the thicker boarder
            .marker__icon--type {
                top: 5px;
            }
        }
    }
}

.map--placing-location {
    cursor: crosshair;
}

// Location detail styles
.location-detail-map {
    height: 200px;
}

.mission-title {
    margin-top: 5px;
}

// Styles for the location quality label in the title
// TODO: those are hacked together late in the evening, so probably buggy
.location-quality-label {
    background-color: @bootstrapDarkGreyBackground;
    border-radius: 12px;
    color: white;
    display: inline-block;
    line-height: 20px;
    width: 24px;
    height: 24px;
    font-size: 24px;
}

.location-quality-label-icon {
    position: relative;
    bottom: -2px;
}

.location-description {
    white-space: pre-wrap;
}

.product-list-rating {
    text-align: right;
    .product-list-rating-text {
        display: block;
        font-size: 12px; // TODO: put all font sizes in variables
        line-height: 12px;
        margin-bottom: 5px; // TODO: this margin shouldn't really be on this element
    }
}

.location-type {
    font-size: 12px;
    color: @colorMedium;
    margin-right: 5px;
}
