.map--placing-location {
    cursor: crosshair;
}

@markerSize: 24px;
@markerSizeDisabled: 16px;
@markerSize1: 22px;
@markerSize2: 23px;
@markerSize3: 25px;
@markerSize4: 27px;
@markerSize5: 28px;
@opacity1: 0.4;
@opacity2: 0.48;
@opacity3: 0.56;
@opacity4: 0.64;
@opacity5: 0.72;
@zindex1: 1000; // should add the rank * 10 or so
@zindex2: 1100;
@zindex3: 1200;
@zindex4: 1300;
@zindex5: 1400;
@markerActiveIncrease: 8px;
@markerSizeActive: @markerSize + @markerActiveIncrease;
@markerIconFontSize: 22px;
@markerIconFontSizeActive: @markerIconFontSize + @markerActiveIncrease;
.map-location {
    border-radius: @markerSize1 / 2;
    opacity: @opacity1;
    width: @markerSize1;
    height: @markerSize1;
    margin-left: -@markerSize1 / 2;
    margin-top: -@markerSize1 / 2;
    border: 1px solid white;
    color: white;

    &.quality-1 {
        opacity: @opacity1;
        border-radius: @markerSize1 / 2;
        width: @markerSize1;
        height: @markerSize1;
        margin-left: -@markerSize1 / 2;
        margin-top: -@markerSize1 / 2;
        z-index: @zindex1 !important;
        .type-icon-test {
            top: 3px;
        }
    }
    &.quality-2 {
        opacity: @opacity2;
        border-radius: @markerSize2 / 2;
        width: @markerSize2;
        height: @markerSize2;
        margin-left: -@markerSize2 / 2;
        margin-top: -@markerSize2 / 2;
        z-index: @zindex2 !important;
        .type-icon-test {
            top: 4px;
        }
    }
    &.quality-3 {
        opacity: @opacity3;
        border-radius: @markerSize3 / 2;
        width: @markerSize3;
        height: @markerSize3;
        margin-left: -@markerSize3 / 2;
        margin-top: -@markerSize3 / 2;
        z-index: @zindex3 !important;
        .type-icon-test {
            top: 5px;
        }
    }
    &.quality-4 {
        opacity: @opacity4;
        border-radius: @markerSize4 / 2;
        width: @markerSize4;
        height: @markerSize4;
        margin-left: -@markerSize4 / 2;
        margin-top: -@markerSize4 / 2;
        z-index: @zindex4 !important;
        .type-icon-test {
            top: 6px;
        }
    }
    &.quality-5 {
        opacity: @opacity5;
        border-radius: @markerSize5 / 2;
        width: @markerSize5;
        height: @markerSize5;
        margin-left: -@markerSize5 / 2;
        margin-top: -@markerSize5 / 2;
        z-index: @zindex5 !important;
        .type-icon-test {
            top: 6px;
        }
    }

    .map-icon {
        color: white;
        font-size: @markerIconFontSize;
        position: absolute;
        left: 1px;
    }

    .type-icon-test {
        width: 100%;
        text-align: center;
        top: 3px;
        left: -1px;
    }

    &.editing {
        border: 4px solid black;

        .map-icon {
            top: -4px;
            left: -3px;
        }
    }

    &.map-location--disabled {
        background-color: grey;
        opacity: 0.4;
        border-radius: @markerSizeDisabled / 2;
        width: @markerSizeDisabled;
        height: @markerSizeDisabled;
        margin-left: -@markerSizeDisabled / 2;
        margin-top: -@markerSizeDisabled / 2;
        z-index: 500 !important;
        cursor: inherit;
        .type-icon-test {
            display: none;
        }
    }

    &.map-location--enabled {
        &:hover, &.active {
            opacity: 1;
            width: @markerSizeActive;
            height: @markerSizeActive;
            border-radius: @markerSizeActive / 2;
            margin-left: -@markerSizeActive / 2;
            margin-top: -@markerSizeActive / 2;
            z-index: 10000 !important;
            border: 4px solid white;

            .map-icon {
                font-size: @markerIconFontSizeActive;
            }

            .type-icon-test {
                top: 5px;
            }
        }
    }
}

// Location detail styles
.location-detail-map {
    height: 200px;
}

.mission-title {
    margin-top: 5px;
}

// Styles for the location quality label in the title
// TODO: those are hacked together late in the evening, so probably buggy
.location-quality-label {
    background-color: @bootstrapDarkGreyBackground;
    border-radius: 12px;
    color: white;
    display: inline-block;
    line-height: 20px;
    width: 24px;
    height: 24px;
    font-size: 24px;
}

.location-quality-label-icon {
    position: relative;
    bottom: -2px;
}

.location-description {
    white-space: pre-wrap;
}

.product-list-rating {
    text-align: right;
    .product-list-rating-text {
        display: block;
        font-size: 12px; // TODO: put all font sizes in variables
        line-height: 12px;
        margin-bottom: 5px; // TODO: this margin shouldn't really be on this element
    }
}

.location-type {
    font-size: 12px;
    color: @colorMedium;
    margin-right: 5px;
}
