.marker-style(@size, @opacity, @zIndex) {
    opacity: @opacity;
//    z-index: @zIndex !important;
    border-radius: @size / 2;
    width: @size;
    height: @size;
    margin-left: -@size / 2;
    margin-top: -@size / 2;

    // Align the icon nicely, formula comes from trial & error
    .marker__icon--type {
        top: round(@size / 2) - 8px;
    }
}

@size0: 22px;
@size1: 22px;
@size2: 23px;
@size3: 25px;
@size4: 27px;
@size5: 28px;
@opacity0: 0.4;
@opacity1: 0.4;
@opacity2: 0.48;
@opacity3: 0.56;
@opacity4: 0.64;
@opacity5: 0.72;
@zIndex0: 900;
@zIndex1: 1000; // should add the rank * 10 or so
@zIndex2: 1100;
@zIndex3: 1200;
@zIndex4: 1300;
@zIndex5: 1400;
@sizeDisabled: 16px;
@opacityDisabled: 0.4;
@zIndexDisabled: 500;
@sizeActive: 32px;
@opacityActive: 1;
@zIndexActive: 10000;
.marker {
    color: white;
    border: 1px solid #fff;

    &.marker--quality-0 {
        .marker-style(@size0, @opacity0, @zIndex0);
    }
    &.marker--quality-1 {
        .marker-style(@size1, @opacity1, @zIndex1);
    }
    &.marker--quality-2 {
        .marker-style(@size2, @opacity2, @zIndex2);
    }
    &.marker--quality-3 {
        .marker-style(@size3, @opacity3, @zIndex3);
    }
    &.marker--quality-4 {
        .marker-style(@size4, @opacity4, @zIndex4);
    }
    &.marker--quality-5 {
        .marker-style(@size5, @opacity5, @zIndex5);
    }

    .marker__icon--type {
        width: 100%;
        text-align: center;
        top: 3px;
        left: -1px;
    }

    &.marker--editing {
        border-color: #000;
    }

    &.marker--disabled {
        .marker-style(@sizeDisabled, @opacityDisabled, @zIndexDisabled);
        background-color: grey;
        cursor: inherit;

        .marker__icon {
            display: none;
        }
    }

    &.marker--enabled {
        &:hover, &.marker--active {
            .marker-style(@sizeActive, @opacityActive, @zIndexActive);
            border-width: 4px;

            // Correct the icon location because of the thicker boarder
            .marker__icon--type {
                top: 5px;
            }
        }
    }
}

.map--placing-location {
    cursor: crosshair;
}

// Location detail styles
.location-detail-map {
    height: 200px;
}

.mission-title {
    margin-top: 5px;
}

// Styles for the location quality label in the title
// TODO: those are hacked together late in the evening, so probably buggy
.location-quality-label {
    background-color: @bootstrapDarkGreyBackground;
    border-radius: 12px;
    color: white;
    display: inline-block;
    line-height: 20px;
    width: 24px;
    height: 24px;
    font-size: 24px;
}

.location-quality-label-icon {
    position: relative;
    bottom: -2px;
}

.location-description {
    white-space: pre-wrap;
}

.product-list-rating {
    text-align: right;
    .product-list-rating-text {
        display: block;
        font-size: 12px; // TODO: put all font sizes in variables
        line-height: 12px;
        margin-bottom: 5px; // TODO: this margin shouldn't really be on this element
    }
}

.location-type {
    font-size: 12px;
    color: @colorMedium;
    margin-right: 5px;
}
