@import 'variables.less';
@import 'bootstrapHelpers.less';

@import 'layout.less';

@import 'map.less';
@import 'socialGraph.less';


body.player-green .color-team, .color-green {
    color: @greenBaseColour;
}
body.player-blue .color-team, .color-blue {
    color: @blueBaseColour;
}

.clickable {
    cursor: pointer;
}

.well-expansion {
    margin-bottom: -6px;
    font-size: 10px;
}

// Forms
// TODO: get rid of this, make proper bootstrap forms instead
.spaced-form > * {
    margin-bottom: 5px;
}

// Create button that changes colour depending on the team
.btn-team {
    .button-variant(#fff; #333; darken(#333, 5%));
}
body.player-green {
    .btn-team {
        .button-variant(#fff; @greenBaseColour; darken(@greenBaseColour, 5%));
    }
}
body.player-blue {
    .btn-team {
        .button-variant(#fff; @blueBaseColour; darken(@blueBaseColour, 5%));
    }
}

.badge {
    &.team-blue, &.badge-own-points-blue, &.badge-other-points-green {
        background-color: @blueBaseColour;
    }
    &.team-green, &.badge-own-points-green, &.badge-other-points-blue {
        background-color: @greenBaseColour;
    }
}

// Match score display
.score-element {
    font-size: 24px;
}

// Make sure ng-cloak is around even if angular is not loaded yet
.ng-cloak {
    display: none !important;
}
