@import (less) '../lib/angular-loading-bar/build/loading-bar.css';
@import (less) '../lib/leaflet/dist/leaflet.css';

@import (less) 'iconFont.css';
@import 'variables.less';
@import 'buttons.less';

@import 'layout.less';

@import 'community.less';
@import 'map.less';
@import 'missions.less';
@import 'icons.less';
@import 'typography.less';
@import 'home.less';

@import 'ui/accordion.less';

@import 'modules/accordionList.less';
@import 'modules/averageRating.less';
@import 'modules/geolocateButton.less';
@import 'modules/loadingBar.less';
@import 'modules/locationScore.less';
@import 'modules/navbar.less';

@import '../lib/weather-icons/weather-icons/weather-icons.less';
@weather-icons-path: '../lib/weather-icons/fonts';


.clickable {
    cursor: pointer;
}

.well-expansion {
    margin-bottom: -6px;
    font-size: 10px;
}

.badge.badge-hits {
    background-color: black;
}

// No wrap helper class
.nowrap {
    white-space: nowrap;
}

// Make sure ng-cloak is around even if angular is not loaded yet
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
