// Nav bar
.referenceCodeForm {
    margin: 5px 0;
}

// Alerts
.mainAlert {
    margin: 5px 0;
}

// Register form
.registerForm > * {
    margin-bottom: 5px;
}

// Login form
.loginForm > * {
    margin-bottom: 5px;
}

// Activity Link form
.activityLinkForm > * {
    margin-bottom: 5px;
}

// Social graph
.socialGraph {
    display: block;
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
}
.socialGraph .graphSvg {
    overflow: visible;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;

    &.teamBlue {
        &.me {
            fill: #4444b3;
        }
        &.user {
            fill: #6162b3;
        }
        &.baby {
            fill: #8d8eb3;
        }
        &.maybe {
            fill: #bdbef0;
        }
        &.friendOfFriend {
            fill: #33335e;
        }
    }
    &.teamGreen {
        &.me {
            fill: #156028;
        }
        &.user {
            fill: #336f42;
        }
        &.baby {
            fill: #729c79;
        }
        &.maybe {
            fill: #bbd7c1;
        }
        &.friendOfFriend {
            fill: #21462a;
        }
    }

    &.dummy {
        fill: #eeeeee;
    }
    &.selected {
        stroke: #000;
        stroke-width: 3px;
    }
}

.link {
    fill: none;
    stroke: #a4b2b3;
    stroke-opacity: .6;
}
.link.friendOfFriend {
    stroke: #deece1;
}
.link.completed {
    stroke: #28b34c;
}


// Make sure ng-cloak is around even if angular is not loaded yet
.ng-cloak {
    display: none !important;
}
