// refining fonts from bootstrap
body, html, p {
    font-family: "Source Sans Pro", Helvetica Neue, Helvetica, Arial, sans-serif;
    color: @colorDark;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: @colorDark;
}

label, strong, b {
    font-family: "Source Sans Pro", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.font--large {
    font-size: 30px;
}

.font--greyed-out {
    color: @colorMedium
}

a {
    color: @colorDarkLink;
}

a.link-unstyled {
    color: black;
}

p.lead {
    font-size: 18px;
}
