@team1BaseColour: #0db1ff;
@team2BaseColour: #00cc01;
@team3BaseColour: #a224ff;
@team4BaseColour: #e30936;
@team5BaseColour: #ff9500;
@passiveColour: #dbdbdb;
@teamColourOpacity: 0.67;

@bootstrapGreyBackground: #f8f8f8;
@bootstrapDarkGreyBackground: #777;
@bootstrapGreyBorder: #e7e7e7;

@maxContainerWidth: 550px;
@navbarHeight: 50px;
