@greenBaseColour: #49b34c;
@blueBaseColour: #4444b3;

@greenXhighColour: @greenBaseColour;
@greenHighColour: lighten(@greenBaseColour, 7%);
@greenMedColour: lighten(@greenBaseColour, 14%);
@greenLowColour: lighten(@greenBaseColour, 21%);
@greenXlowColour: lighten(@greenBaseColour, 28%);
@greenDarkColour: darken(@greenBaseColour, 20%);
@greenLightColour: lighten(@greenBaseColour, 35%);

@blueXhighColour: @blueBaseColour;
@blueHighColour: lighten(@blueBaseColour, 7%);
@blueMedColour: lighten(@blueBaseColour, 14%);
@blueLowColour: lighten(@blueBaseColour, 21%);
@blueXlowColour: lighten(@blueBaseColour, 28%);
@blueDarkColour: darken(@blueBaseColour, 20%);
@blueLightColour: lighten(@blueBaseColour, 35%);

@passiveColour: #dbdbdb;
