<div class="vg-location-edit-plant">
    <div class="edit-overlay">
        <div class="container edit-container">
            <img class="sky" src="img/background/space-hills-2.svg" ng-if="vm.edit">
            <div class="h3" ng-class="{'h3-edit': !vm.edit}">
                <label>
                    Lorem Ipsum
                </label>
            </div>
            <div class="plant-tooltip" ng-class="{'plant1-tooltip': vm.ratingPlants.ratingPlant1.visible}">
                <p>{{ 'areaOverview.rating.1' | translate }}</p>
            </div>
            <div class="plant-tooltip" ng-class="{'plant2-tooltip': vm.ratingPlants.ratingPlant2.visible}">
                <p>{{ 'areaOverview.rating.2' | translate }}</p>
            </div>
            <div class="plant-tooltip" ng-class="{'plant3-tooltip': vm.ratingPlants.ratingPlant3.visible}">
                <p>{{ 'areaOverview.rating.3' | translate }}</p>
            </div>
            <div class="plant-tooltip" ng-class="{'plant4-tooltip': vm.ratingPlants.ratingPlant4.visible}">
                <p>{{ 'areaOverview.rating.4' | translate }}</p>
            </div>
            <div class="plant-tooltip" ng-class="{'plant5-tooltip': vm.ratingPlants.ratingPlant5.visible}">
                <p>{{ 'areaOverview.rating.5' | translate }}</p>
            </div>
            <div class="plant-wrapper">
                <button class="remove-btn" ng-click="vm.toggle('ratingPlant1')">
                    <vg-icon vg-name="'level-1-selected'" class="rating-plant" ng-if="vm.ratingPlants.ratingPlant1.visible"></vg-icon>
                    <vg-icon vg-name="'level-1'" class="rating-plant" ng-if="!vm.ratingPlants.ratingPlant1.visible"></vg-icon>
                </button>
                <button class="remove-btn" ng-click="vm.toggle('ratingPlant2')">
                    <vg-icon vg-name="'level-2-selected'" class="rating-plant" ng-if="vm.ratingPlants.ratingPlant2.visible"></vg-icon>
                    <vg-icon vg-name="'level-2'" class="rating-plant" ng-if="!vm.ratingPlants.ratingPlant2.visible"></vg-icon>
                </button>
                <button class="remove-btn" ng-click="vm.toggle('ratingPlant3')">
                    <vg-icon vg-name="'level-3-selected'" class="rating-plant" ng-if="vm.ratingPlants.ratingPlant3.visible"></vg-icon>
                    <vg-icon vg-name="'level-3'" class="rating-plant" ng-if="!vm.ratingPlants.ratingPlant3.visible"></vg-icon>
                </button>
                <button class="remove-btn" ng-click="vm.toggle('ratingPlant4')">
                    <vg-icon vg-name="'level-4-selected'" class="rating-plant" ng-if="vm.ratingPlants.ratingPlant4.visible"></vg-icon>
                    <vg-icon vg-name="'level-4'" class="rating-plant" ng-if="!vm.ratingPlants.ratingPlant4.visible"></vg-icon>
                </button>
                <button class="remove-btn" ng-click="vm.toggle('ratingPlant5')">
                    <vg-icon vg-name="'level-5-selected'" class="rating-plant" ng-if="vm.ratingPlants.ratingPlant5.visible"></vg-icon>
                    <vg-icon vg-name="'level-5'" class="rating-plant" ng-if="!vm.ratingPlants.ratingPlant5.visible"></vg-icon>
                </button>
            </div>
            <button class="btn btn-primary btn-large">
                <vg-icon class="checkmark" vg-name="'checkmark'"></vg-icon>
                {{'location.pane.save' | translate }}
            </button>
            <div class="button-wrapper" ng-if="!vm.edit">
                <button class="remove-btn btn-edit">
                    <vg-icon class="cross-big" vg-name="'cross-big'"></vg-icon>
                    {{'location.pane.abort' | translate }}
                </button>
            </div>
            <div class="button-wrapper row" ng-if="vm.edit">
                <div class="col-xs-5">
                    <button class="remove-btn btn-edit">
                        <vg-icon class="cross-big" vg-name="'cross-big'"></vg-icon>
                        {{'location.pane.abort' | translate }}
                    </button>
                </div>
                <div class="col-xs-7">
                    <button class="remove-btn btn-edit btn-skip">
                        {{'location.pane.skip' | translate:{'from': 1, 'to': 3} }}
                        <vg-icon class="chevron-small-right" vg-name="'chevron-small-right'"></vg-icon>
                        <vg-icon class="chevron-small-right" vg-name="'chevron-small-right'"></vg-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>