<div class="vg-list">
    <div class="top-box container main-container" ng-if="$ctrl.locationSet.active">
        <vg-location-pane
         vg-location="$ctrl.locationSet.active"
         vg-view-category="$ctrl.listType"
         vg-on-close="$ctrl.locationSet.activate()">
        </vg-location-pane>
    </div>

    <div class="vg-list-header">
        <div class="vg-list-header__type-icon">
            <vg-icon vg-name="$ctrl.listType"></vg-icon>
        </div>
        <div class="vg-list-header__text">
            <h1 class="vg-list-header__title">
                {{ 'areaDescription.title.' + $ctrl.areaType | translate: {area: $ctrl.area.shortName} }}:
                {{ 'lists.' + $ctrl.listType + '.title' | translate: {count: $ctrl.totalItems} }}
            </h1>

            <p class="vg-list-header__area">
                {{ 'lists.subtitle.' + $ctrl.areaType |
                    translate: {radius: $ctrl.displayRadius, area: $ctrl.area.longName} }}
            </p>

            <p ng-if="$ctrl.noResultsText">
                {{ $ctrl.noResultsText | translate }}
            </p>
        </div>
        <!-- TODO NEXT: implement sorting -->
        <!--<button class="vg-list-header__sort" ng-click="$ctrl.showSortModal()">-->
            <!--<vg-icon vg-name="'sort'" class="vg-list-header__sort__icon"></vg-icon>-->
        <!--</button>-->
    </div>

    <div ng-if="$ctrl.list.length > 0">
        <div class="vg-list-body">
            <button class="vg-list-item"
             ng-class="{'vg-list-item--location': $ctrl.isLocationGranularity(), 'vg-list-item--product': $ctrl.isProductGranularity()}"
             ng-repeat="item in $ctrl.list track by item.id"
             ng-click="$ctrl.onItemClick(item)">
                <div class="vg-list-item__vegan-level" ng-if="$ctrl.isLocationGranularity()">
                    <vg-location-quality-icon location="item"></vg-location-quality-icon>
                </div>
                <div class="vg-list-item__rating" ng-if="$ctrl.isProductGranularity()">
                    <vg-product-rating
                     vg-average="item.rating.average"
                     vg-num-ratings="item.rating.numRatings">
                    </vg-product-rating>
                </div>
                <div class="vg-list-item__text">
                    <h2 class="vg-list-item__title">
                        {{ item.name }}
                    </h2>
                    <div class="vg-list-item__details" ng-if="item.address">
                        {{ item.getDisplayAddress($ctrl.addressType) }}
                    </div>
                </div>
                <div class="vg-list-item__type-icon">
                    <vg-icon vg-name="$ctrl.listType"></vg-icon>
                </div>
            </button>
        </div>

        <!-- TODO NEXT: replace button with auto-loading on scroll -->
        <div ng-show="$ctrl.totalItems > $ctrl.list.length" class="vg-list__load-more">
            <button type="button" class="btn btn-large btn-primary"
             ng-click="$ctrl.showMore()">
                <span>{{ 'lists.' + $ctrl.listType + '.showMore' | translate }}</span>
                <vg-icon vg-name="'chevron-big-down'"></vg-icon>
            </button>
        </div>
    </div>
</div>
