<nav class="vg-category-selector">
    <div class="vg-category-selector-type"
     ng-repeat="type in $ctrl.typeFilters"
     ng-class="{'vg-category-selector-type--active':
     type.indexOf($ctrl.locationFilterService.getTypeFilterValue()) !== -1}">
        <a href="" class="vg-category-selector-item"
         ng-repeat-start="granularity in $ctrl.granularityFilters"
         ng-click="$ctrl.setFilter(type, granularity)"
         ng-class="{'vg-category-selector-item--active':
          $ctrl.locationFilterService.getTypeFilterValue() === type &&
          $ctrl.locationFilterService.getGranularityFilterValue() === granularity}">
            {{ 'lists.' + $ctrl.categories[type][granularity] + '.name' | translate }}
        </a>
        <vg-icon vg-name="'chevron-big-right'" class="vg-category-selector-separator" ng-repeat-end></vg-icon>
    </div>
</nav>
