<nav class="vg-category-selector ui-filter"
 ng-class="{ 'ui-filter--hover': $ctrl.hover }">
    <div class="ui-filter__container"
     ng-repeat="type in $ctrl.getPossibleTypeValues()"
     ng-class="{'ui-filter__container--active': $ctrl.locationFilterService.getTypeFilterValue() === type}">
        <button href="" class="ui-filter__item remove-btn"
         ng-repeat-start="granularity in $ctrl.getPossibleGranularityValues(type)"
         ng-click="$ctrl.setFilter(type, granularity)
           | track:'switchCategory':('switchCategory.' + $ctrl.locationFilterService.CATEGORIES[type][granularity])"
         ng-class="{'ui-filter__item--active':
          $ctrl.locationFilterService.getTypeFilterValue() === type &&
          $ctrl.locationFilterService.getGranularityFilterValue() === granularity}">
            {{ 'lists.' + $ctrl.locationFilterService.CATEGORIES[type][granularity] + '.name' | translate }}
        </button>
        <vg-icon vg-name="'chevron-big-right'" class="vg-category-selector__separator" ng-repeat-end></vg-icon>
    </div>

    <div class="ui-filter__container" ng-if="!$ctrl.isInFilterModal">
        <button class="ui-filter__item ui-filter__item--show-modal remove-btn"
         ng-click="$ctrl.locationFilterService.showFilterModal()">
            <vg-icon vg-name="'filter'"></vg-icon>
        </button>
    </div>
</nav>
