.vg-category-selector {
    background-color: white;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: @categorySelectorHeight;
    position: relative;
    z-index: 1;

    .vg-category-selector-type {
        height: 28px;
        border: 1px solid @color-accent-faded;
        border-radius: 14px;
        padding: 0;
    }

    .vg-category-selector-type--active {
        .vg-category-selector-item:not(.vg-category-selector-item--active):first-child {
            padding-right: 0;
            border-color: transparent;
        }
    }

    .vg-category-selector-item {
        display: inline-block;
        .vg-typography-display-2();
        padding: 2px 10px 2px 0;
        height: 28px;
        border-radius: 14px;
        position: relative;
        top: -1px;
        right: -1px;
        cursor: pointer;
    }

    .vg-category-selector-item:hover,
    .vg-category-selector-item:focus {
        text-decoration: none;
    }

    .vg-category-selector-item:first-child {
        border: 1px solid @color-accent-faded;
        padding-left: 10px;
        right: 0;
        left: -1px;
    }

    .vg-category-selector-item--active {
        border: 1px solid @color-accent;
        background-color: @color-accent;
        color: white;
        padding-left: 10px;

        &:first-child {
            border-color: @color-accent;
        }
    }


    .vg-category-selector-separator {
        display: inline-block;
        color: @color-accent;
        margin: 0 4px;
    }

    .vg-category-selector-separator svg {
        height: 7px;
    }

    .vg-category-selector-separator svg path {
        fill: currentColor;
    }

    .vg-category-selector-separator:last-child {
        display: none;
    }
}
