<nav class="vg-category-selector">
    <div class="vg-category-selector-type"
     ng-repeat="type in $ctrl.typeFilters"
     ng-class="{'vg-category-selector-type--active': type.indexOf($ctrl.selectedType) !== -1}">
        <div class="vg-category-selector-item"
         ng-repeat-start="group in $ctrl.groupFilters"
         ng-click="$ctrl.setFilter(type, group)"
         ng-class="{'vg-category-selector-item--active': $ctrl.selectedType === type && $ctrl.selectedGroup === group}">
            {{ 'lists.' + $ctrl.listNames[type][group] + '.name' | translate }}
        </div>
        <vg-icon vg-name="'chevron-big-right'" class="vg-category-selector-separator" ng-repeat-end></vg-icon>
    </div>
</nav>
