@import '../../../less/typography.less';

.vg-product-list-item {
    width: 100%;
}

.vg-product-list-item__container {
    display: flex;
    align-items: center;
    padding: 5px 16px;
    min-height: 45px;
}

.vg-product-list-item__product-name {
    // Change order to keep semantically more accessible, but align visuals with design
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    .vg-typography-display-2();
    width: 250%;
}

.vg-product-list-item__rating {
    height: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.vg-product-list-item__expand {
    padding-left: 10px;
}

.vg-product-list-item .vg-average-rating__icon {
    vertical-align: top;
    width: 13px;
    height: 12px;
    display: inline-block;
}

.vg-product-list-item__separator {
    margin: 0 0 10px;
    height: 1px;
    border-top: 1px solid rgba(63, 73, 83, 0.1);
}

.average-rating {
    margin: 0 16px;
    font-size: 12px;
    color: @_color-grey
}

.slider {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 200px;
    overflow: hidden;

    .btn-small {
        margin: 10px 16px;
    }
}

.slider-closed {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

