<div class="vg-product-list-item">
    <button class="remove-btn location-details-button" ng-click="vm.onExpandCollapseToggleClick()" ng-if="!vm.parent.edit">
        <vg-icon
         ng-class="{'location-details-chevron-expanded': vm.isProductListExpanded}"
         class="location-details-chevron" vg-name="'chevron-big-down'">
        </vg-icon>
    </button>
    <button style="margin-right: 5px;" class="location-details-button oval-edit-btn" ng-click="" ng-if="vm.parent.edit">
        <vg-icon vg-name="'pen'">
        </vg-icon>
    </button>
    <p class="vg-product-list-item__product-name">
        {{ vm.product.name }}
    </p>
    <vg-average-rating
     class="vg-product-list-item__rating"
     average="vm.product.rating.average"
     num-ratings="vm.product.rating.numRatings">
    </vg-average-rating>
</div>
<div class="slider" ng-class="{'slider-closed': !vm.isProductListExpanded}">
    <hr class="location-details-separator">
    <div class="average-rating">
        {{'product.rating.details' | translate:{ rating: vm.product.rating.average,
        numRatings: vm.product.rating.numRatings } }}
    </div>
    <button type="button" class="btn-primary btn-small" tabindex="{{vm.isProductListExpanded ? 0 : -1}}">
        {{ 'product.rate' | translate }}
    </button>
</div>