<h2 ng-bind="'activityLink.title' | trans"></h2>
<form novalidate class="activityLinkForm">
    <div ng-switch="activityLinkTarget.type">
        <input class="form-control" ng-switch-when="dummy" ng-model="form.targetName" placeholder="{{ 'activityLink.form.targetName' | trans }}"/>
        <span ng-switch-default>{{ 'activityLink.label.targetName' | trans }}: <span ng-bind="activityLinkTarget.fullName"></span></span>
    </div>
    <select class="form-control" ng-model="form.selectedActivity" ng-options="v.name for (k, v) in activities">
        <option value="">{{ 'activityLink.form.choose' | trans }}</option>
    </select>
    <input class="form-control" ng-model="form.location" placeholder="{{ 'activityLink.form.location'  | trans }}"/>
    <input class="form-control" ng-model="form.startTime" placeholder="{{ 'activityLink.form.startTime'  | trans }}"/>
    <button class="btn btn-default" ng-click="submit()" ng-hide="formSubmitted">{{ 'activityLink.form.submit' | trans }}</button>
</form>
