<div ng-include="'partials/match.html'"></div>

<form novalidate name="loginForm" class="loginForm spacedForm">
    <input type="email" required class="form-control" ng-model="form.email"
     placeholder="{{ 'login.form.email' | trans}}"/>
    <input type="password" required class="form-control" ng-model="form.password"
     placeholder="{{ 'login.form.password' | trans}}" />

    <button type="submit" class="btn btn-default" ng-disabled="loginForm.$invalid"
     ng-click="submit()" ng-bind="'login.form.submit' | trans"></button>
</form>
