<h2 ng-bind="'socialGraph.title' | trans"></h2>
<g id="viewport">
    <social-graph class="socialGraph" selected-node="selectedNode" selected-link="selectedLink"></social-graph>
</g>

<div class="nodeInfo" ng-show="selectedNode">
  Selected: <span ng-bind="selectedNode.fullName"></span>, type: <span ng-bind="selectedNode.type"></span>
</div>
<div class="linkInfo" ng-show="selectedLink">
    <!-- TODO: translate -->
  Activities links from <span ng-bind="selectedLink.source.fullName"></span>
  to <span ng-bind="selectedLink.target.fullName"></span>.
  Number of activities: <span ng-bind="selectedLink.numActivities"></span>.
</div>
