@import '../../../less/variables.less';
@import '../../../less/typography.less';

.vg-card {
    background-color: #ffffff;
    display: block;
    box-shadow: 0 1px 3px 0 rgba(63, 73, 83, 0.2);
    position: relative;
}

.vg-card + .vg-card {
    margin-top: 12px;
}

.vg-card > * {
    .vg-typography-display-3();
    padding: @vg-card-spacing; // TODO: This is the hate to reset, get rid of it
    display: block;
}
