<header class="navbar navbar-default navbar-fixed-top" ng-if="!isEmbedded">
    <div class="navbar-inner">
        <div class="container navbar-container">
            <div class="navbar-header">
                <div class="vg-navbar-right-side">
                    <button type="button" class="vg-navbar-button"
                     ng-hide="$ctrl.isHomePage()"
                     ng-click="$ctrl.searchClick()">
                        <vg-icon vg-name="'search'" class="vg-navbar-button__icon"></vg-icon>
                    </button>
                    <button class="vg-navbar-button" ng-click="$ctrl.menuShown = !$ctrl.menuShown">
                        <span class="sr-only">Toggle navigation</span>
                        <vg-icon vg-name="'hamburger'" class="vg-navbar-button__icon"></vg-icon>
                    </button>
                </div>
                <div class="vg-navbar-left-side">
                    <button type="button" class="vg-navbar-button"
                     ng-show="$ctrl.isHomePage()"
                     ng-click="$ctrl.searchClick()">
                        <vg-icon vg-name="'search'" class="vg-navbar-button__icon"></vg-icon>
                    </button>
                    <a href="/" class="main-logo-link" ng-hide="$ctrl.isHomePage()">
                        <ng-include src="'img/veganaut-typo-logo.svg'" class="logo logo--main"></ng-include>
                    </a>
                </div>
                <div class="vg-navbar-center">
                    <nav class="vg-navbar-view-select" ng-hide="$ctrl.isHomePage()">
                        <div class="vg-navbar-view-select-item"
                         ng-class="{'vg-navbar-view-select-item--active': $ctrl.isAreaPage()}"
                         ng-click="$ctrl.goToView('area/')">
                            <vg-icon vg-name="'location'" class="vg-navbar-view-select-item__icon"></vg-icon>
                        </div>
                        <div class="vg-navbar-view-select-item"
                         ng-class="{'vg-navbar-view-select-item--active': $ctrl.isMapPage()}"
                         ng-click="$ctrl.goToView('map/')">
                            <vg-icon vg-name="'map'" class="vg-navbar-view-select-item__icon"></vg-icon>
                        </div>
                        <div class="vg-navbar-view-select-item"
                         ng-class="{'vg-navbar-view-select-item--active': $ctrl.isListPage()}"
                         ng-click="$ctrl.goToView('list/')">
                            <vg-icon vg-name="'list'" class="vg-navbar-view-select-item__icon"></vg-icon>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<vg-nav-bar-overlay class="navbar-overlay" ng-if="$ctrl.menuShown"></vg-nav-bar-overlay>
