<header class="navbar navbar-default navbar-fixed-top" ng-if="!isEmbedded">
    <div class="navbar-inner">
        <div class="container navbar-container">
            <div class="navbar-header">
                <div class="vg-navbar-right-side-actions">
                    <button type="button" class="vg-navbar-button"
                     ng-hide="$ctrl.isHomePage()"
                     ng-click="$ctrl.searchClick()">
                        <vg-icon vg-name="'search'" class="vg-navbar-button__icon"></vg-icon>
                    </button>
                    <button class="vg-navbar-button" ng-click="$ctrl.menuShown = !$ctrl.menuShown">
                        <span class="sr-only">Toggle navigation</span>
                        <vg-icon vg-name="'hamburger'" class="vg-navbar-button__icon"></vg-icon>
                    </button>
                </div>
                <a href="/" class="main-logo-link" ng-hide="$ctrl.isHomePage()">
                    <ng-include src="'img/veganaut-typo-logo.svg'" class="logo logo--main"></ng-include>
                </a>
                <div class="vg-navbar-center-actions">
                    <nav class="vg-navbar-view-select" ng-hide="$ctrl.isHomePage()">
                        <div class="vg-navbar-view-select-item"
                         ng-class="{'vg-navbar-view-select-item--active': $ctrl.isAreaPage()}"
                         ng-click="$ctrl.goToView('area/')">
                            <vg-icon vg-name="'location'" class="vg-navbar-view-select-item__icon"></vg-icon>
                        </div>
                        <div class="vg-navbar-view-select-item"
                         ng-class="{'vg-navbar-view-select-item--active': $ctrl.isMapPage()}"
                         ng-click="$ctrl.goToView('map/')">
                            <vg-icon vg-name="'map'" class="vg-navbar-view-select-item__icon"></vg-icon>
                        </div>
                        <div class="vg-navbar-view-select-item"
                         ng-class="{'vg-navbar-view-select-item--active': $ctrl.isListPage()}"
                         ng-click="$ctrl.goToView('locations/')">
                            <vg-icon vg-name="'list'" class="vg-navbar-view-select-item__icon"></vg-icon>
                        </div>
                    </nav>
                </div>
            </div>
            <nav class="collapse" uib-collapse="!$ctrl.menuShown">
                <!-- TODO: make a nav component to get rid of duplication here -->
                <button class="btn btn-default btn-block nav-home" ng-click="$ctrl.goToView('')">
                    <span class="glyphicon glyphicon-home pull-right"></span>
                    <span data-translate="navigation.home"></span>
                </button>
                <button class="btn btn-default btn-block nav-map" ng-click="$ctrl.goToView('map/')">
                    <span class="glyphicon glyphicon-map-marker pull-right"></span>
                    <span data-translate="navigation.map"></span>
                </button>
                <button class="btn btn-default btn-block nav-location-list" ng-click="$ctrl.goToView('locations/')">
                    <span class="glyphicon glyphicon-th-list pull-right"></span>
                    <span data-translate="navigation.locationList"></span>
                </button>
                <button class="btn btn-default btn-block nav-product-list" ng-click="$ctrl.goToView('products/')">
                    <span class="glyphicon glyphicon-leaf pull-right"></span>
                    <span data-translate="navigation.productList"></span>
                </button>

                <button class="btn btn-default btn-block nav-community" ng-click="$ctrl.goToView('community')"
                 ng-if="$ctrl.isLoggedIn()">
                    <span class="glyphicon glyphicon-globe pull-right"></span>
                    <span data-translate="navigation.community"></span>
                </button>
                <button class="btn btn-default btn-block nav-profile" ng-click="$ctrl.goToView('me')"
                 ng-if="$ctrl.isLoggedIn()">
                    <span class="glyphicon glyphicon-user pull-right"></span>
                    <span data-translate="navigation.profile"></span>
                </button>

                <button class="btn btn-default btn-block nav-register"
                 ng-click="$ctrl.goToView('register') | track:'linkToRegister':'linkToRegister.menu'"
                 ng-if="!$ctrl.isLoggedIn()">
                    <span class="glyphicon glyphicon-heart pull-right"></span>
                    <span data-translate="navigation.register"></span>
                </button>
                <button class="btn btn-default btn-block nav-login" ng-click="$ctrl.goToView('login')"
                 ng-if="!$ctrl.isLoggedIn()">
                    <span class="glyphicon glyphicon-log-in pull-right"></span>
                    <span data-translate="navigation.login"></span>
                </button>
                <button class="btn btn-default btn-block nav-logout" ng-click="$ctrl.logout()"
                 ng-if="$ctrl.isLoggedIn()">
                    <span class="glyphicon glyphicon-log-out pull-right"></span>
                    <span data-translate="navigation.logout"></span>
                </button>

                <div class="navbar-footer text-center">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <a href="https://blog.veganaut.net/about/" target="_blank">
                                <span data-translate="navigation.about"></span>
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <a href="https://blog.veganaut.net/" target="_blank">
                                <span data-translate="navigation.blog"></span>
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <a href="https://blog.veganaut.net/contact" target="_blank">
                                <span data-translate="navigation.contactForm"></span>
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <a href="https://twitter.com/veganautnet" target="_blank">
                                <span data-translate="navigation.twitter"></span>
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <a href="https://www.facebook.com/veganautnet" target="_blank">
                                <span data-translate="navigation.facebook"></span>
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <a href="https://github.com/veganaut/veganaut/issues" target="_blank">
                                <span data-translate="navigation.bugs"></span>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12" ng-controller="ChangeLocaleCtrl">
                            <span ng-repeat="locale in availableLocales">
                                <span ng-show="$index > 0">&nbsp;|&nbsp;</span>
                                <a href="" ng-hide="locale === localeService.getLocale()"
                                 ng-click="localeService.changeLocale(locale); $ctrl.closeMenu()">
                                    <span ng-bind="localeNames[locale]"></span>
                                </a>
                                <span ng-show="locale === localeService.getLocale()">
                                    <span ng-bind="localeNames[locale]"></span>
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="row navbar-footer__bottom">
                        <div class="col-xs-12 col-sm-4">
                            <a href="https://blog.veganaut.net/nutzungsbedingungen/" target="_blank">
                                <span data-translate="navigation.termsOfUse"></span>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <a href="https://blog.veganaut.net/datenschutzerklarung/" target="_blank">
                                <span data-translate="navigation.privacyPolicy"></span>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <a href="https://blog.veganaut.net/impressum/" target="_blank">
                                <span data-translate="navigation.imprint"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<div class="menu-backdrop" ng-show="$ctrl.menuShown" ng-click="$ctrl.menuShown = false"></div>
