<div class="vg-location-tags" ng-class=" {'vg-location-tags-open': vm.isProductListExpanded}">
    <div class="row">
        <div class="col-xs-10">
            <div class="tag-wrapper">
                <!--TODO Remove when API finished-->
                <!--<div ng-repeat="tag in vm.Tags">-->
                <div ng-repeat="tag in vm.mockTags">
                <span class="badge clickable" ng-class="'opacity-' + tag.weight">
                    {{ 'tags.' + tag.name + '.name' | translate }}s
                </span>
                </div>
            </div>
        </div>
        <div class="col-xs-2 chevron-aligner" ng-if="!vm.parent.edit">
            <button class="remove-btn" ng-click="vm.onExpandCollapseToggleClick()">
                <vg-icon ng-class="{'location-details-chevron-expanded': vm.isProductListExpanded}" class="location-details-chevron ng-isolate-scope" vg-name="'chevron-big-down'">
                </vg-icon>
            </button>
        </div>
        <div class="col-xs-2 pen-aligner" ng-if="vm.parent.edit">
            <button class="oval-edit-btn" ng-click="">
                <vg-icon vg-name="'pen'">
                </vg-icon>
            </button>
        </div>
    </div>
    <div class="average-rating ng-binding">
        {{'location.tags.rating' | translate}}
    </div>
    <button type="button" class="btn-primary btn-small" tabindex="{{vm.isProductListExpanded ? 0 : -1}}">
        <vg-icon vg-name="'plus'"></vg-icon>
        {{'location.tags.add' | translate}}
    </button>
</div>

