<!doctype html>
<html lang="en" ng-app="veganaut.app" ng-controller="AppCtrl" class="ng-cloak" ng-strict-di>
<head>
    <meta charset="utf-8">
    <title>veganaut.net</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/build/master.min.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body class="player-{{ me.team }}" ng-class="{ 'logged-in': isLoggedIn(), 'logged-out': !isLoggedIn() }">
<base href="/">
<header class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container navbar-container">
            <div class="navbar-header">
                <button class="navbar-toggle menu-button" ng-click="menuShown = !menuShown">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand clickable color-team" ng-click="goToView('')">
                    {{ 'app.title' | translate }}
                </span>
            </div>
            <nav class="collapse" collapse="!menuShown">
                <!-- TODO: make a nav component to get rid of duplication here -->
                <button class="btn btn-default btn-block nav-map" ng-click="goToView('')"
                 ng-bind="'navigation.map' | translate"></button>
                <button class="btn btn-default btn-block nav-score" ng-click="goToView('score')"
                 ng-if="isLoggedIn()" ng-bind="'navigation.score' | translate"></button>
                <!-- Social graph is not active at the moment
                <button class="btn btn-default btn-block nav-graph" ng-click="goToView('socialGraph')"
                 ng-if="canViewGraph()" ng-bind="'navigation.avatar' | translate"></button>
                <button class="btn btn-default btn-block nav-activities" ng-click="goToView('activities')"
                 ng-bind="'navigation.activities' | translate"></button>
                -->
                <button class="btn btn-default btn-block nav-profile" ng-click="goToView('me')"
                 ng-if="isLoggedIn()" ng-bind="'navigation.profile' | translate"></button>

                <button class="btn btn-default btn-block nav-register" ng-click="goToView('register')"
                 ng-if="!isLoggedIn()" ng-bind="'navigation.register' | translate"></button>
                <button class="btn btn-default btn-block nav-login" ng-click="goToView('login')"
                 ng-if="!canViewGraph()" ng-bind="'navigation.login' | translate"></button>
                <button class="btn btn-default btn-block nav-logout" ng-click="logout()"
                 ng-if="isLoggedIn()" ng-bind="'navigation.logout' | translate"></button>

                <div class="row navbar-footer">
                    <div class="col-xs-6 col-sm-4 text-center">
                        <a href="http://blog.veganaut.net/" target="_blank">
                            {{ 'navigation.blog' | translate }}
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 text-center">
                        <a href="http://blog.veganaut.net/contact" target="_blank">
                            {{ 'navigation.contactForm' | translate }}
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 text-center">
                        <a href="https://twitter.com/veganautnet" target="_blank">
                            {{ 'navigation.twitter' | translate }}
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 text-center">
                        <a href="https://www.facebook.com/veganautnet" target="_blank">
                            {{ 'navigation.facebook' | translate }}
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 text-center">
                        <a href="https://github.com/veganaut/" target="_blank">
                            {{ 'navigation.github' | translate }}
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 text-center">
                        <a href="https://github.com/veganaut/veganaut/issues/new" target="_blank">
                            {{ 'navigation.bugs' | translate }}
                        </a>
                    </div>
                    <div class="col-xs-12 text-center" ng-controller="ChangeLocaleCtrl">
                        <a href="#" ng-click="changeLocale(); closeMenu()">
                            {{ 'navigation.changeLanguage' | translate }}
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>

<div class="container main-container">
    <div ng-view></div>
</div>
<div class="alert-container">
    <div class="container">
        <vg-alert-display></vg-alert-display>
    </div>
</div>

<div class="modal-backdrop in menu-backdrop" ng-show="menuShown" ng-click="menuShown = false"></div>

<% if (jsFiles.length === 0) { -%>
<script src="/build/lib.min.js"></script>
<script src="/build/app.min.js"></script>
<% } else { -%>
<% for (var i = 0; i < jsFiles.length; i += 1) { -%>
<script src="<%= jsFiles[i] %>"></script>
<% } -%>
<% } %>
</body>
</html>
