<!doctype html>
<html lang="en" ng-app="monkeyFace" ng-controller="AppCtrl" class="ng-cloak">
<head>
    <meta charset="utf-8">
    <title>veganaut.net</title>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/master.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
    <h1 ng-bind="'app.title' | trans"></h1>

    <button class="btn btn-default btn-block navRegister" ng-click="goToView('register')"
     ng-hide="isLoggedIn()" ng-bind="'navigation.register' | trans"></button>
    <button class="btn btn-default btn-block navLogin" ng-click="goToView('login')"
     ng-hide="canViewGraph()" ng-bind="'navigation.login' | trans"></button>
    <button class="btn btn-default btn-block navLogout" ng-click="logout()"
     ng-show="isLoggedIn()" ng-bind="'navigation.logout' | trans"></button>
    <button class="btn btn-default btn-block navGraph" ng-click="goToView('socialGraph')"
     ng-show="canViewGraph()" ng-bind="'navigation.avatar' | trans"></button>

    <form novalidate name="referenceCodeForm" class="referenceCodeForm">
        <div class="row">
            <div class="col-xs-8">
                <input type="text" required class="form-control" ng-model="form.referenceCode"
                 placeholder="{{ 'form.referenceCode.placeholder' | trans }}"/>
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-default btn-block" ng-disabled="referenceCodeForm.$invalid"
                 ng-click="submitReferenceCode()" ng-bind="'form.referenceCode.submit' | trans"></button>
            </div>
        </div>
    </form>

    <alert ng-repeat="alert in getAlerts()" type="alert.type" close="closeAlert(alert)" class="mainAlert">
        <span ng-bind="alert.message"></span>
    </alert>

    <div ng-view></div>
</div>

<!-- TODO: concat & uglify all that -->
<script src="lib/angular/angular.js"></script>
<script src="lib/d3.v3.min.js"></script>
<script src="lib/angular/i18n/angular-locale_en-gb.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="lib/angular/ui-bootstrap-tpls-0.10.0.min.js"></script>
<script src="js/app.js"></script>
<script src="js/config.js"></script>
<script src="js/services/activityLinkTargetProvider.js"></script>
<script src="js/services/alertProvider.js"></script>
<script src="js/services/backend.js"></script>
<script src="js/services/localeProvider.js"></script>
<script src="js/services/nodeProvider.js"></script>
<script src="js/controllers/ActivityLinkCtrl.js"></script>
<script src="js/controllers/AppCtrl.js"></script>
<script src="js/controllers/LoginCtrl.js"></script>
<script src="js/controllers/RegisterCtrl.js"></script>
<script src="js/controllers/SocialGraphCtrl.js"></script>
<script src="js/filters/trans.js"></script>
<script src="js/directives/socialGraph.js"></script>
</body>
</html>
