<!doctype html>
<html lang="en" ng-app="monkeyFace" ng-controller="AppCtrl" ng-cloak>
<head>
    <meta charset="utf-8">
    <title>Monkey Face</title>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/master.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
    <h1>Something Alien</h1>

    <button class="btn btn-default btn-block" ng-click="goToView('register')" ng-hide="isLoggedIn()">{{ 'navigation.register' | trans }}</button>
    <button class="btn btn-default btn-block" ng-click="goToView('login')" ng-hide="isLoggedIn()">{{ 'navigation.login' | trans }}</button>
    <button class="btn btn-default btn-block" ng-click="logout()" ng-show="isLoggedIn()">{{ 'navigation.logout' | trans }}</button>
    <input class="form-control" placeholder="{{ 'navigation.form.referenceCode' | trans }}"/>
    <button class="btn btn-default btn-block" ng-click="goToView('socialGraph')" ng-show="isLoggedIn()">{{ 'navigation.avatar' | trans }}</button>

    <div ng-view></div>
</div>

<script src="lib/angular/angular.js"></script>
<script src="lib/d3.v3.min.js"></script>
<script src="lib/angular/i18n/angular-locale_en-gb.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="lib/angular/ui-bootstrap-tpls-0.10.0.min.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
</body>
</html>
