<!doctype html>
<html lang="en" ng-app="monkeyFace" ng-controller="AppCtrl" class="ng-cloak">
<head>
    <meta charset="utf-8">
    <title>veganaut.net</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="lib/bootstrap-tour/build/css/bootstrap-tour.min.css"/>
    <link rel="stylesheet" href="lib/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="css/master.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="{{ me.team }}Player">

<header class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container navbarContainer">
            <div class="navbar-header">
                <button class="navbar-toggle menuButton" ng-click="menuShown = !menuShown">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand" href="#" ng-bind="'app.title' | trans"></span>
            </div>
            <nav class="collapse" collapse="!menuShown">
                <button class="btn btn-default btn-block navFront" ng-click="goToView('')"
                 ng-if="!isLoggedIn()" ng-bind="'navigation.front' | trans"></button>
                <button class="btn btn-default btn-block navRegister" ng-click="goToView('register')"
                 ng-if="!isLoggedIn()" ng-bind="'navigation.register' | trans"></button>

                <button class="btn btn-default btn-block navLogin" ng-click="goToView('login')"
                 ng-if="!canViewGraph()" ng-bind="'navigation.login' | trans"></button>

                <button class="btn btn-default btn-block navMap" ng-click="goToView('map')"
                 ng-if="isLoggedIn()" ng-bind="'navigation.map' | trans"></button>
                <button class="btn btn-default btn-block navProfile" ng-click="goToView('me')"
                 ng-if="isLoggedIn()" ng-bind="'navigation.profile' | trans"></button>
                <button class="btn btn-default btn-block navGraph" ng-click="goToView('socialGraph')"
                 ng-if="canViewGraph()" ng-bind="'navigation.avatar' | trans"></button>
                <button class="btn btn-default btn-block navActivities" ng-click="goToView('openActivities')"
                 ng-if="canViewGraph()" ng-bind="'navigation.openActivities' | trans"></button>

                <button class="btn btn-default btn-block navRefCode" ng-click="goToView('referenceCode')"
                 ng-bind="'navigation.referenceCode' | trans"></button>

                <button class="btn btn-default btn-block navLogout" ng-click="logout()"
                 ng-if="isLoggedIn()" ng-bind="'navigation.logout' | trans"></button>
            </nav>
        </div>
    </div>
</header>

<div class="container mainContainer">
    <alert ng-repeat="alert in getAlerts()" type="{{ alert.type }}" close="closeAlert(alert)" class="mainAlert">
        <span ng-bind="alert.message"></span>
    </alert>

    <div ng-view></div>
</div>

<div class="modal-backdrop in menuBackdrop" ng-show="menuShown" ng-click="menuShown = false"></div>

<!-- TODO: concat & uglify all that -->
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/d3/d3.min.js"></script>
<script src="lib/leaflet/dist/leaflet.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="lib/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
<script src="lib/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
<script src="lib/bootstrap-tour/build/js/bootstrap-tour-standalone.min.js"></script>
<script src="veganaut/app.js"></script>
<script src="veganaut/config.js"></script>
<script src="components/alertService.js"></script>
<script src="components/localeService.js"></script>
<script src="components/tourService.js"></script>
<script src="components/translateService.js"></script>
<script src="veganaut/components/backendService.js"></script>
<script src="veganaut/components/NodeModel.js"></script>
<script src="veganaut/components/nodeService.js"></script>
<script src="veganaut/components/playerService.js"></script>
<script src="veganaut/activityLink/ActivityLinkCtrl.js"></script>
<script src="veganaut/AppCtrl.js"></script>
<script src="veganaut/login/LoginCtrl.js"></script>
<script src="veganaut/map/locationDirectives.js"></script>
<script src="veganaut/map/MapCtrl.js"></script>
<script src="veganaut/map/LocationModel.js"></script>
<script src="veganaut/match/MatchCtrl.js"></script>
<script src="veganaut/openActivities/OpenActivitiesCtrl.js"></script>
<script src="veganaut/referenceCode/ReferenceCodeCtrl.js"></script>
<script src="veganaut/profile/EditProfileCtrl.js"></script>
<script src="veganaut/register/RegisterCtrl.js"></script>
<script src="veganaut/socialGraph/SocialGraphCtrl.js"></script>
<script src="components/transFilter.js"></script>
<script src="veganaut/socialGraph/socialGraphDirective.js"></script>
<script src="components/startTourDirective.js"></script>
</body>
</html>
