// TODO: Refactor: Move all less files in the /less folder to the corresponding module or component folders

@import (less) 'lib/angular-loading-bar/build/loading-bar.css';
@import (less) 'lib/leaflet/dist/leaflet.css';

@import (less) 'less/iconFont.css';
@import 'less/variables.less';
@import 'less/buttons.less';

@import 'less/layout.less';

@import 'veganaut/community/community.less';
@import 'veganaut/filter/globalSortComponent';
@import 'veganaut/home/home.less';
@import 'less/icons.less';
@import 'veganaut/location/location.less';
@import 'veganaut/map/map.less';
@import 'veganaut/missions/missions.less';
@import 'less/typography.less';
@import "veganaut/areaOverview/areaOverview";
@import "veganaut/areaOverview/plantRating/plantRating";
@import "veganaut/navBar/navBarOverlay/navBarOverlay";
@import "veganaut/components/locationPane/locationPaneComponent.less";
@import "veganaut/components/locationRatingChick/locationRatingChickComponent.less";
@import "veganaut/components/locationTags/locationTagsComponent.less";
@import "veganaut/components/locationTasks/locationTasksComponent.less";
@import "veganaut/components/locationTasksItem/locationTasksItemComponent.less";
@import "veganaut/components/locationHeaderEdit/locationHeaderEditComponent.less";
@import "veganaut/components/editPane/editPaneComponent.less";
@import "veganaut/components/editPane/locationEditSingle/locationEditSingleComponent.less";
@import "veganaut/components/editPane/locationEditMulti/locationEditMultiComponent.less";
@import "veganaut/components/editPane/locationEditSelect/locationEditSelectComponent.less";
@import "veganaut/components/editPane/locationEditStar/locationEditStarComponent.less";
@import "veganaut/components/editPane/locationEditPlant/locationEditPlantComponent.less";
@import "veganaut/components/editPane/locationEditChoose/locationEditChooseComponent.less";
@import "veganaut/components/editPane/locationEditEnd/locationEditEndComponent.less";



@import 'components/ui/ui.less';

@import 'less/modules/averageRating.less';
@import 'less/modules/geolocateButton.less';
@import 'less/modules/globalSearch.less';
@import 'less/modules/loadingBar.less';
@import 'less/modules/locationScore.less';
@import 'less/modules/navbar.less';
@import 'less/modules/list';



@import 'lib/weather-icons/weather-icons/weather-icons.less';
@weather-icons-path: '../lib/weather-icons/fonts';

html, body {
    background: @color-background-general;
}


.clickable {
    cursor: pointer;
}

.well-expansion {
    margin-bottom: -6px;
    font-size: 10px;
}

// No wrap helper class
.nowrap {
    white-space: nowrap;
}

// Make sure ng-cloak is around even if angular is not loaded yet
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


// TODO: make proper component
.link-for-toggle {
    display: block;
    padding: 5px 0;
    color: @colorDark;

    &:hover, &:active, &:focus {
        color: @colorDark;
    }
}

.remove-btn {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}
