.vg-location-edit-overlay {
    .edit-overlay {
        .edit-container {
            // For property 'name'
            .input-one-line {
                height: 48px;
                width: 100%;
                border: solid 1px @_color-grey-light;
            }


            // For property 'type'
            .choose-wrapper {
                margin: 30px 0;

                .plant-tooltip {
                    margin-bottom: 15px;
                }
                .answer1-tooltip {
                    display: inline-block;
                    &:before, &:after {
                        left: 25%;
                    }
                }
                .answer2-tooltip {
                    display: inline-block;
                    &:before, &:after {
                        left: 75%;
                    }
                }

                .col-xs-6 {
                    padding-right: 5px;
                    padding-left: 0;
                }
                .col-xs-6 + .col-xs-6 {
                    padding-right: 0;
                    padding-left: 5px;
                }

                .btn {
                    width: 100%;
                    overflow: hidden;
                    white-space: normal;
                    height: 100%;
                }
                .btn-choose {
                    border-radius: 4px;
                    background: #ffffff;
                    border: solid 1px @_color-grey-light;
                    font-size: 18px;
                    color: @_color-grey;

                    &:hover, &:active, &.active {
                        color: #ffffff;
                        background-color: #419fd9;
                    }
                }
            }


            // For property 'description'
            .input-multi-line {
                resize: none;
                width: 100%;
                border: solid 1px @_color-grey-light;
                font-weight: 100;
            }


            // For property 'quality'
            .plant1-tooltip {
                &:before, &:after {
                    left: calc(~ "50% - 122.5px");
                    @media only screen and (max-device-width: 344px) {
                        display: none
                    }
                }
            }
            .plant2-tooltip {
                &:before, &:after {
                    left: calc(~ "50% - 57.5px");
                    @media only screen and (max-device-width: 344px) {
                        display: none
                    }
                }
            }
            .plant3-tooltip {
                &:before, &:after {
                    left: 50%;
                    @media only screen and (max-device-width: 344px) {
                        display: none
                    }
                }
            }
            .plant4-tooltip {
                &:before, &:after {
                    left: calc(~ "50% + 64.5px");
                    @media only screen and (max-device-width: 344px) {
                        display: none
                    }
                }
            }
            .plant5-tooltip {
                &:before, &:after {
                    left: calc(~ "50% + 126px");
                    @media only screen and (max-device-width: 344px) {
                        display: none
                    }
                }
            }
            .plant-wrapper {
                margin: 20px 0 30px 0;
                text-align: center;
                .rating-plant {
                    width: 40px;
                    height: 40px;
                    margin: 9px;
                    svg {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

        }
    }
}
