<div class="vg-location-edit-overlay">
    <div class="edit-overlay">
        <div class="container edit-container">
            <img class="sky" src="img/background/space-hills-2.svg" ng-if="$ctrl.isQuestionnaire">
            <div class="h3" ng-class="{'h3-edit': !$ctrl.isQuestionnaire}">
                <label for="location-edit-input-field">
                    {{ 'location.form.edit.' + $ctrl.editTask + '.title' | translate }}
                </label>
            </div>
            <div class="h4" ng-if="$ctrl.getDescription()">
                {{ $ctrl.getDescription() }}
            </div>

            <form novalidate name="editLocationForm" ng-switch="$ctrl.editTask">

                <div ng-switch-when="AddProduct">
                    <vg-list-input vg-list="$ctrl.task.inputModel" vg-num-required="1"
                     vg-placeholder="{{ 'location.form.edit.AddProduct.placeholder' | translate }}">
                    </vg-list-input>
                </div>

                <vg-location-edit-coordinates
                 vg-location="$ctrl.location"
                 ng-switch-when="SetLocationCoordinates"
                 vg-form="editLocationForm"
                 vg-input-model="$ctrl.task.inputModel">
                </vg-location-edit-coordinates>

                <input type="text" id="location-edit-input-field"
                 class="vg-form__input"
                 ng-switch-when="SetLocationName"
                 required
                 ng-model="$ctrl.task.inputModel"
                 ng-disabled="$ctrl.isSaving"
                />

                <div class="choose-wrapper"
                 ng-switch-when="SetLocationProductListComplete">
                    <div ng-repeat="state in $ctrl.task.possibleAnswers">
                        <button class="btn btn-choose"
                         ng-disabled="$ctrl.isSaving"
                         ng-model="$ctrl.task.inputModel"
                         uib-btn-radio="state">
                            {{ 'location.form.edit.SetLocationProductListComplete.completeness.' + state | translate }}
                        </button>
                    </div>
                </div>

                <div class="row choose-wrapper"
                 ng-switch-when="SetLocationType">
                    <!-- TODO WIP: rename "plant-tooltip" -->
                    <!-- TODO WIP: use constants for gastronomy/retail -->
                    <div class="plant-tooltip"
                     ng-class="{'answer1-tooltip': editLocationForm.$dirty && $ctrl.task.inputModel === 'gastronomy'}">
                        <p>{{ 'location.form.edit.SetLocationType.tooltip.gastronomy' | translate }}</p>
                    </div>
                    <div class="plant-tooltip"
                     ng-class="{'answer2-tooltip': editLocationForm.$dirty && $ctrl.task.inputModel === 'retail'}">
                        <p>{{ 'location.form.edit.SetLocationType.tooltip.retail' | translate }}</p>
                    </div>
                    <div class="col-xs-6" ng-repeat="type in ['gastronomy', 'retail']">
                        <button class="btn btn-choose"
                         ng-disabled="$ctrl.isSaving"
                         ng-model="$ctrl.task.inputModel"
                         uib-btn-radio="type">
                            <vg-location-type-icon type="type"></vg-location-type-icon>
                            {{ 'location.type.' + type | translate }}
                        </button>
                    </div>
                </div>

                <textarea id="location-edit-input-field" class="vg-form__input" type="text" rows="5"
                 ng-switch-when="SetLocationDescription"
                 placeholder="{{ 'location.form.edit.SetLocationDescription.placeholder' | translate }}"
                 ng-model="$ctrl.task.inputModel"
                 ng-disabled="$ctrl.isSaving">
                </textarea>

                <input type="text" id="location-edit-input-field"
                 class="vg-form__input"
                 ng-switch-when="SetLocationWebsite"
                 placeholder="{{ 'location.form.edit.SetLocationWebsite.placeholder' | translate }}"
                 ng-model="$ctrl.task.inputModel"
                 ng-disabled="$ctrl.isSaving"
                />

                <div ng-switch-when="RateLocationQuality">
                    <div class="plant-tooltip"
                     ng-if="$ctrl.task.inputModel"
                     ng-class="'plant' + $ctrl.task.inputModel + '-tooltip'">
                        <p>{{ 'location.form.edit.RateLocationQuality.rating.' + $ctrl.task.inputModel | translate }}</p>
                    </div>
                    <div class="plant-wrapper">
                        <button class="remove-btn"
                         ng-repeat="quality in [1,2,3,4,5]"
                         ng-disabled="$ctrl.isSaving"
                         ng-model="$ctrl.task.inputModel"
                         uib-btn-radio="quality">
                            <vg-icon vg-name="'level-' + quality + ($ctrl.task.inputModel === quality ? '-selected' : '')"
                             class="rating-plant">
                            </vg-icon>
                        </button>
                    </div>
                </div>

                <div ng-switch-when="RateProduct" class="rating-wrapper">
                    <uib-rating ng-model="$ctrl.task.inputModel" readonly="$ctrl.isSaving" max="5"></uib-rating>
                </div>

                <div ng-switch-when="TagLocation">
                    <div class="tag-location__wrapper"
                     ng-repeat="(answerType, answers) in $ctrl.task.possibleAnswers">
                        <button class="remove-btn tag-location__accordion-btn"
                         ng-class="{'tag-location__accordion-btn--open': $ctrl.task.groupShown[answerType]}"
                         ng-click="$ctrl.task.groupShown[answerType] = !$ctrl.task.groupShown[answerType]">
                            <vg-icon class="slider-icon" vg-name="'chevron-small-down'"></vg-icon>
                            {{ 'tags.groups.' + answerType | translate }}
                            ({{ 'location.form.edit.TagLocation.numSelected'
                            | translate: {num: $ctrl.task.getNumSelected(answerType)} }})
                        </button>

                        <button class="badge tag-location__tag"
                         ng-show="$ctrl.task.groupShown[answerType]"
                         ng-repeat="answer in answers"
                         ng-model="$ctrl.task.inputModel[answer]"
                         uib-btn-checkbox>
                            {{ 'tags.' + answer + '.name' | translate }}
                        </button>
                    </div>
                </div>

                <button class="btn btn-primary btn-large" type="submit"
                 ng-disabled="editLocationForm.$invalid || editLocationForm.$pristine ||
                  $ctrl.isSaving || !$ctrl.task.hasValidOutcome()"
                 ng-click="$ctrl.save()">
                    <vg-icon class="checkmark" vg-name="'checkmark'"></vg-icon>
                    {{ 'location.pane.save' | translate }}
                </button>
            </form>

            <div class="button-wrapper" ng-if="!$ctrl.isQuestionnaire">
                <button class="remove-btn btn-edit" ng-click="$ctrl.onClose()" ng-disabled="$ctrl.isSaving">
                    <vg-icon class="cross-big" vg-name="'cross-big'"></vg-icon>
                    {{ 'location.pane.abort' | translate }}
                </button>
            </div>
            <div class="button-wrapper row" ng-if="$ctrl.isQuestionnaire">
                <div class="col-xs-5">
                    <button class="remove-btn btn-edit" ng-click="$ctrl.onClose()" ng-disabled="$ctrl.isSaving">
                        <vg-icon class="cross-big" vg-name="'cross-big'"></vg-icon>
                        {{ 'location.pane.abort' | translate }}
                    </button>
                </div>
                <div class="col-xs-7">
                    <button class="remove-btn btn-edit btn-skip" ng-disabled="$ctrl.isSaving">
                        {{ 'location.pane.skip' | translate:{'from': 1, 'to': 3} }}
                        <vg-icon class="chevron-small-right" vg-name="'chevron-small-right'"></vg-icon>
                        <vg-icon class="chevron-small-right" vg-name="'chevron-small-right'"></vg-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
