<div class="vg-nav-bar-overlay">
    <div class="container">
        <div class="vg-nav-bar-overlay__top">
            <img src="img/background/view-on-earth.svg">
        </div>
        <button class="vg-nav-bar-overlay__corner-action" ng-click="$ctrl.search()">
            <vg-icon vg-name="'search'"></vg-icon>
        </button>
        <button class="pull-right vg-nav-bar-overlay__corner-action" ng-click="$ctrl.closeOverlay()">
            <vg-icon vg-name="'cross-big'"></vg-icon>
        </button>
        <button class="vg-nav-bar-overlay__logo" ng-click="$ctrl.goToView('/')">
            <img src="img/logo/veganaut.png">
        </button>

        <div class="overlay-content overlay-content--small">
            <a href="" class="overlay-content__secondary-action overlay-content__secondary-action--with-icon"
             ng-click="$ctrl.goToView('/panorama/')">
                <vg-icon vg-name="'location'" class=""></vg-icon>
                {{ 'navigation.panorama' | translate }}
            </a>
            <a href="" class="overlay-content__secondary-action overlay-content__secondary-action--with-icon"
             ng-click="$ctrl.goToView('/map/')">
                <vg-icon vg-name="'map'" class=""></vg-icon>
                {{ 'navigation.map' | translate }}
            </a>
            <a href="" class="overlay-content__secondary-action overlay-content__secondary-action--with-icon"
             ng-click="$ctrl.goToView('/list/')">
                <vg-icon vg-name="'list'" class=""></vg-icon>
                {{ 'navigation.list' | translate }}
            </a>
        </div>

        <div class="overlay-content">
            <button class="overlay-content__main-action overlay-content__main-action--secondary"
             ng-click="$ctrl.goToView('/community')">
                {{ 'navigation.community' | translate }}
            </button>
        </div>
        <div class="overlay-content">
            <button class="overlay-content__main-action overlay-content__main-action--secondary"
             ng-click="$ctrl.goToView('/me')">
                {{ 'navigation.profile' | translate }}
            </button>
        </div>

        <div ng-if="!$ctrl.isLoggedIn()" class="overlay-content">
            <button class="overlay-content__main-action overlay-content__main-action--highlighted"
             ng-click="$ctrl.goToView('/register')">
                {{ 'navigation.register' | translate}}
                <vg-icon vg-name="'chevron-right'" class="home-chevron-right"></vg-icon>
            </button>
        </div>
        <div ng-if="$ctrl.isLoggedIn()" class="overlay-content">
            <button class="overlay-content__main-action overlay-content__main-action--highlighted"
             ng-click="$ctrl.addLocation() | track:'startAddLocation':'startAddLocation.mainMenu'">
                {{ 'navigation.addLocation' | translate}}
                <vg-icon vg-name="'chevron-right'" class="home-chevron-right"></vg-icon>
            </button>
        </div>
        <div ng-if="!$ctrl.isLoggedIn()" class="overlay-content">
            <button class="overlay-content__main-action overlay-content__main-action--secondary"
             ng-click="$ctrl.goToView('/login')">
                {{ 'navigation.login' | translate }}
            </button>
        </div>
        <div ng-if="$ctrl.isLoggedIn()" class="overlay-content">
            <button class="overlay-content__main-action overlay-content__main-action--secondary"
             ng-click="$ctrl.logout() | track:'logout':'logout'">
                {{ 'navigation.logout' | translate }}
            </button>
        </div>

        <div class="overlay-content overlay-content--medium">
            <a class="overlay-content__secondary-action" href="https://blog.veganaut.net/about/" target="_blank">
                {{'navigation.about' | translate}}
            </a>
            |
            <a class="overlay-content__secondary-action" href="https://blog.veganaut.net/contact" target="_blank">
                {{'navigation.contactForm' | translate}}
            </a>
            |
            <a class="overlay-content__secondary-action" href="https://blog.veganaut.net/" target="_blank">
                {{'navigation.blog' | translate}}
            </a>
        </div>

        <div class="overlay-content overlay-content--medium">
            <a class="overlay-content__secondary-action overlay-content__secondary-action--icon-only"
             title="{{'navigation.bugs'| translate}}"
             href="https://github.com/veganaut/veganaut/issues" target="_blank">
                <vg-icon vg-name="'github'"></vg-icon>
            </a>
            <a class="overlay-content__secondary-action overlay-content__secondary-action--icon-only"
             title="{{'navigation.facebook'| translate}}"
             href="https://www.facebook.com/veganautnet" target="_blank">
                <vg-icon vg-name="'facebook'"></vg-icon>
            </a>
            <a class="overlay-content__secondary-action overlay-content__secondary-action--icon-only"
             title="{{'navigation.twitter'| translate}}"
             href="https://twitter.com/veganautnet" target="_blank">
                <vg-icon vg-name="'twitter'"></vg-icon>
            </a>
        </div>

        <div class="overlay-content overlay-content--small" ng-controller="ChangeLocaleCtrl">
            <span ng-repeat="locale in availableLocales">
                <button class="overlay-content__secondary-action"
                 ng-click="localeService.changeLocale(locale); $ctrl.closeOverlay()">
                    <span ng-class="{ 'overlay-content__secondary-action--active': locale === localeService.getLocale() }">
                        {{'navigation.language.' + locale | translate}}
                    </span>
                </button><span ng-if="!$last">|</span>
            </span>
        </div>

        <div class="overlay-content overlay-content--small">
            <a class="overlay-content__secondary-action" href="https://blog.veganaut.net/nutzungsbedingungen/" target="_blank">
                {{'navigation.termsOfUse' | translate}}
            </a>
            <a class="overlay-content__secondary-action" href="https://blog.veganaut.net/datenschutzerklarung/" target="_blank">
                {{'navigation.privacyPolicy' | translate}}
            </a>
            <a class="overlay-content__secondary-action" href="https://blog.veganaut.net/impressum/" target="_blank">
                {{'navigation.imprint' | translate}}
            </a>
        </div>

        <div class="vg-nav-bar-overlay__bottom">
            <img src="img/background/landscape.svg">
        </div>
    </div>
</div>
