<div class="container">
    <div class="overlay-modal-top">
        <img src="img/background/view-on-earth.svg">
    </div>
    <div class="overlay-modal-bottom">
        <img src="img/background/landscape.svg">
    </div>
    <div class="navbar-content-overlay">
        <div class="container overlay-container row">
            <!-- TODO WIP: implement as designed -->
            <button class="overlay-cross" ng-click="$ctrl.closeOverlay()">
                <vg-icon vg-name="'cross-big'"></vg-icon>
            </button>
            <button class="overlay-logo" ng-click="$ctrl.goToView('/')">
                <img src="img/logo/veganaut.png">
            </button>
            <button class="remove-btn overlay-content col-xs-12" ng-click="$ctrl.goToView('/community')">
                <span class="h4">{{'navigation.community' | translate}}</span>
            </button>
            <button class="remove-btn overlay-content col-xs-12" ng-click="$ctrl.goToView('/me')">
                <span class="h4">{{'navigation.profile' | translate}}</span>
            </button>
            <button ng-if="!$ctrl.isLoggedIn()"
             ng-click="$ctrl.goToView('/register')"
             class="btn btn-primary btn-overlay overlay-content">
                <span class="h4">{{'navigation.login' | translate}} &amp; {{'navigation.register' | translate}} &nbsp;</span>
                <vg-icon vg-name="'chevron-right'" id="home-chevron-right"></vg-icon>
            </button>
            <button ng-if="$ctrl.isLoggedIn()"
             ng-click="$ctrl.logout()"
             class="overlay-logout overlay-content">
                <span class="h4">{{'navigation.logout' | translate}}</span>
            </button>
            <div class="row overlay-content">
                <div class="col-xs-4 overlay-border-right">
                    <a class="h5 overlay-row-content" href="https://blog.veganaut.net/about/" target="_blank">
                        {{'navigation.about' | translate}}
                    </a>
                </div>
                <div class="col-xs-4 overlay-border-right">
                    <a class="h5 overlay-row-content" href="https://blog.veganaut.net/contact" target="_blank">
                        {{'navigation.contactForm' | translate}}
                    </a>
                </div>
                <div class="col-xs-4">
                    <a class="h5 overlay-row-content" href="https://blog.veganaut.net/" target="_blank">
                        {{'navigation.blog' | translate}}
                    </a>
                </div>
            </div>
            <div class="row overlay-content">
                <div class="col-xs-4 overlay-icons">
                    <a title="{{'navigation.bugs'| translate}}" href="https://github.com/veganaut/veganaut/issues" target="_blank">
                        <vg-icon vg-name="'github'"></vg-icon>
                    </a>
                </div>
                <div class="col-xs-4 overlay-icons">
                    <a title="{{'navigation.facebook'| translate}}" href="https://www.facebook.com/veganautnet" target="_blank">
                        <vg-icon vg-name="'facebook'"></vg-icon>
                    </a>
                </div>
                <div class="col-xs-4 overlay-icons">
                    <a title="{{'navigation.twitter'| translate}}" href="https://twitter.com/veganautnet" target="_blank">
                        <vg-icon vg-name="'twitter'"></vg-icon>
                    </a>
                </div>
            </div>
            <div class="row" ng-controller="ChangeLocaleCtrl">
                <div class="col-xs-4" ng-class="{'overlay-border-right':!$last}" ng-repeat="locale in availableLocales">
                    <button class="remove-btn" ng-click="localeService.changeLocale(locale); $ctrl.closeOverlay()">
                        <span  ng-class="{'current-locale':locale === localeService.getLocale()}" class="h5 overlay-row-content">
                            {{'navigation.language.' + locale | translate}}
                        </span>
                    </button>
                </div>
            </div>
            <div class="overlay-bottom">
                <div class="row overlay-content">
                    <div class="col-md-4 col-xs-12">
                        <a class="h5" href="https://blog.veganaut.net/nutzungsbedingungen/" target="_blank">
                            {{'navigation.termsOfUse' | translate}}
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <a class="h5" href="https://blog.veganaut.net/datenschutzerklarung/" target="_blank">
                            {{'navigation.privacyPolicy' | translate}}
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <a class="h5" href="https://blog.veganaut.net/impressum/" target="_blank">
                            {{'navigation.imprint' | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
