.veganlevel-wrapper {
    padding: 10px;
    margin-top: 20px;
    .col-xs-2 {
        padding: 0;
    }

}

.veganlevel-number {
    cursor: inherit;
    font-size: 12px;
    color: @_color-teal;
}

.veganlevel-plant-button {
    background: none;
    border: none;
    padding: 0;
}

.plant-disabled {
    opacity: 0.5;
}

.vg-icon-wrapper {
    cursor: pointer;
}

.plant-tooltip {
    display: none;
    position: relative;
    width: 100%;
    border-radius: 5px;
    padding: 7px 11px;
    margin-bottom: 15px;
    border: 1px solid @_color-teal;
    min-height: 60px;

    &:before, &:after {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:before {
        border-color: rgba(0, 168, 159, 0);
        border-top-color: #00a89f;
        border-width: 8px;
        margin-left: -8px;
    }

    &:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #ffffff;
        border-width: 6px;
        margin-left: -6px;
    }
    p {
        margin: 0;
    }
}

.plant0-tooltip {
    display: inline-block;
    &:before, &:after {
        left: calc(~"5% - 10px");
        @media only screen and (max-device-width: 550px) {
            left: calc(~"5% - 5px");
        }
        @media only screen and (max-device-width: 420px) {
            left: 5%;
        }
    }
}

.plant1-tooltip {
    display: inline-block;
    &:before, &:after {
        left: calc(~"22% - 10px");
        @media only screen and (max-device-width: 550px) {
            left: calc(~"20% - 5px");
        }
        @media only screen and (max-device-width: 420px) {
            left: 22%;
        }
    }
}

.plant2-tooltip {
    display: inline-block;
    &:before, &:after {
        left: calc(~"39% - 10px");
        @media only screen and (max-device-width: 550px) {
            left: calc(~"35% - 5px");
        }
        @media only screen and (max-device-width: 420px) {
            left: 39%;
        }
    }
}

.plant3-tooltip {
    display: inline-block;
    &:before, &:after {
        left: calc(~"56% - 10px");
        @media only screen and (max-device-width: 550px) {
            left: calc(~"50% - 5px");
        }
        @media only screen and (max-device-width: 420px) {
            left: 56%;
        }
    }
}

.plant4-tooltip {
    display: inline-block;
    &:before, &:after {
        left: calc(~"73% - 10px");
        @media only screen and (max-device-width: 550px) {
            left: calc(~"65% - 5px");
        }
        @media only screen and (max-device-width: 420px) {
            left: 73%;
        }
    }
}

.plant5-tooltip {
    display: inline-block;
    &:before, &:after {
        left: calc(~"90% - 10px");
        @media only screen and (max-device-width: 550px) {
            left: calc(~"80% - 5px");
        }
        @media only screen and (max-device-width: 420px) {
            left: 90%;
        }
    }
}

.plant {
    position: relative;
    width: 17%;
    @media only screen and (min-device-width: 420px) and (max-device-width: 550px) {
        width: 15%;
    }
}
