<div class="area-wrapper" ng-class="{'area-wrapper-open' : ($ctrl.tooltipOpen())}">
    <h1 class="h3">
        <vg-icon vg-name="'location'" class="area-overview-location"></vg-icon>
        {{$ctrl.areaOverview.name}}

    </h1>
    <div ng-if="$ctrl.current" class="return-btn">
        <div class="return-btn-content">
            <vg-icon vg-name="'jump-back'"></vg-icon>
            <span>{{$ctrl.areaOverview.name}}</span>
        </div>
    </div>
    <p ng-if="!$ctrl.current">
        {{ 'areaOverview.subtitle1.searched' | translate: {area: $ctrl.areaOverview.area} }}
    </p>
    <p ng-if="$ctrl.current">
        {{ 'areaOverview.subtitle1.current' | translate }}
    </p>
    <p class="area-location-area">
        <span>{{ 'areaOverview.subtitle2' | translate: {total: $ctrl.areaOverview.totalLocations, radius: $ctrl.areaOverview.radius} }}</span>
    </p>
    <div class="plant-tooltip" ng-class="{'plant1-tooltip': $ctrl.ratingPlants.ratingPlant1.tooltip}">
        <p>{{ 'areaOverview.rating.1' | translate }}</p>
    </div>
    <div class="plant-tooltip" ng-class="{'plant2-tooltip': $ctrl.ratingPlants.ratingPlant2.tooltip}">
        <p>{{ 'areaOverview.rating.2' | translate }}</p>
    </div>
    <div class="plant-tooltip" ng-class="{'plant3-tooltip': $ctrl.ratingPlants.ratingPlant3.tooltip}">
        <p>{{ 'areaOverview.rating.3' | translate }}</p>
    </div>
    <div class="plant-tooltip" ng-class="{'plant4-tooltip': $ctrl.ratingPlants.ratingPlant4.tooltip}">
        <p>{{ 'areaOverview.rating.4' | translate }}</p>
    </div>
    <div class="plant-tooltip" ng-class="{'plant5-tooltip': $ctrl.ratingPlants.ratingPlant5.tooltip}">
        <p>{{ 'areaOverview.rating.5' | translate }}</p>
    </div>
    <div class="row" class="veganlevel-wrapper">
        <div class="plant plant1" ng-class="{'plant-disabled': !$ctrl.ratingPlants.ratingPlant1.visible}">
            <button class="veganlevel-plant-button" ng-click="$ctrl.toggle('ratingPlant1')">
                <vg-icon vg-name="'veganlevel-1'"></vg-icon>
            </button>
            <span class="veganlevel-number">{{$ctrl.areaOverview.ratings[0]}}</span>
        </div>
        <div class="plant plant2" ng-class="{'plant-disabled': !$ctrl.ratingPlants.ratingPlant2.visible}">
            <button class="veganlevel-plant-button" ng-click="$ctrl.toggle('ratingPlant2')">
                <vg-icon vg-name="'veganlevel-2'"></vg-icon>
            </button>
            <span class="veganlevel-number">{{$ctrl.areaOverview.ratings[1]}}</span>
        </div>
        <div class="plant plant3" ng-class="{'plant-disabled': !$ctrl.ratingPlants.ratingPlant3.visible}">
            <button class="veganlevel-plant-button" ng-click="$ctrl.toggle('ratingPlant3')">
                <vg-icon vg-name="'veganlevel-3'"></vg-icon>
            </button>
            <span class="veganlevel-number">{{$ctrl.areaOverview.ratings[2]}}</span>
        </div>
        <div class="plant plant4" ng-class="{'plant-disabled': !$ctrl.ratingPlants.ratingPlant4.visible}">
            <button class="veganlevel-plant-button" ng-click="$ctrl.toggle('ratingPlant4')">
                <vg-icon vg-name="'veganlevel-4'"></vg-icon>
            </button>
            <span class="veganlevel-number">{{$ctrl.areaOverview.ratings[3]}}</span>
        </div>
        <div class="plant plant5" ng-class="{'plant-disabled': !$ctrl.ratingPlants.ratingPlant5.visible}">
            <button class="veganlevel-plant-button" ng-click="$ctrl.toggle('ratingPlant5')">
                <vg-icon vg-name="'veganlevel-5'"></vg-icon>
            </button>
            <span class="veganlevel-number">{{$ctrl.areaOverview.ratings[4]}}</span>
        </div>
    </div>
</div>
