<div class="vg-global-search">
    <form novalidate name="searchForm" class="clearfix">
        <label
         for="globalSearch"
         class="vg-global-search-header">
            {{ 'globalSearch.title.main' | translate }}
        </label>
        <div class="form-group">
            <input
             type="text"
             class="form-control vg-global-search-field"
             id="globalSearch"
             ng-model="globalSearchVm.searchService.searchString"
             autocomplete="off"
             placeholder="{{ 'globalSearch.placeholder' | translate }}"
            >
        </div>
        <button class="btn btn-primary btn-large vg-global-search-button"
         type="submit"
         ng-disabled="!globalSearchVm.searchService.isSearchStringValid()"
         ng-click="globalSearchVm.searchService.startSearch()">
            <vg-icon vg-name="'search'" class="btn__icon"></vg-icon>
            {{ 'globalSearch.submit' | translate }}
        </button>
    </form>

    <p ng-if="globalSearchVm.searchService.noResultsFound">
        {{ 'globalSearch.noResults' | translate }}
    </p>

    <div ng-if="globalSearchVm.searchService.locationResults.length > 0">
        <h2 class="vg-global-search-results-title">
            {{ 'globalSearch.title.locations' | translate }}
        </h2>
        <div class="location-search-results vg-global-search-results">
            <!-- TODO: De-duplicate with areaList.tpl.html -->
            <button class="vg-list-item vg-list-item--location"
             ng-repeat="item in globalSearchVm.searchService.locationResults track by item.id"
             ng-click="globalSearchVm.onLocationClick(item)">
                <div class="vg-list-item__vegan-level">
                    <vg-location-quality-icon location="item"></vg-location-quality-icon>
                </div>
                <div class="vg-list-item__text">
                    <h2 class="vg-list-item__title">
                        {{ item.name }}
                    </h2>
                    <div class="vg-list-item__details" ng-if="item.address">
                        {{ item.getDisplayAddress('city') }}
                    </div>
                </div>
                <div class="vg-list-item__type-icon">
                    <vg-location-type-badge location="item"></vg-location-type-badge>
                </div>
            </button>
        </div>
        <button class="btn btn-link btn-block btn--more-results"
         ng-if="globalSearchVm.searchService.hasMoreLocations"
         ng-click="globalSearchVm.onShowMore('locations')">
            <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
    </div>

    <div ng-if="globalSearchVm.searchService.geoResults.length > 0">
        <h2 class="vg-global-search-results-title">
            {{ 'globalSearch.title.geoPlaces' | translate }}
        </h2>
        <div class="geo-search-results vg-global-search-results">
            <a href="" ng-repeat="result in globalSearchVm.searchService.geoResults"
             class="vg-global-search-result"
             ng-click="globalSearchVm.onGeoClick(result)">
                <vg-icon vg-name="'location'" class="vg-global-search-result-icon"></vg-icon>
                {{ result.getLongName() }}
            </a>
        </div>
        <button class="btn btn-link btn-block btn--more-results"
         ng-if="globalSearchVm.searchService.hasMoreGeo"
         ng-click="globalSearchVm.onShowMore('geo')">
            <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
    </div>
</div>
