<form novalidate name="searchForm" class="search-form clearfix">
    <a href="" class="link-unstyled pull-left top-box__minimise"
     ng-click="mapSearchVm.minimised = !mapSearchVm.minimised">
        <span class="glyphicon glyphicon-chevron-up"
         ng-hide="mapSearchVm.minimised"></span>
        <span ng-show="mapSearchVm.minimised">
            <span class="glyphicon glyphicon-chevron-down"></span>
            {{ 'mapSearch.form.showForm' | translate }}
        </span>
    </a>
    <div class="top-box__close clickable" ng-click="mapSearchVm.onClose()">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
    <div ng-hide="mapSearchVm.minimised">
        <vg-geocode-search-input
         vg-results-model="mapSearchVm.searchResults"
         vg-label="{{ 'mapSearch.form.title' | translate }}"
         vg-placeholder="{{ 'mapSearch.form.placeholder' | translate }}"
         vg-input-id="searchForm">
        </vg-geocode-search-input>

        <vg-geocode-search-results
         vg-results="mapSearchVm.searchResults"
         vg-on-select="mapSearchVm.onResultSelect()"
         vg-map="mapSearchVm.map">
        </vg-geocode-search-results>
    </div>
</form>
