// Styles for the vg-geolocation-button
.geolocate-button {
    position: fixed;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    bottom: 134px;
    right: 20px;
    box-shadow: 0 1px 3px @color-shadow;
    border: none;

    &.geolocate-button--locating {
        -webkit-animation:spin 2s linear infinite;
        -moz-animation:spin 2s linear infinite;
        animation:spin 2s linear infinite;
    }
    .geolocate-button__icon {
        position: relative;
        top: 2px;
    }

    .geolocate-button__icon,
    .geolocate-button__icon svg {
        width: 18px;
        height: 18px;
    }
}

.geolocate-circle-marker {
    fill: @colorBrandGrey;
    stroke: @colorBrandGrey;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
