.navbar {
    background-color: @colorLightTranslucent;
    border-color: @bootstrapGreyBorder;
}

.navbar-container {
    padding-left: @mainSidePadding;
    padding-right: @mainSidePadding;
}

.navbar-header {
    height: @navbarHeight;
    line-height: 1em;
    float: none;
    text-align: center;
}

.navbar-container .navbar-header {
    // Overriding bootstrap
    margin-left: 0;
    margin-right: 0;
}

.navbar-toggle {
    display: block;
    margin-bottom: 0;
}

.vg-navbar-right-side {
    float: right;
}

.vg-navbar-left-side {
    float: left;
}

.vg-navbar-center {
    display: inline-block;
}

.vg-navbar-button {
    display: inline-block;
    border: none;
    background-color: transparent;
    margin: 10px 10px 0 10px;
    padding: 6px 0 3px 0;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.vg-navbar-button__icon,
.vg-navbar-button__icon svg {
    height: 18px;
}

.vg-navbar-button__icon svg path {
    fill: @_color-dark-grey;
}

.vg-navbar-view-select {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.vg-navbar-view-select-item {
    width: 40px;
    height: 30px;
    padding: 0;
    border: 1px solid @_color-dark-grey;
    background-color: white;
    border-left-width: 0;
    color: @_color-teal;
    text-align: center;
}

.vg-navbar-view-select-item__icon {
    display: block;
}

.vg-navbar-view-select-item__icon,
.vg-navbar-view-select-item__icon svg{
    height: 15px;
}

.vg-navbar-view-select-item__icon svg path,
.vg-navbar-view-select-item__icon svg circle {
    fill: currentColor;
}

.vg-navbar-view-select-item:first-child {
    border-radius: 4px 0 0 4px;
    border-left-width: 1px;
}

.vg-navbar-view-select-item:last-child {
    border-left: none;
    border-radius: 0 4px 4px 0;
}

.vg-navbar-view-select-item:hover,
.vg-navbar-view-select-item--active {
    background-color: @_color-dark-grey;
    color: white;
    cursor: pointer;
}

.navbar-footer {
    font-size: 13px;
    margin: 5px 0;

    .row {
        margin-top: 5px;
        padding-top: 5px;
    }
}

.navbar-footer__bottom {
    font-size: 11px;
    padding-bottom: 5px;
    a {
        color: @colorMedium;
    }
}
