<div class="home__hero-image">
    <div class="home__logo">
        <ng-include src="'img/veganaut.svg'" class="logo"></ng-include>
        <h1 class="home__tag-line h4">
            {{ 'home.tagLine' | translate }}
        </h1>
    </div>
    <div class="home__call-to-action">
        <h2 class="h3">
            {{ 'home.callToAction.text' | translate }}
        </h2>
        <form novalidate>
            <div class="home__call-to-action__input">
                <div class="form-group form--auto-complete">
                    <label class="sr-only" for="homeCallToAction">{{ 'home.callToAction.text' | translate }}</label>
                    <input
                     type="text"
                     id="homeCallToAction"
                     class="form-control"
                     placeholder="{{ 'home.callToAction.inputPlaceholder' | translate }}"
                     ng-model="homeVm.ctaFormInput"
                     ng-focus="homeVm.onCtaInputFocus()"
                     ng-blur="homeVm.onCtaInputBlur()"
                     uib-typeahead="res.getDisplayName() for res in homeVm.getSearchResults($viewValue)"
                     typeahead-min-length="3"
                     typeahead-wait-ms="500"
                     typeahead-loading="homeVm.searching"
                     typeahead-on-select="homeVm.onResultSelected($item)"
                    >
                    <div class="form--auto-complete__loading"
                     ng-show="homeVm.searching || homeVm.geolocating">
                        <i class="glyphicon glyphicon-refresh">
                        </i>
                    </div>
                </div>
                <button class="btn btn-default"
                 type="button"
                 ng-click="homeVm.getUserLocation()">
                    <span class="glyphicon glyphicon-screenshot"></span>
                    {{ 'home.callToAction.geolocate' | translate }}
                </button>
            </div>
            <div class="row home__call-to-action__submit">
                <div class="col-xs-6">
                    <button class="btn btn-default btn-block"
                     type="button"
                     ng-disabled="!homeVm.canSubmitCta()"
                     ng-click="homeVm.onCtaSubmit('list')">
                        <span class="glyphicon glyphicon-th-list"></span>
                        {{ 'home.callToAction.showList' | translate }}
                    </button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-default btn-block"
                     type="submit"
                     ng-disabled="!homeVm.canSubmitCta()"
                     ng-click="homeVm.onCtaSubmit('map')">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        {{ 'home.callToAction.showMap' | translate }}
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
<div>
    <h2 class="h4 title--home">
        <a href="https://github.com/veganaut/veganaut/blob/master/LICENSE" target="_blank">
            {{ 'home.lead.openSource' | translate }}
        </a> &
        <a href="https://creativecommons.org/licenses/by-sa/3.0/ch/" target="_blank">
            {{ 'home.lead.openContent' | translate }}
        </a>
    </h2>
    <p>
        {{ 'home.lead.text' | translate }}
    </p>

    <h2 class="h4 title--home">{{ 'home.participate.title' | translate }}</h2>
    <p>
        {{ 'home.participate.text' | translate }}
    </p>
    <p>
        <button type="button" class="btn-register btn btn-block btn-primary"
         ng-if="!homeVm.legacyGlobals.isLoggedIn()"
         ng-click="homeVm.legacyGlobals.goToView('register') | track:'linkToRegister':'linkToRegister.home'"
         title="{{ 'navigation.register' | translate }}">
            <span class="glyphicon glyphicon-heart"></span>
            {{ 'home.participate.register' | translate }}
        </button>
    </p>
</div>
