<div class="top-box top-box--home">
    <div class="container--home container--offset-navbar">
        <div class="container">
            <h1 class="h2">{{ 'home.lead.title' | translate }}</h1>
            <h2 class="h4">{{ 'home.lead.subtitle' | translate }}</h2>
            <div ng-bind-html="'home.lead.textBeforeMap' | translate"></div>
        </div>
    </div>
    <button type="button" class="btn-register btn btn-block btn-link home-window-to-map"
     ng-click="goToView('map')">
        <span class="glyphicon glyphicon-hand-right"></span>
        {{ 'home.action.visitMap' | translate }}
    </button>
    <div class="container--home">
        <div class="container">
            <div ng-bind-html="'home.lead.textAfterMap' | translate"></div>
            <div class="home-game">
                <h3>{{ 'home.game.title' | translate }}</h3>
                <div ng-bind-html="'home.game.text' | translate"></div>
                <p>
                    <button type="button" class="btn-register btn btn-block btn-team"
                     ng-if="!isLoggedIn()"
                     ng-click="goToView('register')"
                     title="{{ 'navigation.register' | translate }}">
                        <span class="glyphicon glyphicon-pencil"></span>
                        {{ 'navigation.register' | translate }}
                    </button>
                </p>
            </div>
            <div class="home-story">
                <h2>{{ 'home.story.title' | translate }}</h2>
                <div ng-bind-html="'home.story.text' | translate"></div>
            </div>
        </div>
    </div>
</div>
<div ng-controller="MapCtrl">
    <leaflet class="main-map full-viewport"
     defaults="mapSettings.defaults" center="mapSettings.center" event-broadcast="events">
    </leaflet>
</div>
