// Styles for the accordion and related components
.accordion {
    padding-left: 0;
    margin: 0 -10px 5px;

    .accordion__item {
        position: relative;
        display: block;
        margin-bottom: -1px;
        border: solid @bootstrapGreyBorder;
        border-width: 1px 0;

        &:last-child {
            margin-bottom: 0;
        }

        .accordion__item__header__btn {
            .button-variant(@colorDark; @colorLight; @colorLighter);
            .btn-reset-styles();
            padding: 5px 10px 5px 25px;
            min-height: 45px;
        }
    }

    .accordion__item--opened {
        background: @bootstrapLightGreyBackground;
        box-shadow: 0 0 2px;
        z-index: 1; // Move to the front to show the bottom part of the shadow
    }

    .accordion__item__body {
        border-top: 1px solid @bootstrapGreyBorder;
        margin-left: -2px;
        margin-right: -2px;
    }

    .accordion__item__header {
        position: relative;
    }

    .accordion__item__body__content {
        padding: 10px 15px;
    }

    .accordion__item__header__icon {
        position: absolute;
        left: 7px;
        top: 50%;
        margin-top: -7px;
    }
}
