<div class="mission mission-{{ productMission.mission.type }}">
    <vg-mission-points vg-points="productMission.mission.points"
     vg-completed="productMission.mission.completed">
    </vg-mission-points>
    <h4>{{ 'map.mission.' + productMission.mission.type + '.title' | translate }}</h4>
    <div>
        {{ 'map.mission.' + productMission.mission.type + '.description' | translate }}
    </div>
    <div ng-switch="productMission.mission.type">
        <div ng-switch-when="rateProduct" class="font--large text-center"
         ng-class="{ 'font--greyed-out': productMission.mission.completed }">
            <uib-rating ng-model="productMission.mission.outcome"
             readonly="productMission.mission.completed" max="5"></uib-rating>
        </div>
        <div ng-switch-when="setProductName">
            <form novalidate name="editProductNameForm" class="edit-product-name-form">
                <div ng-class="{ 'input-group': productMission.mission.hasValidOutcome() && !productMission.mission.completed }">
                    <input type="text" required
                     class="form-control"
                     ng-disabled="productMission.mission.completed"
                     ng-model="productMission.mission.outcome" />
                    <div class="input-group-addon"
                     ng-if="productMission.mission.hasValidOutcome() && !productMission.mission.completed">
                        <button type="submit" class="btn btn-no-styles"
                         ng-click="productMission.onFinishMission(productMission.mission)">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div ng-switch-when="setProductAvail">
            <div class="btn-group">
                <button class="btn btn-default"
                 ng-repeat="possibleAnswer in productMission.mission.possibleAnswers"
                 ng-disabled="productMission.mission.completed"
                 ng-model="productMission.mission.outcome" uib-btn-radio="possibleAnswer">
                    {{ 'map.mission.' + productMission.mission.type + '.outcome.' + possibleAnswer | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
