<div class="vg-location-edit-end">
    <div class="edit-overlay">
        <div class="container edit-container">
            <img src="img/background/space-cloud-top.svg" class="background-img img-top">
            <div class="animation-wrapper" data-spirit-id="animation-01">

                <object class="preload space-chicken" data-spirit-id="space-chicken" data="img/animations/svg/space-chicken.svg" type="image/svg+xml"></object>

                <div class="preload earth-group" data-spirit-id="earth-group">
                    <object class="heart-message" data-spirit-id="heart-message" data="img/animations/svg/heart-message.svg" type="image/svg+xml"></object>
                    <object class="cloud" data-spirit-id="cloud" data="img/animations/svg/cloud.svg" type="image/svg+xml"></object>
                    <object class="earth" data-spirit-id="earth" data="img/animations/svg/earth.svg" type="image/svg+xml"></object>
                </div>

                <div class="preload speech-bubble-group" data-spirit-id="speech-bubble-big">
                    <div class="message" data-spirit-id="message">
                        <div><span><strong>Danke für deine Antworten!</strong> Deine Infos helfen vielen anderen VeganautInnen!</span>
                        </div>
                    </div>
                    <object class="bubble-big" data-spirit-id="bubble-big" data="img/animations/svg/speech-bubble-big.svg" type="image/svg+xml"></object>
                </div>

                <object class="preload rocket" data-spirit-id="rocket" data="img/animations/svg/rocket.svg" type="image/svg+xml"></object>

                <object class="preload background-line_01" data-spirit-id="background-line_01" data="img/animations/svg/background-line_01.svg" type="image/svg+xml"></object>

                <object class="preload background-line_02" data-spirit-id="background-line_02" data="img/animations/svg/background-line_02.svg" type="image/svg+xml"></object>

                <object class="preload stars" data-spirit-id="stars" data="img/animations/svg/stars.svg" type="image/svg+xml"></object>

            </div>
            <button class="btn btn-large btn-primary">
               <span> Weitere Fragen beantworten </span> <vg-icon vg-name="'chevron-small-right'"></vg-icon>
            </button>
            <img src="img/background/space-cloud-bottom.svg" class="background-img img-bottom">
            <button class="remove-btn close-btn ng-binding">
                Zurück zur Location
            </button>

        </div>
    </div>
</div>