<form novalidate name="locationForm" class="location-form">
    <div class="close-top-box clickable" ng-click="resetAddNewLocation()">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
    <div ng-switch="addLocationStep">
        <div ng-switch-when="1" class="form-group">
            <label class="top-box-first-line" for="addLocationName">{{ 'location.form.name' | translate }}</label>
            <input type="text" required class="form-control" id="addLocationName"
             ng-model="newLocation.name" />
        </div>
        <div ng-switch-when="2" class="form-group">
            <label class="top-box-first-line">{{ 'location.form.type' | translate }}</label>
            <div>
                <div class="btn-group">
                    <label class="btn btn-default" ng-repeat="type in locationTypes"
                     ng-model="newLocation.type" btn-radio="type">
                        {{ 'location.type.' + type | translate }}
                    </label>
                </div>
            </div>
        </div>
        <div ng-switch-when="3" ng-controller="SearchCtrl">
            <div class="form-group">
                <label class="top-box-first-line" for="addLocationSearch">
                    {{ 'location.form.selectCoordinates' | translate }}
                </label>
                <input type="text" class="form-control" id="addLocationSearch"
                 ng-model="geocoding.search"
                 placeholder="{{ 'location.form.search' | translate }}"/>
            </div>
            <ul>
                <li ng-repeat="result in geocoding.results">
                    <a class="clickable"
                     ng-click="setGeocodeResult(result) | track:'map.addLocation':'searchResultClick'">
                        {{ result.getDisplayName() }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <p>
        <span class="pull-right">
            <button type="button" class="btn btn-default btn-add-location-previous"
             ng-show="addLocationStep > 1"
             ng-click="previousStep()">
                <span class="glyphicon glyphicon-arrow-left"></span>
                <span>{{ 'location.form.previous' | translate }}</span>
            </button>
            <button type="submit" class="btn btn-team btn-add-location-next"
             ng-disabled="!stepIsValid()"
             ng-click="nextStep()">
                <span ng-hide="isLastStep()">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                    {{ 'location.form.next' | translate }}
                </span>
                <span ng-show="isLastStep()">
                    <span class="glyphicon glyphicon-ok"></span>
                    {{ 'location.form.submit' | translate }}
                </span>
            </button>
        </span>
        <span class="clearfix"></span>
    </p>
</form>
