<form novalidate name="locationForm" class="location-form">
    <div class="top-box__close clickable"
     ng-hide="addLocationComponent.minimised"
     ng-click="abortAddNewLocation()">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
    <div ng-switch="addLocationStep">
        <div ng-switch-when="1">
            <label class="top-box__first-line">{{ 'location.form.new.type' | translate }}</label>
            <div class="btn-group form-group">
                <button class="btn btn-default" ng-repeat="type in locationTypes"
                 ng-model="location.newLocation.type" uib-btn-radio="type">
                    <vg-location-type-icon type="type"></vg-location-type-icon>
                    {{ 'location.type.' + type | translate }}
                </button>
            </div>
        </div>
        <div ng-switch-when="2" class="form-group">
            <label class="top-box__first-line" for="addLocationName">
                {{ 'location.form.new.name.' + location.newLocation.type | translate }}
            </label>
            <input type="text" required class="form-control" id="addLocationName"
             ng-model="location.newLocation.name" />
        </div>
        <div ng-switch-when="3" ng-controller="SearchCtrl">
            <a href="" class="link-unstyled pull-left top-box__minimise"
                 ng-click="addLocationComponent.minimised = !addLocationComponent.minimised">
                <span class="glyphicon glyphicon-chevron-up"
                 ng-hide="addLocationComponent.minimised"></span>
                <span ng-show="addLocationComponent.minimised">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                    {{ 'location.form.new.showForm' | translate }}
                </span>
            </a>
            <div class="form-group" ng-hide="addLocationComponent.minimised">
                <label class="top-box__first-line" for="addLocationSearch">
                    {{ 'location.form.new.selectCoordinates' | translate }}
                </label>
                <input type="text" class="form-control" id="addLocationSearch"
                 ng-model="geocoding.search" ng-model-options="{ debounce: 500 }"
                 placeholder="{{ 'location.form.new.search' | translate }}"/>
            </div>
            <div ng-show="geocoding.results.length > 0">
                <ul class="list-unstyled list-spaced" ng-hide="addLocationComponent.minimised">
                    <li ng-repeat="result in geocoding.results">
                        <a class="clickable"
                         ng-click="setGeocodeResult(result) | track:'map.addLocation':'searchResultClick'">
                            {{ result.getDisplayName() }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <p class="clearfix">
        <span class="pull-right">
            <button type="button" class="btn btn-default btn-xs btn-add-location-previous"
             ng-show="addLocationStep > 1"
             ng-click="previousStep()">
                <span class="glyphicon glyphicon-arrow-left"></span>
                <span>{{ 'location.form.new.previous' | translate }}</span>
            </button>
            <button type="submit" class="btn btn-primary btn-xs btn-add-location-next"
             ng-disabled="!stepIsValid()"
             ng-click="nextStep()">
                <span ng-hide="isLastStep()">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                    {{ 'location.form.new.next' | translate }}
                </span>
                <span ng-show="isLastStep()">
                    <span class="glyphicon glyphicon-ok"></span>
                    {{ 'location.form.new.submit' | translate }}
                </span>
            </button>
        </span>
    </p>
</form>
