<form novalidate name="locationForm" class="location-form">
    <div class="top-box__close clickable"
     ng-hide="createLocationFormVm.createLocation.isMinimised"
     ng-click="createLocationFormVm.onAbort()">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
    <div ng-switch="createLocationFormVm.createLocation.step">
        <div ng-switch-when="1">
            <label class="top-box__first-line">{{ 'location.form.new.type' | translate }}</label>
            <div class="btn-group form-group">
                <button class="btn btn-default" ng-repeat="type in createLocationFormVm.LOCATION_TYPES"
                 ng-model="createLocationFormVm.createLocation.newLocation.type" uib-btn-radio="type">
                    <vg-location-type-icon type="type"></vg-location-type-icon>
                    {{ 'location.type.' + type | translate }}
                </button>
            </div>
        </div>
        <div ng-switch-when="2" class="form-group">
            <label class="top-box__first-line" for="createLocationName">
                {{ 'location.form.new.name.' + createLocationFormVm.createLocation.newLocation.type | translate }}
            </label>
            <input type="text" required class="form-control" id="createLocationName"
             ng-model="createLocationFormVm.createLocation.newLocation.name" />
        </div>
        <div ng-switch-when="3">
            <a href="" class="link-unstyled pull-left top-box__minimise"
                 ng-click="createLocationFormVm.createLocation.isMinimised = !createLocationFormVm.createLocation.isMinimised">
                <span class="glyphicon glyphicon-chevron-up"
                 ng-hide="createLocationFormVm.createLocation.isMinimised"></span>
                <span ng-show="createLocationFormVm.createLocation.isMinimised">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                    {{ 'location.form.new.showForm' | translate }}
                </span>
            </a>

            <vg-geocode-search-input
             ng-hide="createLocationFormVm.createLocation.isMinimised"
             vg-results-model="createLocationFormVm.geocodeSearchResults"
             vg-label="{{ 'location.form.new.selectCoordinates' | translate }}"
             vg-placeholder="{{ 'location.form.new.search' | translate }}"
             vg-input-id="createLocationSearch">
            </vg-geocode-search-input>

            <vg-geocode-search-results
             ng-hide="createLocationFormVm.createLocation.isMinimised"
             vg-results="createLocationFormVm.geocodeSearchResults"
             vg-on-select="createLocationFormVm.onGeocodeResultSelect(result)">
            </vg-geocode-search-results>
        </div>
    </div>
    <p class="clearfix">
        <span class="pull-right">
            <button type="button" class="btn btn-default btn-xs btn-create-location-previous"
             ng-show="createLocationFormVm.createLocation.step > 1"
             ng-click="createLocationFormVm.createLocation.previousStep()">
                <span class="glyphicon glyphicon-arrow-left"></span>
                <span>{{ 'location.form.new.previous' | translate }}</span>
            </button>
            <button type="submit" class="btn btn-primary btn-xs btn-create-location-next"
             ng-hide="createLocationFormVm.createLocation.isLastStep()"
             ng-disabled="!createLocationFormVm.createLocation.stepIsValid()"
             ng-click="createLocationFormVm.createLocation.nextStep()">
                <span class="glyphicon glyphicon-arrow-right"></span>
                {{ 'location.form.new.next' | translate }}
            </button>
            <button type="submit" class="btn btn-primary btn-xs btn-create-location-submit"
             ng-show="createLocationFormVm.createLocation.isLastStep()"
             ng-disabled="!createLocationFormVm.createLocation.stepIsValid()"
             ng-click="createLocationFormVm.onSubmit()">
                <span class="glyphicon glyphicon-ok"></span>
                {{ 'location.form.new.submit' | translate }}
            </button>
        </span>
    </p>
</form>
