<form novalidate name="editLocationForm" class="edit-location-form" ng-controller="EditLocationCtrl">
    <div class="form-group">
        <label for="editName" ng-bind="'location.form.edit.name' | translate"></label>
        <input type="text" required id="editName" class="form-control" ng-model="location.name"/>
    </div>
    <div class="form-group">
        <label for="editDescription" ng-bind="'location.form.edit.description' | translate"></label>
        <textarea id="editDescription" class="form-control" rows="5"
         placeholder="{{ 'location.form.edit.placeholder.description' | translate }}"
         ng-model="location.description"></textarea>
    </div>
    <div class="form-group">
        <label for="editLink" ng-bind="'location.form.edit.link' | translate"></label>
        <input type="text" id="editLink" class="form-control"
         placeholder="{{ 'location.form.edit.placeholder.link' | translate }}"
         ng-model="location.link"/>
    </div>
    <div class="form-group">
        <label>{{ 'location.form.edit.type' | translate }}</label>
        <div>
            <div class="btn-group">
                <button class="btn btn-default" ng-repeat="type in LOCATION_TYPES"
                 ng-model="location.type" uib-btn-radio="type">
                    <vg-location-type-icon type="type"></vg-location-type-icon>
                    {{ 'location.type.' + type | translate }}
                </button>
            </div>
        </div>
    </div>
    <div class="checkbox" ng-hide="changeCoordinates">
        <label>
            <input type="checkbox" ng-model="changeCoordinates"/><span ng-bind="'location.form.edit.changeCoordinates' | translate"></span>
        </label>
    </div>
    <p ng-if="changeCoordinates">
        {{'location.form.edit.selectCoordinates' | translate}}
        <leaflet class="location-detail-map map--placing-location"
         defaults="mapDefaults" lf-center="center">
        </leaflet>
        <vg-map-markers
         ng-if="map"
         vg-location-items="[location]"
         vg-map="map">
        </vg-map-markers>
    </p>
    <p>
        <button class="btn btn-default"
         ng-click="goToView(location.getUrl())" ng-bind="'action.cancel' | translate"></button>
        <button type="submit" class="btn btn-default pull-right"
         ng-disabled="editLocationForm.$invalid || editLocationForm.$pristine"
         ng-click="saveLocation()">{{ 'action.location.save' | translate }}</button>
    </p>
</form>
