<div ng-controller="LocationDetailsCtrl">
    <h1>{{ location.title }}</h1>
    <p>
        <vg-location-type-badge location="location"></vg-location-type-badge>
        <vg-team-badge team="location.team"></vg-team-badge>
    </p>

    <h2 ng-if="visit.missions">{{ 'map.mission.title' | trans }}</h2>
    <div ng-repeat="mission in visit.missions" class="pageSection well well-sm">
        <div ng-class="{clickable: !mission.completed}" ng-click="mission.started = !mission.started">
            <p class="h4 missionTitle">
                <span class="glyphicon glyphicon-ok" ng-show="mission.completed"></span>
                {{ 'map.mission.' + mission.type + '.title' | trans }}
            </p>
            <div class="wellExpansion text-center" ng-hide="mission.started">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
        </div>
        <div class="actionBlock" ng-hide="mission.completed">
            <div class="missionBlock" ng-show="mission.started">
                <hr class="hr-sm" />
                <form novalidate name="outcomeForm" class="{{ mission.type }}Form">
                    <div ng-switch="mission.type">
                        <!-- TODO: translate everything below -->
                        <p class="lead">{{ 'map.mission.' + mission.type + '.description' | trans }}</p>
                        <p>{{ 'map.mission.' + mission.type + '.details' | trans }}</p>
                        <div ng-switch-when="optionsAvailable">
                            <div class="btn-group form-group">
                                <label class="btn btn-default" ng-model="mission.outcome.hasVegan" btn-radio="true">Yes</label>
                                <label class="btn btn-default" ng-model="mission.outcome.hasVegan" btn-radio="false">No</label>
                            </div>
                        </div>
                        <div ng-switch-when="whatOptions">
                            <vg-list-input list="mission.outcome" auto-expand="!mission.completed"
                             num-required="1" placeholder="Vegan Option"></vg-list-input>
                        </div>
                        <div ng-switch-when="buyOptions">
                            <div class="checkbox" ng-repeat="veganOption in mission.availableOptions">
                                <label>
                                    <input type="checkbox" ng-model="mission.outcome[veganOption.id]" />
                                    {{ veganOption.text }}
                                </label>
                            </div>
                        </div>
                        <div ng-switch-when="staffFeedback">
                            <textarea class="form-control" required
                             ng-model="mission.outcome.text"
                             placeholder="Feedback"></textarea>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="mission.outcome.didNotDoIt" />
                                    I wanted to give this feedback, but then didn't.
                                </label>
                            </div>
                        </div>
                        <div ng-switch-when="rateLocation">
                            <div class="text-center h1">
                                <rating ng-model="mission.outcome.rating"
                                 max="mission.maxRating"></rating>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-default"
                     ng-click="mission.started = false">
                        <span class="glyphicon glyphicon-remove"></span>
                        {{ 'map.mission.form.cancel' | trans }}
                    </button>
                    <button type="submit" class="btn btnTeam pull-right"
                     ng-disabled="!mission.hasValidOutcome()" ng-click="mission.finish()">
                        <span class="glyphicon glyphicon-ok"></span>
                        {{ 'map.mission.form.submit' | trans }}
                    </button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>

        <div class="resultBlock" ng-show="mission.completed">
            <div ng-switch="mission.type">
                <!--TODO: translate-->
                <div ng-switch-when="optionsAvailable">
                    <div ng-show="mission.outcome.hasVegan">You say there are vegan options available.</div>
                    <div ng-hide="mission.outcome.hasVegan">You say there are no vegan options available.</div>
                </div>
                <div ng-switch-when="whatOptions">
                    You know of the following options:
                    <ul>
                        <li ng-repeat="option in mission.outcome">{{ option.text }}</li>
                    </ul>
                </div>
                <div ng-switch-when="buyOptions">
                    You bought the following options:
                    <ul>
                        <li ng-repeat="option in mission.getBoughtOptions()">{{ option.text }}</li>
                    </ul>
                </div>
                <div ng-switch-when="staffFeedback">
                    <p>
                        <span ng-show="mission.outcome.didNotDoIt">You wanted to give the following feedback:</span>
                        <span ng-hide="mission.outcome.didNotDoIt">You gave the following feedback:</span>
                        <br />
                        <em>{{ mission.outcome.text }}</em>
                    </p>
                </div>
                <div ng-switch-when="rateLocation">
                    You rating:
                    <rating readonly="true" ng-model="mission.outcome.rating"
                     max="mission.maxRating"></rating>
                </div>
            </div>
        </div>
    </div>

    <leaflet class="locationDetailMap"
     markers="[location]" defaults="mapSettings" center="center">
    </leaflet>
</div>
