<div ng-controller="LocationDetailsCtrl" ng-show="location">
    <h1>
        {{ location.name }}
        <vg-location-quality-icon location="location"></vg-location-quality-icon>
        <vg-location-effort-icon location="location"></vg-location-effort-icon>
    </h1>
    <p>
        <vg-location-type-badge location="location"></vg-location-type-badge>
        <vg-team-points-display location="location"></vg-team-points-display>
    </p>
    <p ng-if="location.description">
        <span class="location-description">{{ location.description }}</span>
    </p>
    <p ng-if="location.link">
        <a target="_blank" ng-href="{{ location.link }}">{{ location.link }}</a>
    </p>
    <button ng-if="isLoggedIn()"
     type="button" class="edit-location btn btn-block btn-default"
     ng-click="goToView(location.getUrl(true))">
        <span class="glyphicon glyphicon-edit"></span>
        <span ng-bind="'action.location.edit' | translate"></span>
    </button>

    <div>
        <h2>{{ 'location.products.title' | translate }}</h2>
        <div ng-if="location.products.length > 0">
            <p>{{ 'location.products.description' | translate }}</p>
            <ul class="list-group">
                <li ng-repeat="product in location.products" class="list-group-item">
                    {{ product.name }}
                    <span class="pull-right">
                        <vg-average-rating
                         average="product.rating.average"
                         num-ratings="product.rating.numRatings">
                        </vg-average-rating>
                    </span>
                    <span class="clearfix"></span>
                </li>
            </ul>
        </div>
        <p ng-if="location.products.length === 0">
            <span ng-if="isLoggedIn()">{{ 'location.products.noProducts.user' | translate }}</span>
            <span ng-if="!isLoggedIn()" ng-bind-html="'location.products.noProducts.anonymous' | translate"></span>
        </p>
    </div>

    <div ng-if="visit.missions" class="location-missions">
        <h2>{{ 'map.mission.title' | translate }}</h2>
        <p ng-if="location.updatedAt && recentlyActiveVeganauts.length > 0">
            <strong>{{ 'location.label.updatedAt' | translate }}</strong>:
            {{ location.updatedAt | date:'dd.MM.yyyy' }}
        </p>
        <p>
            <strong>{{ 'location.label.recentMissionsBy' | translate }}</strong>:
            <span ng-repeat="person in recentlyActiveVeganauts">
                <a href="/veganaut/{{person.id}}"
                 class="color-{{ person.team }} player-recently-active"
                 >{{ person.nickname }}</a><span ng-hide="$last">,</span>
            </span>
            <span ng-if="recentlyActiveVeganauts.length === 0">
                {{ 'location.noRecentMissions' | translate }}
            </span>
        </p>
        <small class="pull-right">{{ 'score.points' | translate }}</small>
        <div class="clearfix"></div>
        <div ng-repeat="mission in visit.missions|orderBy:'order'"
         ng-if="mission.completed || mission.isAvailable()"
         class="page-section mission mission-{{ mission.type }}">
            <div ng-class="{clickable: !mission.completed}"
             ng-click="toggleMissionStarted(mission)">
                <p class="h4 mission-title">
                    <vg-mission-points points="mission.points"></vg-mission-points>
                    <span class="glyphicon glyphicon-ok" ng-show="mission.completed"></span>
                    {{ 'map.mission.' + mission.type + '.title' | translate }}
                </p>
                <div class="well-expansion text-center" ng-hide="mission.started">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </div>
            </div>
            <div ng-hide="mission.completed">
                <div ng-show="mission.started">
                    <form novalidate name="outcomeForm" class="{{ mission.type }}-form">
                        <div ng-switch="mission.type">
                            <p>{{ 'map.mission.' + mission.type + '.explanation' | translate }}</p>
                            <p class="lead">{{ 'map.mission.' + mission.type + '.description' | translate }}</p>
                            <div ng-switch-when="hasOptions">
                                <div class="btn-group form-group pull-right">
                                    <label class="btn btn-default" ng-repeat="answer in mission.firstAnswers"
                                     ng-model="mission.outcome.first" btn-radio="answer">
                                        {{ 'map.mission.' + mission.type + '.form.' + answer | translate }}
                                    </label>
                                </div>
                                <div class="clearfix"></div>
                                <div ng-show="mission.outcome.first === 'theyDoNotKnow'">
                                    <p class="lead">
                                        {{ 'map.mission.' + mission.type + '.description2' | translate }}
                                    </p>
                                    <div class="btn-group form-group pull-right">
                                        <label class="btn btn-default" ng-repeat="answer in mission.secondAnswers"
                                         ng-model="mission.outcome.second" btn-radio="answer">
                                            {{ 'map.mission.' + mission.type + '.form.' + answer | translate }}
                                        </label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div ng-switch-when="wantVegan">
                                <div class="checkbox" ng-repeat="expression in mission.builtinExpressions">
                                    <label>
                                        <input type="checkbox" ng-model="mission.outcome.builtin[expression]"/>
                                        {{ 'map.mission.' + mission.type + '.form.' + expression | translate }}
                                    </label>
                                </div>
                                {{ 'map.mission.' + mission.type + '.form.custom' | translate }}
                                <vg-list-input list="mission.outcome.custom" num-required="0"
                                 placeholder="{{ 'map.mission.' + mission.type + '.form.placeholder' | translate }}">
                                </vg-list-input>
                            </div>
                            <div ng-switch-when="whatOptions">
                                <div ng-if="mission.visit.location.products.length > 0">
                                    {{ 'map.mission.' + mission.type + '.description2' | translate }}
                                    <ul>
                                        <li ng-repeat="product in mission.visit.location.products">{{ product.name }}</li>
                                    </ul>
                                </div>
                                <vg-list-input list="mission.outcome" num-required="1"
                                 placeholder="{{ 'map.mission.' + mission.type + '.form.placeholder' | translate }}">
                                </vg-list-input>
                            </div>
                            <div ng-switch-when="buyOptions">
                                <div class="checkbox" ng-repeat="product in mission.visit.location.products">
                                    <label>
                                        <input type="checkbox" ng-model="mission.outcome[product.id]"/>
                                        {{ product.name }}
                                    </label>
                                </div>
                            </div>
                            <div ng-switch-when="giveFeedback">
                                <div class="form-group">
                                    <textarea class="form-control" required ng-model="mission.outcome"
                                     placeholder="{{ 'map.mission.' + mission.type + '.form.placeholder' | translate }}"></textarea>
                                </div>
                            </div>
                            <div ng-switch-when="rateOptions">
                                <div class="h3" ng-repeat="product in mission.visit.location.products">
                                    {{ product.name }}
                                    <span class="pull-right">
                                        <rating ng-model="mission.outcome[product.id]"
                                         max="mission.maxRating"></rating>
                                    </span>
                                    <span class="clearfix"></span>
                                </div>
                            </div>
                            <div ng-switch-when="offerQuality">
                                <div class="text-center h3">
                                    <div class="btn-group form-group">
                                        <label class="btn btn-default" ng-repeat="answer in [1,2,3,4,5]"
                                         ng-model="mission.outcome" btn-radio="answer">
                                            <span class="icon icon-{{ answer }} h3"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="effortValue">
                                <div class="text-center h3">
                                    <div class="btn-group form-group">
                                        <label class="btn btn-default"
                                         ng-repeat="answer in possibleEffortValueAnswers"
                                         ng-model="mission.outcome" btn-radio="answer.value">
                                            <span class="wi {{ answer.class }} h4"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-default"
                         ng-click="toggleMissionStarted(mission)">
                            <span class="glyphicon glyphicon-remove"></span>
                            {{ 'map.mission.missionForm.cancel' | translate }}
                        </button>
                        <button type="submit" class="btn btn-team pull-right"
                         ng-disabled="!mission.hasValidOutcome()"
                         ng-click="finishMission(mission)">
                            <span class="glyphicon glyphicon-ok"></span>
                            {{ 'map.mission.missionForm.submit' | translate }}
                        </button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>

            <div ng-if="mission.completed">
                <div ng-switch="mission.type">
                    <div ng-switch-when="hasOptions">
                        {{ 'map.mission.' + mission.type + '.outcome.' + mission.getOutcome() | translate }}
                    </div>
                    <div ng-switch-when="wantVegan">
                        {{ 'map.mission.' + mission.type + '.outcome.description' | translate }}
                        <ul>
                            <li ng-repeat="outcome in mission.getOutcome()">
                                <span ng-if="outcome.expressionType === 'builtin'">
                                    {{ 'map.mission.' + mission.type + '.form.' + outcome.expression | translate }}
                                </span>
                                <span ng-if="outcome.expressionType === 'custom'">
                                    {{ outcome.expression }}
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div ng-switch-when="whatOptions">
                        {{ 'map.mission.' + mission.type + '.outcome.description' | translate }}
                        <ul>
                            <li ng-repeat="option in mission.outcome">{{ option }}</li>
                        </ul>
                    </div>
                    <div ng-switch-when="buyOptions">
                        {{ 'map.mission.' + mission.type + '.outcome.description' | translate }}
                        <ul>
                            <li ng-repeat="outcome in mission.getOutcome()">
                                {{ location.getProductById(outcome.product).name }}
                            </li>
                        </ul>
                    </div>
                    <div ng-switch-when="giveFeedback">
                        <p>
                            {{ 'map.mission.' + mission.type + '.outcome.description' | translate }}<br/>
                            <em>{{ mission.outcome }}</em>
                        </p>
                    </div>
                    <div ng-switch-when="rateOptions">
                        {{ 'map.mission.' + mission.type + '.outcome.description' | translate }}
                        <ul>
                            <li ng-repeat="outcome in mission.getOutcome()">
                                {{ location.getProductById(outcome.product).name }}
                                <span class="pull-right">
                                    <rating readonly="true" ng-model="mission.outcome[outcome.product]"
                                     max="mission.maxRating"></rating>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div ng-switch-when="offerQuality">
                        {{ 'map.mission.' + mission.type + '.outcome.description' | translate }}
                        <span class="icon icon-{{ mission.outcome }} h3"></span>
                    </div>
                    <div ng-switch-when="effortValue">
                        {{ 'map.mission.' + mission.type + '.outcome.' + mission.getOutcome() | translate }}
                    </div>
                </div>
            </div>
            <hr/>
        </div>

        <p class="h4">
            {{ 'map.mission.totalPoints' | translate }}
            <vg-mission-points points="visit.getTotalPoints()"></vg-mission-points>
        </p>
        <div class="clearfix"></div>
        <hr/>
    </div>
    <p>
        <button type="button" class="to-map btn btn-block btn-default"
         ng-click="goToView('map')">
            <span class="glyphicon glyphicon-hand-left"></span>
            {{ 'action.location.backToMap' | translate }}
        </button>
    </p>

    <leaflet class="location-detail-map" ng-if="showMap"
     defaults="mapDefaults" center="center">
    </leaflet>
</div>
