<div>
    <!--
        The top-box bar is currently shown only for the embedded view.
        It will eventually get a redesign.
        TODO: Once the redesign is done, adapt the top-box or use the <vg-category-selector>
    -->
    <div class="top-box top-box--full-width container main-container"
     ng-if="mainMapVm.legacyGlobals.isEmbedded"
     ng-hide="mainMapVm.locationSet.active">
        <div class="top-box--full-width__border-offset">
            <div class="btn-group--top-box">
                <div>
                    <a type="button" class="btn-logo btn btn-default btn-default--transparent"
                     ng-click="mainMapVm.legacyGlobals.goToView('/')">
                        <ng-include src="'img/logo/veganaut.svg'" class="logo logo--top-box"></ng-include>
                    </a>
                </div>
                <button type="button" class="btn-show-product-list btn btn-default btn-default--transparent"
                 title="{{ 'action.showProductList.description' | translate }}"
                 ng-click="mainMapVm.legacyGlobals.goToView('products/')">
                    <span class="glyphicon glyphicon-leaf"></span><br/>
                    <span class="small">
                        {{ 'action.showProductList.name' | translate }}
                    </span>
                </button>
                <button type="button" class="btn-location-list btn btn-default btn-default--transparent"
                 ng-click="mainMapVm.legacyGlobals.goToView('locations/')"
                 title="{{ 'action.showList.description' | translate }}">
                    <span class="glyphicon glyphicon-th-list"></span><br/>
                    <span class="small">{{ 'action.showList.name' | translate }}</span>
                </button>
                <vg-filter-button
                 ng-if="!mainMapVm.legacyGlobals.isEmbedded">
                </vg-filter-button>
                <button type="button" class="btn-register btn btn-primary"
                 ng-if="!mainMapVm.legacyGlobals.isLoggedIn()"
                 ng-click="mainMapVm.legacyGlobals.goToView('register') | track:'linkToRegister':'linkToRegister.mainMap'"
                 title="{{ 'action.register.description' | translate }}">
                    <span class="glyphicon glyphicon-heart"></span><br/>
                    <span class="small">{{ 'action.register.name' | translate }}</span>
                </button>
                <button type="button" class="create-location btn btn-primary"
                 ng-if="mainMapVm.legacyGlobals.isLoggedIn()"
                 ng-click="mainMapVm.startCreateLocation()"
                 title="{{ 'action.createLocation.description' | translate }}">
                    <span class="glyphicon glyphicon-plus-sign"></span><br/>
                    <span class="small">{{ 'action.createLocation.name' | translate }}</span>
                </button>
            </div>
        </div>
    </div>

    <div class="top-box container main-container" ng-show="mainMapVm.locationSet.active">
        <div class="location-details" ng-show="mainMapVm.locationSet.active && !mainMapVm.locationSet.isCreatingLocation()">
            <div class="pull-right clickable" ng-click="mainMapVm.locationSet.activate()">
                <span class="glyphicon glyphicon-remove"></span>
            </div>
            <p>
                <strong>
                    <vg-location-title
                     vg-location="mainMapVm.locationSet.active"
                     vg-address-type="{{ mainMapVm.addressType }}"
                     vg-icons-right="false">
                    </vg-location-title>
                </strong>
            </p>

            <p ng-if="mainMapVm.locationSet.active.getShortDescription()">
                {{ mainMapVm.locationSet.active.getShortDescription() }}
            </p>

            <vg-location-product-summary
             vg-location="mainMapVm.locationSet.active"
             vg-limit-to="1">
            </vg-location-product-summary>

            <div class="row mark-favourite-mock" ng-show="mainMapVm.locationSet.active.id"
             ng-if="mainMapVm.legacyGlobals.isEmbedded && !mainMapVm.legacyGlobals.isLoggedIn()">
                <p class="col-xs-6">
                    <button type="button" class="btn btn-block btn-primary"
                     ng-click="mainMapVm.legacyGlobals.goToView('register') | track:'linkToRegister':'linkToRegister.locationPreviewRate'">
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span>{{ 'action.rate.name' | translate }}</span>
                    </button>
                </p>
                <p class="col-xs-6">
                    <vg-location-visit-button
                     vg-location="mainMapVm.locationSet.active"
                     vg-is-primary="false">
                    </vg-location-visit-button>
                </p>
            </div>

            <p ng-show="mainMapVm.locationSet.active.id"
             ng-if="!mainMapVm.legacyGlobals.isEmbedded || mainMapVm.legacyGlobals.isLoggedIn()">
                <vg-location-visit-button vg-location="mainMapVm.locationSet.active"></vg-location-visit-button>
            </p>
        </div>
    </div>

    <vg-overlay ng-if="mainMapVm.locationSet.isCreatingLocation()">
        <vg-create-location-form
         vg-map="mainMapVm.map"
         vg-create-location="mainMapVm.locationSet.createLocation"
         vg-on-abort="mainMapVm.locationSet.abortCreateLocation()"
         vg-on-submit="mainMapVm.locationSet.submitCreateLocation()">
        </vg-create-location-form>
    </vg-overlay>

    <div id="mainMap" class="main-map"
     ng-class="{'map--placing-location': mainMapVm.locationSet.createLocation.isPlacingLocation()}">
    </div>

    <vg-map-markers
     ng-if="mainMapVm.map"
     vg-location-items="mainMapVm.locationSet.allLocationItems"
     vg-on-click="mainMapVm.onLocationClick(locationItem)"
     vg-map="mainMapVm.map">
    </vg-map-markers>

    <vg-geolocate-button
     ng-if="mainMapVm.map"
     vg-map="mainMapVm.map">
    </vg-geolocate-button>
</div>
