<div>
    <div class="top-box container main-container"
     ng-if="mainMapVm.locationSet.active && !mainMapVm.locationSet.isCreatingLocation()">
        <vg-location-pane
         vg-location="mainMapVm.locationSet.active"
         vg-view-category="mainMapVm.mapCategory"
         vg-on-close="mainMapVm.locationSet.activate()">
        </vg-location-pane>
    </div>

    <div class="top-box container main-container"
     ng-if="mainMapVm.locationSet.isCreatingLocation()">
        <vg-create-location-pane
         vg-map="mainMapVm.map"
         vg-create-location="mainMapVm.locationSet.createLocation"
         vg-on-abort="mainMapVm.locationSet.abortCreateLocation()"
         vg-on-submit="mainMapVm.locationSet.submitCreateLocation()">
        </vg-create-location-pane>
    </div>

    <!-- Embedded map elements -->
    <div ng-if="mainMapVm.legacyGlobals.isEmbedded">
        <button class="vg-main-map__hovering-space-chick remove-btn"
         ng-click="mainMapVm.toggleSpaceChickOverlay()"
         ng-if="!mainMapVm.showSpaceChickOverlay"
         ng-include="'img/chicken/chicken-with-cord.svg'">
        </button>

        <div ng-if="mainMapVm.showSpaceChickOverlay">
            <div class="vg-main-map__space-chick-speech_bubble"
             ng-include="'img/animations/svg/speech-bubble-big.svg'">
            </div>
            <div class="vg-main-map__space-chick-text">
                {{ 'embedded.spaceChickMessage' | translate }}
            </div>
            <button class="vg-main-map__space-chick-veganaut-button remove-btn"
             ng-click="mainMapVm.legacyGlobals.goToView('/panorama')">
                <vg-icon vg-name="'chevron-big-right'"></vg-icon>
            </button>
            <div class="vg-main-map__space-chick-talking"
             ng-include="'img/chicken/chicken-with-cord.svg'">
            </div>
        </div>
        <button class="vg-main-map__space-chick-backdrop remove-btn"
         ng-click="mainMapVm.toggleSpaceChickOverlay()"
         ng-if="mainMapVm.showSpaceChickOverlay">
        </button>
    </div>

    <vg-category-selector
     vg-hover="mainMapVm.legacyGlobals.isEmbedded"
     ng-if="!mainMapVm.locationSet.isCreatingLocation()">
    </vg-category-selector>

    <div id="mainMap" class="main-map"
     ng-class="{'map--placing-location': mainMapVm.locationSet.createLocation.isPlacingLocation(),
     'map--granularity-location': mainMapVm.locationSet.granularity === 'location',
     'map--granularity-product': mainMapVm.locationSet.granularity === 'product'}">
    </div>

    <vg-map-markers
     ng-if="mainMapVm.map"
     vg-location-items="mainMapVm.locationSet.allLocationItems"
     vg-on-click="mainMapVm.onLocationClick(locationItem)"
     vg-map="mainMapVm.map">
    </vg-map-markers>

    <vg-geolocate-button
     ng-if="mainMapVm.map"
     vg-map="mainMapVm.map">
    </vg-geolocate-button>

    <div class="vg-map-footer">
        <div class="vg-map-footer-content" ng-if="mainMapVm.legacyGlobals.isEmbedded">
            <button class="vg-map-footer__logo remove-btn"
             ng-click="mainMapVm.legacyGlobals.goToView('/panorama')"
             ng-if="mainMapVm.legacyGlobals.isEmbedded">
                <img src="img/logo/veganaut.svg">
            </button>
        </div>
        <div class="vg-map-footer-content" ng-if="!mainMapVm.legacyGlobals.isEmbedded">
            <div class="vg-map-footer-text">
                <div class="vg-map-footer-text__locations-count" ng-show="mainMapVm.mapCategory">
                    {{ 'map.footer.' + mainMapVm.mapCategory |
                        translate: {count: mainMapVm.locationSet.totalLocations} }}
                </div>
                <div class="vg-map-footer-text__radius">
                    {{ 'map.footer.mapSection' | translate }}
                </div>
            </div>
            <button type="button"
             class="btn btn-primary btn-small"
             ng-if="!mainMapVm.isCreateLocationButtonVisible()"
             ng-click="mainMapVm.startCreateLocation()"
             title="{{ 'action.createLocation.description' | translate }}">
                <vg-icon vg-name="'add-location'" class="btn__icon"></vg-icon>
                {{ 'action.createLocation.name' | translate }}
            </button>
        </div>
    </div>
</div>
