<div>
    <div class="top-box top-box--full-width container main-container"
     ng-hide="mainMapVm.locationSet.active || mainMapVm.productShown || mainMapVm.filtersShown">
        <div class="top-box--full-width__border-offset">
            <div class="btn-group--top-box">
                <div ng-if="mainMapVm.legacyGlobals.isEmbedded">
                    <a type="button" class="btn-logo btn btn-default btn-default--transparent"
                     ng-click="mainMapVm.legacyGlobals.goToView('/')">
                        <ng-include src="'img/veganaut.svg'" class="logo logo--top-box"></ng-include>
                    </a>
                </div>
                <button type="button" class="btn-show-product-list btn btn-default btn-default--transparent"
                 title="{{ 'action.showProductList.' + mainMapVm.getProductListType() + '.description' | translate }}"
                 ng-click="mainMapVm.showProductList(true)">
                    <span ng-show="mainMapVm.getProductListType() === 'gastronomy'"
                     class="glyphicon glyphicon-cutlery"></span>
                    <span ng-show="mainMapVm.getProductListType() === 'retail'"
                     class="glyphicon glyphicon-shopping-cart"></span>
                    <br/>
                    <span class="small">
                        {{ 'action.showProductList.' + mainMapVm.getProductListType() + '.name' | translate }}
                    </span>
                </button>
                <button type="button" class="btn-location-list btn btn-default btn-default--transparent"
                 ng-click="mainMapVm.goToLocationList()"
                 title="{{ 'action.showList.description' | translate }}">
                    <span class="glyphicon glyphicon-th-list"></span><br/>
                    <span class="small">{{ 'action.showList.name' | translate }}</span>
                </button>
                <button type="button" class="btn-show-location-filters btn btn-default btn-default--transparent"
                 ng-if="!mainMapVm.legacyGlobals.isEmbedded"
                 ng-click="mainMapVm.showFilters(true)"
                 ng-class="{active: mainMapVm.locationFilterService.getNumActiveFilters() > 0}"
                 title="{{ 'action.filterMap.description' | translate }}">
                    <span class="glyphicon glyphicon-filter"></span><br/>
                    <span class="small">{{ 'action.filterMap.name' | translate }}</span>
                </button>
                <button type="button" class="btn-register btn btn-primary"
                 ng-if="!mainMapVm.legacyGlobals.isLoggedIn()"
                 ng-click="mainMapVm.legacyGlobals.goToView('register') | track:'linkToRegister':'linkToRegister.mainMap'"
                 title="{{ 'action.register.description' | translate }}">
                    <span class="glyphicon glyphicon-heart"></span><br/>
                    <span class="small">{{ 'action.register.name' | translate }}</span>
                </button>
                <button type="button" class="create-location btn btn-block btn-primary"
                 ng-if="mainMapVm.legacyGlobals.isLoggedIn()"
                 ng-click="mainMapVm.startCreateLocation()"
                 title="{{ 'action.createLocation.description' | translate }}">
                    <span class="glyphicon glyphicon-plus-sign"></span><br/>
                    <span class="small">{{ 'action.createLocation.name' | translate }}</span>
                </button>
            </div>
        </div>
    </div>

    <!-- TODO: get rid of complicated ng-show in view -->
    <div class="top-box container main-container"
     ng-show="mainMapVm.locationSet.active">
        <div class="location-details" ng-show="mainMapVm.locationSet.active && !mainMapVm.locationSet.isCreatingLocation()">
            <div class="pull-right clickable" ng-click="mainMapVm.locationSet.activate()">
                <span class="glyphicon glyphicon-remove"></span>
            </div>
            <p>
                <strong>
                    <vg-location-title
                     vg-location="mainMapVm.locationSet.active"
                     vg-icons-right="false">
                    </vg-location-title>
                </strong>
            </p>

            <p ng-if="mainMapVm.locationSet.active.getShortDescription()">
                {{ mainMapVm.locationSet.active.getShortDescription() }}
            </p>

            <vg-location-product-summary
             vg-location="mainMapVm.locationSet.active"
             vg-limit-to="1">
            </vg-location-product-summary>

            <p ng-show="mainMapVm.locationSet.active.id">
                <vg-location-visit-button vg-location="mainMapVm.locationSet.active"></vg-location-visit-button>
            </p>
        </div>
    </div>

    <vg-overlay ng-if="mainMapVm.filtersShown">
        <ng-include src="'/veganaut/map/locationFilters.tpl.html'"></ng-include>
    </vg-overlay>
    <vg-overlay ng-if="mainMapVm.locationSet.isCreatingLocation()">
        <vg-create-location-form
         vg-map="mainMapVm.map"
         vg-create-location="mainMapVm.locationSet.createLocation"
         vg-on-abort="mainMapVm.locationSet.abortCreateLocation()"
         vg-on-submit="mainMapVm.locationSet.submitCreateLocation()">
        </vg-create-location-form>
    </vg-overlay>
    <vg-overlay ng-if="mainMapVm.productShown">
        <div class="top-box__close clickable" ng-click="mainMapVm.showProductList(false)">
            <span class="glyphicon glyphicon-remove"></span>
        </div>
        <vg-product-list></vg-product-list>
    </vg-overlay>

    <div id="mainMap" class="main-map"
     ng-class="{'map--placing-location': mainMapVm.locationSet.createLocation.isPlacingLocation()}">
    </div>

    <vg-map-markers
     ng-if="mainMapVm.map"
     vg-location-items="mainMapVm.locationSet.allLocationItems"
     vg-on-click="mainMapVm.onLocationClick(locationItem)"
     vg-map="mainMapVm.map">
    </vg-map-markers>

    <vg-geolocate-button
     ng-if="mainMapVm.map"
     vg-map="mainMapVm.map">
    </vg-geolocate-button>
</div>
