<div ng-controller="MapCtrl">
    <div class="top-box top-box--full-width container main-container"
     ng-hide="location.active || productShown || filtersShown || searchShown">
        <div class="top-box--full-width__border-offset">
            <div class="btn-group--top-box">
                <div ng-if="isEmbedded">
                    <a type="button" class="btn-logo btn btn-default btn-default--transparent"
                     ng-click="goToView('/')">
                        <svg class="logo logo--top-box">
                            <use xlink:href="" ng-href="{{:: getLogoUrl() }}"/>
                        </svg>
                    </a>
                </div>
                <div ng-if="!isEmbedded">
                    <button type="button" class="btn-register btn btn-primary"
                     ng-if="!isLoggedIn()"
                     ng-click="goToView('register')"
                     title="{{ 'action.map.register.description' | translate }}">
                        <span class="glyphicon glyphicon-pencil"></span><br />
                        <span class="small">{{ 'action.map.register.name' | translate }}</span>
                    </button>
                    <button type="button" class="add-location btn btn-block btn-primary"
                     ng-if="isLoggedIn()"
                     ng-click="startAddNewLocation()"
                     title="{{ 'action.map.addLocation.description' | translate }}">
                        <span class="glyphicon glyphicon-plus-sign"></span><br />
                        <span class="small">{{ 'action.map.addLocation.name' | translate }}</span>
                    </button>
                </div>
                <button type="button" class="btn-show-location-filters btn btn-default btn-default--transparent"
                 title="{{ 'action.map.showProductList.description' | translate }}"
                 ng-click="showProductList(true)">
                    <span class="glyphicon glyphicon-cutlery"></span><br />
                    <span class="small">{{ 'action.map.showProductList.name' | translate }}</span>
                </button>
                <button type="button" class="search btn btn-default btn-default--transparent" ng-click="showSearch(true)"
                 title="{{ 'action.map.searchMap.description' | translate }}">
                    <span class="glyphicon glyphicon-search"></span><br />
                    <span class="small">{{ 'action.map.searchMap.name' | translate }}</span>
                </button>
                <button type="button" class="btn-show-location-filters btn btn-default btn-default--transparent"
                 ng-click="showFilters(true)" ng-class="{active: numActiveFilters() > 0}"
                 title="{{ 'action.map.filterMap.description' | translate }}">
                    <span class="glyphicon glyphicon-filter"></span><br />
                    <span class="small">{{ 'action.map.filterMap.name' | translate }}</span>
                </button>
            </div>
        </div>
    </div>

    <!-- TODO: get rid of complicated ng-show in view -->
    <div class="top-box container main-container"
     ng-show="location.active || productShown || filtersShown || searchShown">
        <div class="text-center location-details" ng-show="location.active && !location.isAddingLocation()">
            <div class="pull-right clickable" ng-click="location.activate()">
                <span class="glyphicon glyphicon-remove"></span>
            </div>

            <p>
                <vg-location-type-badge location="location.active"></vg-location-type-badge>
                <strong>{{ location.active.name }}</strong>
                <vg-location-quality-icon location="location.active"></vg-location-quality-icon>
                <vg-location-effort-icon location="location.active"></vg-location-effort-icon>
                <span ng-show="location.active.getProductsByAvailability('available').length > 0">
                    <br/>
                    {{ 'location.products.summary' | translate:{
                        product: location.active.getProductsByAvailability('available')[0].name,
                        number: location.active.getProductsByAvailability('available').length - 1}
                    }}
                </span>
            </p>

            <p ng-show="location.active.id">
                <button type="button" class="btn btn-block btn-primary"
                 ng-click="visitLocation(location.active)">
                    <span class="glyphicon glyphicon-hand-right"></span>
                    <span ng-bind="'action.map.locationAction'|translate"></span>
                </button>
            </p>
        </div>

        <ng-include src="'/veganaut/map/addLocation.tpl.html'" ng-if="location.isAddingLocation()"></ng-include>
        <ng-include src="'/veganaut/map/productList.tpl.html'" ng-if="productShown"></ng-include>
        <ng-include src="'/veganaut/map/search.tpl.html'" ng-if="searchShown"></ng-include>
        <ng-include src="'/veganaut/map/locationFilters.tpl.html'" ng-show="filtersShown"></ng-include>
    </div>

    <leaflet class="main-map full-viewport"
     ng-class="{'map--placing-location': isPlacingLocation()}"
     defaults="mapDefaults" center="mainMap.center" event-broadcast="events">
    </leaflet>
</div>
