<div ng-class="{'is-adding-location': isAddingLocation}" ng-controller="MapCtrl">
    <div class="top-box container main-container">
        <p ng-hide="location.active">
            <button type="button" class="add-location btn btn-block btn-team"
             ng-click="startAddNewLocation()">
                <span class="glyphicon glyphicon-plus-sign"></span>
                <span ng-bind="'action.map.addLocation'|trans"></span>
            </button>
        </p>

        <div class="text-center location-details" ng-show="location.active && !isAddingLocation">
            <div class="pull-right clickable" ng-click="location.activate()">
                <span class="glyphicon glyphicon-remove"></span>
            </div>

            <p class="color-{{ location.active.team }}"><strong>{{ location.active.title }}</strong></p>
            <p>
                <vg-location-type-badge location="location.active"></vg-location-type-badge>
                <vg-available-points-badge available="location.active.availablePoints"></vg-available-points-badge>
                <vg-score-diff-badge team="me.team" diff="location.active.getRelevantPointDifference(me.team)">
                </vg-score-diff-badge>
            </p>

            <p ng-show="location.active.id">
                <button type="button" class="btn btn-block btn-team"
                 ng-click="visitLocation(location.active)">
                    <span class="glyphicon glyphicon-log-in"></span>
                    <span ng-bind="'action.map.locationAction'|trans"></span>
                </button>
            </p>
        </div>

        <form novalidate name="locationForm" class="location-form spaced-form" ng-show="isAddingLocation">
            <input type="text" required class="form-control" ng-model="newLocation.title"
             placeholder="{{ 'location.form.name' | trans }}"/>
            <select required class="form-control" ng-model="newLocation.type">
                <option value="">{{ 'location.form.chooseType' | trans }}</option>
                <option ng-repeat="type in locationTypes" value="{{ type }}">{{ 'location.type.' + type | trans }}</option>
            </select>
            <input type="hidden" required ng-model="newLocation.lat"/>
            <input type="hidden" required ng-model="newLocation.lng"/>
            <div ng-bind="'location.form.selectOnMap' | trans" ng-hide="newLocation.lat && newLocation.lng"></div>
            <button type="button" class="cancel-add-location btn btn-default"
             ng-click="resetAddNewLocation()">
                <span class="glyphicon glyphicon-remove"></span>
                <span ng-bind="'action.cancel'|trans"></span>
            </button>
            <button type="submit" class="btn btn-default btn-team pull-right"
             ng-disabled="locationForm.$invalid" ng-click="addNewLocation()">
                <span class="glyphicon glyphicon-ok"></span>
                <span ng-bind="'location.form.submit'|trans"></span>
            </button>
        </form>
    </div>

    <leaflet class="main-map full-viewport" ng-if="locationsLoaded"
     markers="locations" defaults="mapSettings.defaults" center="mapSettings.center" event-broadcast="events">
    </leaflet>
</div>
