<div ng-class="{'is-adding-location': isAddingLocation}" ng-controller="MapCtrl">
    <div class="top-box container main-container">
        <div class="row" start-tour="introBeta" ng-if="!isLoggedIn()">
            <div class="col-xs-6">
                <p>
                    <button class="btn btn-default btn-block front-register-btn" ng-click="goToView('register')"
                     ng-hide="isLoggedIn()" ng-bind="'navigation.register' | trans"></button>
                </p>
            </div>
            <div class="col-xs-6">
                <p>
                    <button class="btn btn-default btn-block front-login-btn" ng-click="goToView('login')"
                     ng-hide="canViewGraph()" ng-bind="'navigation.login' | trans"></button>
                </p>
            </div>
        </div>

        <div class="text-center location-details" ng-show="location.active && !isAddingLocation">
            <div class="pull-right clickable" ng-click="location.activate()">
                <span class="glyphicon glyphicon-remove"></span>
            </div>

            <p class="color-{{ location.active.team }}"><strong>{{ location.active.title }}</strong></p>
            <p>
                <vg-location-type-badge location="location.active"></vg-location-type-badge>
                <vg-team-points-display location="location.active"></vg-team-points-display>
            </p>

            <p ng-show="location.active.id">
                <button type="button" class="btn btn-block btn-team"
                 ng-click="visitLocation(location.active)">
                    <span class="glyphicon glyphicon-log-in"></span>
                    <span ng-bind="'action.map.locationAction'|trans"></span>
                </button>
            </p>
        </div>

        <div ng-if="isLoggedIn()" start-tour="mapUser">
            <p ng-hide="location.active">
                <button type="button" class="add-location btn btn-block btn-team"
                 ng-click="startAddNewLocation()">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <span ng-bind="'action.map.addLocation'|trans"></span>
                </button>
            </p>

            <ng-include src="'/veganaut/map/addLocation.tpl.html'" ng-if="isAddingLocation"></ng-include>
        </div>
    </div>

    <leaflet class="main-map full-viewport" ng-if="locationsLoaded"
     markers="locations" defaults="mapSettings.defaults" center="mapSettings.center" event-broadcast="events">
    </leaflet>
</div>
