// Location detail styles
.map-card__map {
    margin-bottom: 10px;
}

// Make the map square, see http://www.mademyday.de/css-height-equals-width-with-pure-css.html
.map-card__map::before {
    content: "";
    display: block;
    padding-top: 50%;
}