<div ng-controller="ProductListCtrl">
    <div class="top-box__close clickable" ng-click="showProductList(false)">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
    <label class="top-box__first-line">
        {{ 'map.productList.title' | translate }}
    </label>

    <div ng-show="productsLoaded">
        <p ng-show="products.length === 0">
            {{ 'map.productList.noProducts' | translate }}
        </p>

        <vg-accordion ng-show="products.length > 0">
            <vg-accordion-item
             ng-repeat="product in products"
             vg-tracking-category="map.productList"
            >
                <vg-accordion-item-header>
                    {{ product.name }}
                    <span class="pull-right-spaced">
                        <vg-average-rating
                         average="product.rating.average"
                         num-ratings="product.rating.numRatings">
                        </vg-average-rating>
                    </span>
                </vg-accordion-item-header>
                <vg-accordion-item-body>
                    <div ng-show="product.rating.numRatings > 0"
                     translate="product.rating.details"
                     translate-values="{ rating: (product.rating.average | number:1),
                          numRatings: product.rating.numRatings }">
                    </div>
                    <div ng-hide="product.rating.numRatings > 0">
                        {{ 'product.rating.noRating' | translate }}
                    </div>

                    <hr class="hr--small"/>

                    {{ product.location.name }}
                    <span class="pull-right-spaced">
                        <vg-location-effort-icon location="product.location"></vg-location-effort-icon>
                        <vg-location-quality-icon location="product.location"></vg-location-quality-icon>
                        <vg-location-type-badge location="product.location"></vg-location-type-badge>
                    </span>
                    <button type="button" class="btn btn-block btn-primary"
                     ng-click="visitLocation(product.location)">
                        <span class="glyphicon glyphicon-hand-right"></span>
                        <span>{{ 'action.map.locationAction' | translate }}</span>
                    </button>
                </vg-accordion-item-body>
            </vg-accordion-item>
        </vg-accordion>

        <div ng-show="totalProducts > products.length">
            <p>
                {{ 'map.productList.moreProductsAvailable' | translate:{ available: totalProducts - products.length} }}
            </p>

            <p>
                <button type="button" class="btn btn-block btn-default"
                 ng-click="loadMore()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span ng-bind="'map.productList.showMore' | translate"></span>
                </button>
            </p>
        </div>
    </div>
</div>
