<form novalidate name="searchForm" class="search-form" ng-controller="SearchCtrl">
    <div class="pull-right clickable" ng-click="showSearch(false)">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
    <div class="form-group">
        <label for="addLocationSearch">{{ 'mapSearch.form.title' | translate }}</label>
        <input type="text" class="form-control" id="addLocationSearch"
         ng-model="geocoding.search" ng-model-options="{ debounce: 500 }"
         placeholder="{{ 'mapSearch.form.placeholder' | translate }}"/>
    </div>
    <ul>
        <li ng-repeat="result in geocoding.results">
            <a class="clickable" ng-click="setGeocodeResult(result) | track:'map.search':'selectResult'">
                {{ result.getDisplayName() }}
            </a>
        </li>
    </ul>
</form>
