<span class="location-quality-label">
    <span ng-if="location.getRoundedQuality() > 0"
     tooltip-placement="bottom"
     uib-tooltip="{{ 'location.quality.explanation' | translate }}
     {{ 'location.rating.average' | translate }}: {{ location.quality.average | number:1 }},
     {{ 'location.rating.numRatings' | translate }}: {{ location.quality.numRatings }}">
        <vg-icon vg-name="'veganlevel-' + location.getRoundedQuality()"></vg-icon>
    </span>
    <span ng-if="location.getRoundedQuality() === 0"
     class="location-quality-label__unknown-icon"
     tooltip-placement="bottom"
     uib-tooltip="{{ 'location.quality.noRatingExplanation' | translate }}">
        <vg-icon vg-name="'questionmark'"></vg-icon>
    </span>
</span>
