<nav class="vg-quality-filter ui-filter"
 ng-class="{ 'ui-filter--hover': $ctrl.hover }">
    <div class="ui-filter__container"
     ng-class="{ 'ui-filter__container--setting-range': $ctrl.settingRange }">
        <button class="ui-filter__item remove-btn"
         ng-repeat="quality in [0,1,2,3,4,5]"
         ng-click="$ctrl.handleFilterClick(quality)"
         ng-class="{'ui-filter__item--active': $ctrl.isQualityPartOfFilterInterval(quality),
         'ui-filter__item--active-to-right': $ctrl.isQualityPartOfFilterInterval(quality + 1),
         'ui-filter__item--active-to-left': $ctrl.isQualityPartOfFilterInterval(quality - 1)}">
            <vg-icon
             class="vg-quality-filter__quality-icon"
             vg-name="'level-' + quality + ($ctrl.isQualityPartOfFilterInterval(quality) || $ctrl.settingRange ? '-white' : '')">
            </vg-icon>
        </button>

        <div
         uib-tooltip="{{ 'globalFilters.quality.tooltip' | translate }}"
         tooltip-is-open="$ctrl.settingRange"
         tooltip-placement="bottom">
        </div>
    </div>

    <div class="ui-filter__container" ng-if="!$ctrl.isInFilterModal">
        <button class="ui-filter__item ui-filter__item--show-modal remove-btn"
         ng-click="$ctrl.locationFilterService.showFilterModal()">
            <vg-icon vg-name="'filter'"></vg-icon>
        </button>
    </div>
</nav>
