<div class="vg-create-location-pane">
    <form novalidate name="locationForm" class="vg-create-location-pane__form">
        <div ng-switch="$ctrl.createLocation.step">
            <div ng-switch-when="1">
                <label>{{ 'location.form.new.type' | translate }}</label>
                <div class="row choose-wrapper">
                    <div class="col-xs-6" ng-repeat="type in $ctrl.LOCATION_TYPES">
                        <button class="btn btn-choose"
                         ng-model="$ctrl.createLocation.newLocation.type"
                         uib-btn-radio="type">
                            <vg-location-type-icon type="type"></vg-location-type-icon>
                            {{ 'location.type.' + type | translate }}
                        </button>
                    </div>
                </div>
            </div>
            <div ng-switch-when="2">
                <label for="createLocationName">
                    {{ 'location.form.new.name.' + $ctrl.createLocation.newLocation.type | translate }}
                </label>

                <input type="text" id="createLocationName"
                 class="vg-form__input"
                 placeholder="{{ 'location.form.new.name.placeholder' | translate }}"
                 autocomplete="off"
                 ng-model="$ctrl.createLocation.newLocation.name"
                />
            </div>
            <div ng-switch-when="3">
                <button type="button" class="remove-btn vg-create-location-pane__toggle"
                 ng-class="{ 'vg-create-location-pane__toggle--opened': !$ctrl.createLocation.isMinimised }"
                 ng-click="$ctrl.createLocation.isMinimised = !$ctrl.createLocation.isMinimised">
                    <vg-icon vg-name="'chevron-big-down'"></vg-icon>
                    <span ng-show="$ctrl.createLocation.isMinimised">
                        {{ 'location.form.new.showForm' | translate }}
                    </span>
                </button>

                <vg-geocode-search-input
                 ng-hide="$ctrl.createLocation.isMinimised"
                 vg-results-model="$ctrl.geocodeSearchResults"
                 vg-label="{{ 'location.form.new.selectCoordinates' | translate }}"
                 vg-placeholder="{{ 'location.form.new.search' | translate }}"
                 vg-input-id="createLocationSearch">
                </vg-geocode-search-input>

                <vg-geocode-search-results
                 ng-hide="$ctrl.createLocation.isMinimised"
                 vg-results="$ctrl.geocodeSearchResults"
                 vg-on-select="$ctrl.onGeocodeResultSelect(result)">
                </vg-geocode-search-results>
            </div>
        </div>
        <div class="vg-create-location-pane__submit">
            <button type="submit" class="btn btn-large btn-primary btn-create-location-next"
             ng-hide="$ctrl.createLocation.isLastStep()"
             ng-disabled="!$ctrl.createLocation.stepIsValid()"
             ng-click="$ctrl.createLocation.nextStep()">
                <vg-icon vg-name="'arrow-right'" class="home-chevron-right"></vg-icon>
                <span>&nbsp;{{ 'location.form.new.next' | translate }}</span>&nbsp;
            </button>
            <button type="submit" class="btn btn-large btn-primary btn-create-location-submit"
             ng-show="$ctrl.createLocation.isLastStep()"
             ng-disabled="!$ctrl.createLocation.stepIsValid()"
             ng-click="$ctrl.onSubmit()">
                <vg-icon vg-name="'checkmark'" class="home-chevron-right"></vg-icon>
                <span>&nbsp;{{ 'location.form.new.submit' | translate }}</span>
            </button>
        </div>
    </form>

    <div class="vg-create-location-pane__footer" ng-hide="$ctrl.createLocation.isMinimised">
        <button type="button" class="remove-btn vg-create-location-pane__footer__action btn-create-location-previous"
         ng-show="$ctrl.createLocation.step > 1"
         ng-click="$ctrl.createLocation.previousStep()">
            <span class="vg-create-location-pane__footer__action__content">
                <vg-icon vg-name="'arrow-left'" class="home-chevron-right"></vg-icon>
                &nbsp;{{ 'location.form.new.previous' | translate }}
            </span>
        </button>
        <button class="remove-btn vg-create-location-pane__footer__action"
         ng-click="$ctrl.onAbort()">
            <span class="vg-create-location-pane__footer__action__content">
                <vg-icon vg-name="'cross-big'" id="cross-big"></vg-icon>
                &nbsp;{{ 'action.cancel' | translate }}
            </span>
        </button>
    </div>
</div>
