<div class="vg-location-edit-multi">
    <div class="edit-overlay">
        <div class="container edit-container">
            <img class="sky" src="img/background/space-hills-2.svg" ng-if="vm.edit">

            <div class="h3" ng-class="{'h3-edit': !vm.edit}">
                <label for="input-multiline">Lorem Ipsum </label>
            </div>
            <div class="h4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium dolor explicabo magni neque placeat quos sint voluptate! Architecto asperiores at consequatur culpa cumque error esse fuga, sapiente veritatis voluptas.</div>
            <textarea class="input-multiline" rows="3" id="input-multiline" type="text"></textarea>
            <button class="btn btn-primary btn-large">
                <vg-icon class="checkmark" vg-name="'checkmark'"></vg-icon>
                {{'location.pane.save' | translate }}
            </button>
            <div class="button-wrapper" ng-if="!vm.edit">
                <button class="remove-btn btn-edit">
                    <vg-icon class="cross-big" vg-name="'cross-big'"></vg-icon>
                    {{'location.pane.abort' | translate }}
                </button>
            </div>
            <div class="button-wrapper row" ng-if="vm.edit">
                <div class="col-xs-5">
                    <button class="remove-btn btn-edit">
                        <vg-icon class="cross-big" vg-name="'cross-big'"></vg-icon>
                        {{'location.pane.abort' | translate }}
                    </button>
                </div>
                <div class="col-xs-7">
                    <button class="remove-btn btn-edit btn-skip">
                        {{'location.pane.skip' | translate:{'from': 1, 'to': 3} }}
                        <vg-icon class="chevron-small-right" vg-name="'chevron-small-right'"></vg-icon>
                        <vg-icon class="chevron-small-right" vg-name="'chevron-small-right'"></vg-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>