<header class="vg-location-header">
    <div class="row">
        <vg-location-title
         vg-location="vm.location"
         vg-address-type="{{ vm.parentVm.addressType }}"
         vg-icons-right="false"
         class="col-xs-10">
        </vg-location-title>
        <div class="col-xs-2 edit-icon">
            <button class="remove-btn" ng-click="vm.parent.editLocation()">
                <vg-icon vg-name="'edit'"></vg-icon>
            </button>
        </div>
    </div>


    <p class="vg-location-header__description">{{vm.location.description}}</p>
    <br>
    <p class="vg-location-header__description">&Ouml;ffnungszeiten</p>

</header>
