<div class="earth-closeup-top">
    <div class="area-wrapper">
        <h1 class="h3">
            <vg-icon vg-name="'location'" class="area-overview-location"></vg-icon>
            {{ 'areaDescription.title.' + $ctrl.areaType | translate: {area: $ctrl.area.shortName} }}
        </h1>
        <button ng-if="$ctrl.lastAreaWithId" class="return-btn" ng-click="$ctrl.backToLastAreaWithId()">
            <div class="return-btn-content">
                <vg-icon vg-name="'jump-back'"></vg-icon>
                <span>{{ $ctrl.lastAreaWithId.shortName }}</span>
            </div>
        </button>
        <p>
            {{ 'areaOverview.subtitle.' + $ctrl.areaType |
                translate: {radius: $ctrl.displayRadius, area: $ctrl.area.longName} }}
        </p>
        <p class="area-location-area">
            {{ 'areaOverview.locationQualityTitle' |
                translate: {total: $ctrl.areaOverview.locations.total} }}
        </p>
        <vg-plant-rating vg-area-overview="$ctrl.areaOverview"></vg-plant-rating>
    </div>
    <div class="tile-wrapper">
        <div class="tile">
            <a href="/map/?type=gastronomy&granularity=location" class="category-wrapper">
                <div class="category-counter">{{ $ctrl.areaOverview.locations.gastronomy }}</div>
                <vg-icon class="area-overview-big-icon" vg-name="'gastronomyLocationSparkly'"></vg-icon>
                <h3 class="h4">{{ 'areaOverview.gastronomyLocations' | translate }}</h3>
            </a>
            <hr>
            <a href="/list/?type=gastronomy&granularity=location" class="class-show-list-wrapper">
                <p>
                    <vg-icon vg-name="'list'"></vg-icon>
                    <span>{{ 'areaOverview.showInList' | translate }}</span>
                </p>
            </a>
        </div>
        <div class="vertical-line"></div>
        <div class="tile">
            <a href="/map/?type=gastronomy&granularity=product" class="category-wrapper">
                <div class="category-counter">{{ $ctrl.areaOverview.products.gastronomy }}</div>
                <vg-icon class="area-overview-big-icon" vg-name="'gastronomyProductSparkly'"></vg-icon>
                <h3 class="h4">{{ 'areaOverview.gastronomyProducts' | translate }}</h3>
            </a>
            <hr>
            <a href="/list/?type=gastronomy&granularity=product" class="class-show-list-wrapper">
                <p>
                    <vg-icon vg-name="'list'"></vg-icon>
                    <span>{{ 'areaOverview.showInList' | translate }}</span>
                </p>
            </a>
        </div>
    </div>

</div>
<div class="earth-closeup-bottom">
    <div class="tile-wrapper">
        <div class="tile">
            <a href="/map/?type=retail&granularity=location" class="category-wrapper">
                <div class="category-counter">{{ $ctrl.areaOverview.locations.retail }}</div>
                <vg-icon class="area-overview-big-icon" vg-name="'retailLocationSparkly'"></vg-icon>
                <h3 class="h4">{{ 'areaOverview.retailLocations' | translate }}</h3>
            </a>
            <hr>
            <a href="/list/?type=retail&granularity=location" class="class-show-list-wrapper">
                <p>
                    <vg-icon vg-name="'list'"></vg-icon>
                    <span>{{ 'areaOverview.showInList' | translate }}</span>
                </p>
            </a>
        </div>
        <div class="vertical-line"></div>
        <div class="tile">
            <a href="/map/?type=retail&granularity=product" class="category-wrapper">
                <div class="category-counter">{{ $ctrl.areaOverview.products.retail }}</div>
                <vg-icon class="area-overview-big-icon" vg-name="'retailProductSparkly'"></vg-icon>
                <h3 class="h4">{{ 'areaOverview.retailProducts' | translate }}</h3>
            </a>
            <hr>
            <a href="/list/?type=retail&granularity=product" class="class-show-list-wrapper">
                <p>
                    <vg-icon vg-name="'list'"></vg-icon>
                    <span>{{ 'areaOverview.showInList' | translate }}</span>
                </p>
            </a>
        </div>
    </div>
</div>
