<div class="earth-closeup-top">
    <vg-plant-rating></vg-plant-rating>
    <div class="tile-wrapper">
        <div class="tile">
            <div class="category-counter">{{$ctrl.areaOverview.restaurants[0]}}</div>
            <div class="category-wrapper">
                <vg-icon class="location-svg" vg-name="'restaurant-location'"></vg-icon>
                <h3 class="h4">{{ 'areaOverview.restaurants' | translate }}</h3>
            </div>
            <hr>
            <div class="class-show-list-wrapper">
                <p ng-click="$ctrl.redirectTo(1,1)">
                    <vg-icon vg-name="'list'"></vg-icon>
                    <span>{{ 'areaOverview.showInList' | translate }}</span>
                </p>
            </div>
        </div>
        <div class="vertical-line"></div>
        <div class="tile">
            <div class="category-counter">{{$ctrl.areaOverview.restaurants[1]}}</div>
            <div class="category-wrapper">
                <vg-icon class="location-svg" vg-name="'meal-location'"></vg-icon>
                <h3 class="h4">{{ 'areaOverview.meals' | translate }}</h3>
            </div>
            <hr>
            <div class="class-show-list-wrapper">
                <p ng-click="$ctrl.redirectTo(1,2)">
                    <vg-icon vg-name="'list'"></vg-icon>
                    <span>{{ 'areaOverview.showInList' | translate }}</span>
                </p>
            </div>
        </div>
    </div>

</div>
<div class="earth-closeup-bottom">
    <div class="tile-wrapper">
        <div class="tile">
            <div class="category-counter">{{$ctrl.areaOverview.stores[0]}}</div>
            <div class="category-wrapper">
                <vg-icon class="location-svg" vg-name="'shop-location'"></vg-icon>
                <h3 class="h4">{{ 'areaOverview.stores' | translate }}</h3>
            </div>
            <hr>
            <div class="class-show-list-wrapper">
                <p ng-click="$ctrl.redirectTo(2,1)">
                    <vg-icon vg-name="'list'"></vg-icon>
                    <span>{{ 'areaOverview.showInList' | translate }}</span>
                </p>
            </div>
        </div>
        <div class="vertical-line"></div>
        <div class="tile">
            <div class="category-counter">{{$ctrl.areaOverview.stores[1]}}</div>
            <div class="category-wrapper">
                <vg-icon class="location-svg" vg-name="'product-location'"></vg-icon>
                <h3 class="h4">{{ 'areaOverview.products' | translate }}</h3>
            </div>
            <hr>
            <div class="class-show-list-wrapper">
                <p ng-click="$ctrl.redirectTo(2,2)">
                    <vg-icon vg-name="'list'"></vg-icon>
                    <span>{{ 'areaOverview.showInList' | translate }}</span>
                </p>
            </div>
        </div>
    </div>
</div>
