<div id="earth-closeup-top">
    <div class="area-wrapper">
        <h1 class="h3">
            <vg-icon vg-name="'location'" id="area-overview-location"></vg-icon>
            Place
        </h1>
        <h2 class="h4">
            {{ $ctrl.listName + '.title' | translate }}
        </h2>
        <p id="area-location-area">
            <span>{{ 'lists.area.label' | translate }}:</span>
            <span ng-if="$ctrl.wholeWorld">
            {{ 'lists.area.wholeWorld' | translate }}
        </span>
            <span ng-if="!$ctrl.wholeWorld">
            {{ 'lists.area.radius' |
            translate:{radius: $ctrl.displayRadius, place: $ctrl.displayName} }}
        </span>
        </p>
        <div class="row" id="veganlevel-wrapper">
            <div class="col-xs-2">
                <vg-icon vg-name="'veganlevel-1'"></vg-icon>
                <span class="veganlevel-number">1</span>
            </div>
            <div class="col-xs-2">
                <vg-icon vg-name="'veganlevel-2'"></vg-icon>
                <span class="veganlevel-number">1</span>
            </div>
            <div class="col-xs-2">
                <vg-icon vg-name="'veganlevel-3'"></vg-icon>
                <span class="veganlevel-number">1</span>
            </div>
            <div class="col-xs-2">
                <vg-icon vg-name="'veganlevel-4'"></vg-icon>
                <span class="veganlevel-number">1</span>
            </div>
            <div class="col-xs-2">
                <vg-icon vg-name="'veganlevel-5'"></vg-icon>
                <span class="veganlevel-number">1</span>
            </div>
        </div>
    </div>
    <div class="tile-wrapper">
        <div class="tile">
            <div class="category-counter">1</div>
            <div class="category-wrapper">
                <vg-icon class="location-svg" vg-name="'restaurant-location'"></vg-icon>
                <h3 class="h4">Restaurant</h3>
            </div>
            <hr>
            <div class="class-show-list-wrapper">
                <p>
                    <vg-icon vg-name="'list'"></vg-icon>
                    <span>In Liste anzeigen</span>
                </p>
            </div>
        </div>
        <div class="vertical-line"></div>
        <div class="tile">
            <div class="category-counter">1</div>
            <div class="category-wrapper">
                <vg-icon class="location-svg" vg-name="'meal-location'"></vg-icon>
                <h3 class="h4">Gerichte</h3>
            </div>
            <hr>
            <div class="class-show-list-wrapper">
                <p>
                    <vg-icon vg-name="'list'"></vg-icon>
                    <span>In Liste anzeigen</span>
                </p>
            </div>
        </div>
    </div>

</div>
<div id="earth-closeup-bottom">
    <div class="tile-wrapper">
        <div class="tile">
            <div class="category-counter">1</div>
            <div class="category-wrapper">
                <vg-icon class="location-svg" vg-name="'shop-location'"></vg-icon>
                <h3 class="h4">L&auml;den</h3>
            </div>
            <hr>
            <div class="class-show-list-wrapper">
                <p>
                    <vg-icon vg-name="'list'"></vg-icon>
                    <span>In Liste anzeigen</span>
                </p>
            </div>
        </div>
        <div class="vertical-line"></div>
        <div class="tile">
            <div class="category-counter">1</div>
            <div class="category-wrapper">
                <vg-icon class="location-svg" vg-name="'product-location'"></vg-icon>
                <h3 class="h4">Produkte</h3>
            </div>
            <hr>
            <div class="class-show-list-wrapper">
                <p>
                    <vg-icon vg-name="'list'"></vg-icon>
                    <span>In Liste anzeigen</span>
                </p>
            </div>
        </div>
    </div>
</div>
