<form novalidate name="activityLinkForm" class="activityLinkForm spacedForm" ng-controller="ActivityLinkCtrl" ng-show="formReady()">
    <input type="text" required class="form-control" ng-if="!target" ng-model="form.targetName"
     placeholder="{{ 'activityLink.form.targetName' | trans }}"/>
    <span ng-if="target">
        <span ng-bind="'activityLink.label.targetName' | trans"></span>: <span ng-bind="target.fullName"></span>
    </span>
    <select required class="form-control" ng-model="form.selectedActivity" ng-options="v.name for (k, v) in activities">
        <option value="">{{ 'activityLink.form.choose' | trans }}</option>
    </select>

    <button type="submit" class="btn btn-default" ng-disabled="activityLinkForm.$invalid"
     ng-click="submit()" ng-bind="'activityLink.form.submit' | trans"></button>
</form>
