<form novalidate name="editProfileForm" class="edit-profile-form" ng-controller="EditProfileCtrl">
    <!-- TODO: merge this with register.tpl.html -->
    <div class="form-group">
        <label for="editFullName">{{ 'person.label.fullName' | translate }}</label>
        <input type="text" required id="editFullName" class="form-control" ng-model="form.fullName" />
    </div>
    <div class="form-group">
        <label for="editNickname">{{ 'person.label.nickname' | translate }} ({{ 'person.label.publiclyVisible' | translate }})</label>
        <input type="text" required id="editNickname" class="form-control" ng-model="form.nickname" />
    </div>
    <div class="form-group">
        <label for="editEmail">{{ 'person.label.email' | translate }}</label>
        <input type="email" required id="editEmail" class="form-control" ng-model="form.email" />
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="changePassword" /><span>{{ 'action.profile.changePassword' | translate }}</span>
        </label>
    </div>
    <div ng-if="changePassword">
        <div class="form-group">
            <label for="editPassword">{{ 'person.label.password' | translate }}</label>
            <input type="password" required id="editPassword" class="form-control" ng-model="form.password" />
        </div>
        <div class="form-group">
            <label for="editPasswordRepeat">{{ 'person.label.passwordRepeat' | translate }}</label>
            <input type="password" required id="editPasswordRepeat" class="form-control" ng-model="form.passwordRepeat" />
        </div>
    </div>
    <button class="btn btn-default"
     ng-click="goToView('me')">{{ 'action.cancel' | translate }}</button>
    <button type="submit" class="btn btn-default pull-right"
     ng-disabled="editProfileForm.$invalid || editProfileForm.$pristine || form.password !== form.passwordRepeat"
     ng-click="submit()">{{ 'action.profile.save' | translate }}</button>
</form>
