<form novalidate name="loginForm" class="login-form spaced-form">
    <input type="email" required class="form-control" ng-model="form.email"
     placeholder="{{ 'login.form.email' | trans}}"/>
    <input type="password" required class="form-control" ng-model="form.password"
     placeholder="{{ 'login.form.password' | trans}}" />

    <button type="submit" class="btn btn-default pull-right" ng-disabled="loginForm.$invalid"
     ng-click="submit()" ng-bind="'login.form.submit' | trans"></button>
    <div class="clearfix"></div>
</form>
