<div class="form-group" vg-form-validation-class="formVm.password">
    <label for="password">{{ 'person.label.password' | translate }}</label>
    <a href="" ng-click="passwordInputVm.toggleShowPassword()" class="pull-right">
        <span ng-hide="passwordInputVm.showPassword">{{ 'register.form.showPassword' | translate }}</span>
        <span ng-show="passwordInputVm.showPassword">{{ 'register.form.hidePassword' | translate }}</span>
    </a>
    <div class="input-group">
        <input type="{{ passwordInputVm.showPassword ? 'text' : 'password' }}"
         name="password" id="password" class="form-control"
         required ng-minlength="6"
         ng-model="passwordInputVm.passwordModel"
         ng-model-options="{ updateOn: 'default blur', debounce: { default: 300, blur: 0 } }"
         />
        <vg-form-validation-icon vg-form-field="formVm.password"></vg-form-validation-icon>
    </div>
</div>
