<div class="profile page-section">
    <!-- TODO: make a directive for rendering the paragraphs ? -->
    <!-- TODO: make a smart profile display (directive? partial?) to merge this here and the info at the bottom of the social graph -->
    <p>
        <strong>{{ 'person.label.fullName' | translate }}</strong><br />
        {{ me.fullName }}
    </p>
    <p>
        <strong>{{ 'person.label.nickname' | translate }}</strong><br />
        {{ me.nickname }}
    </p>
    <p>
        <strong>{{ 'person.label.email' | translate }}</strong><br />
        {{ me.email }}
    </p>
    <p>
        <strong>{{ 'person.label.team' | translate }}</strong><br />
        <vg-team-name team="me.team"></vg-team-name>
    </p>
    <p>
        <strong>{{ 'person.label.completedMissions' | translate }}</strong><br />
        {{ me.completedMissions }}
    </p>
    <p>
        <strong>{{ 'person.label.pioneer' | translate }}</strong><br />
        {{ me.attributes.pioneer }}
    </p>
    <p>
        <strong>{{ 'person.label.diplomat' | translate }}</strong><br />
        {{ me.attributes.diplomat }}
    </p>
    <p>
        <strong>{{ 'person.label.evaluator' | translate }}</strong><br />
        {{ me.attributes.evaluator }}
    </p>
    <p>
        <strong>{{ 'person.label.gourmet' | translate }}</strong><br />
        {{ me.attributes.gourmet }}
    </p>
    <p>
        <span ng-if="me.capture.active" class="badge captured">
            <span class="glyphicon glyphicon-asterisk"></span>
            <span ng-bind="'person.label.captured'|translate"></span>
        </span>
    </p>
</div>

<button type="button" class="edit-profile btn btn-block btn-default" ng-click="goToView('me/edit')">
    <span class="glyphicon glyphicon-edit"></span>
    <span ng-bind="'action.profile.edit'|translate"></span>
</button>
