<form novalidate name="registerForm" class="register-form legacy-page">
    <p class="lead">
        {{ 'register.description' | translate }}
    </p>
    <div class="form-group" vg-form-validation-class="registerForm.email">
        <label for="email">
            {{ 'person.label.email' | translate }}
        </label>
        <div class="input-group">
            <input type="email" name="email" id="email" class="form-control"
             required
             ng-model="registerVm.form.email"
             ng-model-options="{ updateOn: 'default blur', debounce: { default: 300, blur: 0 } }"
             />
            <vg-form-validation-icon vg-form-field="registerForm.email"></vg-form-validation-icon>
        </div>
    </div>

    <div class="form-group" vg-form-validation-class="registerForm.nickname">
        <label for="nickname">
            {{ 'person.label.nickname' | translate }} ({{ 'person.label.publiclyVisible' | translate }})
        </label>
        <div class="input-group">
            <input type="text" name="nickname" id="nickname" class="form-control"
             required ng-minlength="4"
             ng-model="registerVm.form.nickname"
             ng-model-options="{ updateOn: 'default blur', debounce: { default: 300, blur: 0 } }"
             />
            <vg-form-validation-icon vg-form-field="registerForm.nickname"></vg-form-validation-icon>
        </div>
    </div>

    <button type="submit" class="btn btn-default pull-right"
     ng-disabled="registerForm.$invalid"
     ng-click="registerVm.submit()">
        {{ 'register.form.submit' | translate }}
    </button>
    <a href="login">{{ 'register.alreadyRegistered' | translate }}</a>
    <div class="clearfix"></div>
</form>
