<form novalidate name="registerForm" class="register-form spaced-form">
    <input type="email" required class="form-control" ng-model="form.email"
     placeholder="{{ 'register.form.email' | trans}}" />
    <input type="text" required class="form-control" ng-model="form.fullName"
     placeholder="{{ 'register.form.fullName' | trans}}" />
    <input type="text" required class="form-control" ng-model="form.nickname"
     placeholder="{{ 'register.form.nickname' | trans}}" />
    <input type="password" required class="form-control" ng-model="form.password"
     placeholder="{{ 'register.form.password' | trans}}" />
    <input type="password" required class="form-control" ng-model="form.passwordRepeat"
     placeholder="{{ 'register.form.passwordRepeat' | trans}}" />
    <button type="submit" class="btn btn-default" ng-disabled="registerForm.$invalid"
     ng-click="submit()" ng-bind="'register.form.submit' | trans"></button>
</form>
