@import '../../../less/variables.less';
@import '../productListItem/productListItemComponent.less';

.vg-location-products__title {
    .vg-typography-display-3();
    margin: 0;
}

.vg-location-products__title-icon {
    margin-right: 10px;
}

.vg-location-products__title-icon,
.vg-location-products__title-icon svg {
    width: 16px;
    height: 15px;
    display: inline-block;
}

.vg-location-products__title-icon path {
    fill: @color-accent-2;
}
