<header class="vg-location-header-edit">
    <div class="vg-location-header-edit__row">
        <!-- TODO: make component out of this edit button-->
        <div class="card__right-float">
            <button class="remove-btn" ng-click="$ctrl.parent.startTask('SetLocationName')">
                <span class="edit-icon">
                    <vg-icon vg-name="'pen'"></vg-icon>
                </span>
            </button>
        </div>
        <h1>{{ $ctrl.location.name }}</h1>
    </div>

    <div class="vg-location-header-edit__row">
        <div class="card__right-float">
            <button class="remove-btn" ng-click="$ctrl.parent.startTask('SetLocationType')">
                <span class="edit-icon">
                    <vg-icon vg-name="'pen'"></vg-icon>
                </span>
            </button>
        </div>

        <div class="vg-location-header-edit__row__icon">
            <vg-location-type-icon type="$ctrl.location.type"></vg-location-type-icon>
        </div>
        <div class="vg-location-header-edit__row__content">
            {{ 'location.type.' + $ctrl.location.type | translate }}
        </div>
    </div>

    <div class="vg-location-header-edit__row">
        <div class="card__right-float">
            <button class="remove-btn" ng-click="$ctrl.parent.startTask('RateLocationQuality')">
                <span class="edit-icon">
                    <vg-icon vg-name="'pen'"></vg-icon>
                </span>
            </button>
        </div>

        <div class="vg-location-header-edit__row__icon">
            <vg-location-quality-icon location="$ctrl.location"></vg-location-quality-icon>
        </div>
        <div class="vg-location-header-edit__row__content">
            {{ 'location.rating.' + $ctrl.location.getRoundedQuality() | translate }}
            <div class="text--small-note">
                {{ 'location.rating.average' | translate }}: {{ $ctrl.location.quality.average | number:1 }},
                {{ 'location.rating.numRatings' | translate }}: {{ $ctrl.location.quality.numRatings }}
            </div>
        </div>
    </div>
</header>
